<template>
    <div class="amenities">
        <div class="amenities__desc">Let guests know which amenities are available for these listings.</div>
        <div class="amenities__main" v-for="amenities in amenitiesList" :key="amenities.name">
            <div class="amenities__main__title">
                <h3 class="amenities__main__title__label">{{amenities.name}}</h3>
                <div class="amenities__main__title__desc">{{amenities.desc}}</div>
            </div>
            <div class="amenities__main__amenities" v-for="amenity in amenities.amenities" :key="amenity.label">
                <div class="amenities__main__amenities__container">
                    <div class="amenities__main__amenities__container__info">
                        <span class="amenities__main__amenities__container__info__name">{{amenity.label}}</span>
                        <div v-if="amenity.detail" class="amenities__main__amenities__container__info__desc">{{ amenity.detail }}</div>
                    </div>
                    <div class="amenities__main__amenities__container__btn-container">
                        <div class="amenities__main__amenities__container__btn-container__flex">
                            <div class="amenities__main__amenities__container__btn-container__flex__option">
                                <input type="radio" :id="String( amenity.label +'-off')" v-model="amenity.picked" :value="String( amenity.label +'-off')">
                                <label :for="String(amenity.label + '-off')" :class="amenity.picked === `${amenity.label}-off` && 'picked'"><b-icon icon="x" scale="1.5" ></b-icon></label>
                            </div>
                            <div class="amenities__main__amenities__container__btn-container__flex__option">
                                <input type="radio" :id="String(amenity.label + '-on')" v-model="amenity.picked" :value="String(amenity.label + '-on')">
                                <label :for="String(amenity.label + '-on')" :class="amenity.picked === `${amenity.label}-on` && 'picked'">
                                    <b-icon icon="check" scale="1.5"></b-icon>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    @Component
    export default class AmenitiesBody extends Vue {
        amenitiesList = [
            {
                name: 'Essential amenities',
                desc: 'These are recommended for each booking.',
                amenities: [
                    {
                        label: 'Essential',
                        detail: 'Towels, bed sheets, soap, toilet paper, and pillows',
                        picked: 'off',
                    }, 
                ]
            },
            {
                name: 'Popular amenities',
                desc: 'Most guests expect these amenities.',
                amenities: [
                    {
                        label: 'Wifi',
                        detail: 'Available throughout the listing',
                        picked: 'off',
                    }, 
                    {
                        label: 'TV',
                        detail: '',
                        picked: 'off',
                    }, 
                    {
                        label: 'Hot water',
                        detail: '',
                        picked: 'off',
                    }, 
                    {
                        label: 'Shampoo',
                        detail: '',
                        picked: 'off',
                    }, 
                    {
                        label: 'Hair dryer',
                        detail: '',
                        picked: 'off',
                    }, 
                    {
                        label: 'Smoke alarm',
                        detail: 'Check your local laws, which may require a working smoke detector in every room',
                        picked: 'off',
                    }, 
                    {
                        label: 'Fire extinguisher',
                        detail: '',
                        picked: 'off',
                    }, 
                    {
                        label: 'Carbon monoxide alarm',
                        detail: 'Check your local laws, which may require a working carbon monoxide detector in every room',
                        picked: 'off',
                    }, 
                ]
            },
            {
                name: 'Amenities for families',
                desc: 'Stand out to guests traveling with a family.',
                amenities: [
                    {
                        label: 'Kitchen',
                        detail: 'Space where guests can cook their own meals',
                        picked: 'off',
                    }, 
                    {
                        label: 'Washer',
                        detail: '',
                        picked: 'off',
                    }, 
                    {
                        label: 'Dryer',
                        detail: '',
                        picked: 'off',
                    }, 
                    {
                        label: 'High chair',
                        detail: '',
                        picked: 'off',
                    }, 
                    {
                        label: 'Crib',
                        detail: '',
                        picked: 'off',
                    }, 
                    {
                        label: 'Pack ’n play/Travel crib',
                        detail: '',
                        picked: 'off',
                    }, 
                    {
                        label: 'Children’s books and toys',
                        detail: '',
                        picked: 'off',
                    }, 
                    {
                        label: 'Pool',
                        detail: '',
                        picked: 'off',
                    }, 
                ]
            },
            {
                name: 'Amenities for work',
                desc: 'Stand out to guests traveling for work.',
                amenities: [
                    {
                        label: 'Iron',
                        detail: '',
                        picked: 'off',
                    }, 
                    {
                        label: 'Hangers',
                        detail: '',
                        picked: 'off',
                    }, 
                    {
                        label: 'Dryer',
                        detail: '',
                        picked: 'off',
                    }, 
                    {
                        label: 'Dedicated workspace',
                        detail: 'Guests have a desk or table that’s used just for working, along with a comfortable chair.',
                        picked: 'off',
                    }, 
                    {
                        label: 'Luggage dropoff allowed',
                        detail: "For guests' convenience when they have early arrival or late departure",
                        picked: 'off',
                    }, 
                    {
                        label: 'Long term stays allowed',
                        detail: 'Allow stay for 28 days or more',
                        picked: 'off',
                    }, 
                ]
            },
        ]
    }
</script>

<style lang="scss" scoped>
.picked {
    background: #000 !important;
    color: #fff !important;
    border: 1px solid #000 !important;
}
.amenities {

    &__desc {
        font-size: 18px;
        line-height: 22px;
        color: rgb(113, 113, 113);
        margin-bottom: 40px;
    }

    &__main {
        margin-bottom: 24px;

        &__title {
            margin-bottom: 24px;

            &__label {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                color: rgb(34, 34, 34);
                margin: 0;
            }

            &__desc {
                font-size: 14px;
                line-height: 18px;
                color: rgb(113, 113, 113);
            }
        }

        &__amenities {
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid rgb(235, 235, 235);

            &:last-child{
                margin-bottom: 0;
            }

            &__container {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                &__info {
                    font-size: 16px;
                    line-height: 20px;
                    color: rgb(34, 34, 34);
                    padding-top: 6px;
                    margin-bottom: 0;

                    &__desc {
                        font-size: 14px;
                        line-height: 18px;
                        color: rgb(113, 113, 113);
                    }
                }

                &__btn-container {
                    height: 32px;

                    &__flex {
                        display: inline-flex;
                        width: 80px;
                        justify-content: space-between;

                        &__option {
                            position: relative;

                            input {
                                border: 0;
                                clip: rect(0,0,0,0);
                                clip-path: inset(100%);
                                height: 1px;
                                overflow: clip;
                                padding: 0;
                                position: absolute;
                                white-space: nowrap;
                                width: 1px;
                            }

                            label {
                                display: flex;
                                cursor: pointer;
                                color: rgb(113, 113, 113);
                                border: 1px solid rgb(176, 176, 176);
                                height: 32px;
                                width: 32px;
                                contain: layout;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50%;
                                background: #fff;

                                &:hover {
                                    border-color: rgb(34, 34, 34);
                                    color: rgb(34, 34, 34);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
</style>