<template>
    <div class="cancellation-policy">
        <div class="cancellation-policy__desc">Which cancellation options do you want to offer guests?</div>
        <div class="cancellation-policy__detail">
            <div class="cancellation-policy__detail__title">
                <h3 class="cancellation-policy__detail__title__label">Standard cancellation policy</h3>
                <div class="cancellation-policy__detail__title__desc">Choose the policy that will apply to stays under 28 days.</div>
            </div>
            <div class="cancellation-policy__detail__choice" :class="isStandardFocus && 'focus'" v-click-outside="() => isStandardFocus = false">
                <select class="cancellation-policy__detail__choice__selection" name="cancellationPolicy" id="cancellationPolicy" v-model="selectedStandard" @focus="() => isStandardFocus = true">
                    <option value disabled></option>
                    <option v-for="standard in standardList" :key="standard.value" :value="standard.value">{{standard.label}}</option>
                </select>
                <div class="cancellation-policy__detail__choice__icon">
                    <b-icon icon="chevron-down" class="icon"></b-icon>
                </div>
            </div>
            <div class="cancellation-policy__detail__info" v-if="selectedStandard">
                <div class="cancellation-policy__detail__info__label">Cancellation Policy Term: </div>
                <div class="cancellation-policy__detail__info__desc">{{ descStandard }}</div>
            </div>
        </div>
        <div class="cancellation-policy__detail">
            <div class="cancellation-policy__detail__title">
                <h3 class="cancellation-policy__detail__title__label">Long-term stay cancellation policy</h3>
                <div class="cancellation-policy__detail__title__desc">Choose the policy that will apply to stays 28 nights or longer.</div>
            </div>
            <div class="cancellation-policy__detail__choice" :class="isLongTermFocus && 'focus'" v-click-outside="() => isLongTermFocus = false">
                <select class="cancellation-policy__detail__choice__selection" name="cancellationPolicy" id="cancellationPolicy" v-model="selectedLongTerm" @focus="() => isLongTermFocus = true">
                    <option value disabled selected></option>
                    <option v-for="longTerm in longTermList" :key="longTerm.value" :value="longTerm.value">{{longTerm.label}}</option>
                </select>
                <div class="cancellation-policy__detail__choice__icon">
                    <b-icon icon="chevron-down" class="icon"></b-icon>
                </div>
            </div>
            <div class="cancellation-policy__detail__info" v-if="selectedLongTerm">
                <div class="cancellation-policy__detail__info__label">Cancellation Policy Term: </div>
                <div class="cancellation-policy__detail__info__desc">{{ descLongTerm }}</div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    @Component
    export default class CancellationPolicyBody extends Vue {
        standardList = [
            {
                label: 'Flexible',
                value: 3,
                desc: ' Full refund 1 day prior to arrival'
            },
            {
                label: 'Moderate',
                value: 4,
                desc: ' Full refund 5 days prior to arrival'
            },
            {
                label: 'Strict',
                value: 44,
                desc: ' Full refund for cancellations made within 48 hours of booking, if the check-in date is at least 14 days away. 50% refund for cancellations made at least 7 days before check-in. No refunds for cancellations made within 7 days of check-in.'
            },
            {
                label: 'Flexible or Non-refundable',
                value: 45,
                desc: ' In addition to Flexible, offer a non-refundable option—guests pay 10% less, but you keep your payout no matter when they cancel.'
            },
            {
                label: 'Moderate or Non-refundable',
                value: 55,
                desc: ' In addition to Moderate, offer a non-refundable option—guests pay 10% less, but you keep your payout no matter when they cancel.'
            },
            {
                label: 'Firm',
                value: 62,
                desc: ' Full refund for cancellations up to 30 days before check-in. If booked fewer than 30 days before check-in, full refund for cancellations made within 48 hours of booking and at least 14 days before check-in. After that, 50% refund up to 7 days before check-in. No refund after that.'
            },
            {
                label: 'Strict or Non-refundable',
                value: 95,
                desc: ' In addition to Strict, offer a non-refundable option—guests pay 10% less, but you keep your payout no matter when they cancel.'
            },
            {
                label: 'Firm or Non-refundable',
                value: 113,
                desc: ' In addition to Firm, offer a non-refundable option—guests pay 10% less, but you keep your payout no matter when they cancel.'
            },
        ]
        longTermList = [
            {
                label: 'Strict',
                value: 52,
                desc: ' Full refund if cancelled within 48 hours of booking and at least 28 days before check-in. After that, the first 30 days of the stay are non-refundable.'
            },
            {
                label: 'Flexible',
                value: 64,
                desc: ' Full refund up to 30 days before check-in. After that, the first 30 days of the stay are non-refundable.'
            },
        ]

        selectedStandard = 0;
        selectedLongTerm = 0;

        isStandardFocus = false
        isLongTermFocus = false

        get descStandard() {
            let item: any = this.standardList.find(item => item.value === this.selectedStandard)
            return item.desc
        }
        get descLongTerm() {
            let item: any = this.longTermList.find(item => item.value === this.selectedLongTerm)
            return item.desc
        }
    }
</script>

<style lang="scss" scoped>
.focus {
    box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset !important;
}
.icon {
    stroke: currentColor;
    stroke-width: 1;
}
.cancellation-policy{
    &__desc {
        font-size: 16px;
        line-height: 20px;
        color: rgb(113, 113, 113);
        margin-bottom: 20px;
    }

    &__detail {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(235, 235, 235);

        &__title {
            margin-bottom: 15px;

            &__label {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                color: rgb(34, 34, 34);
                margin: 0;
            }

            &__desc {
                font-size: 14px;
                line-height: 18px;
                color: rgb(113, 113, 113);
            }
        }

        &__choice {
            position: relative;
            display: flex;
            width: 100%;
            margin: 0px;
            border: none;
            color: rgb(34, 34, 34);
            background: #fff;
            border-radius: 8px;
            box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;

            &__selection {
                min-height: 56px;
                width: 100%;
                border: none;
                outline: none;
                margin: 0;
                padding: 18px 36px 18px 12px;
                background: transparent;
                color: inherit;
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
                appearance: none;
            }

            &__icon {
                position: absolute;
                right: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                max-width: 50%;
                min-width: 36px;
                padding-right: 12px;
                color: rgb(34, 34, 34);
            }
        }

        &__info {
            font-size: 14px;
            line-height: 18px;
            padding: 24px;
            border-radius: 8px;
            border: 1px solid rgb(113, 113, 113);
            margin-top: 24px;

            &__label {
                color: #000;
                font-weight: bold;
                display: inline;
            }

            &__desc {
                color: rgb(113, 113, 113);
                display: inline;
            }
        }
    }
}
</style>