<template>
    <div class="discount">
        <div class="discount__desc">Encourage travelers to book longer stays by offering a discount.</div>
        <div class="discount__input-group">
            <label for="weekly-discount" class="discount__input-group__label">Weekly discount</label>
            <div class="discount__input-group__input-container" v-click-outside="() => isWeeklyFocus = false">
                <div class="discount__input-group__input-container__flex" :class="isWeeklyFocus && 'focus'">
                    <input type="number" name="weekly-discount" id="weekly-discount" @focus="() => isWeeklyFocus = true">
                    <span>%</span>
                </div>
            </div>
        </div>
        <div class="discount__input-group">
            <label for="monthly-discount" class="discount__input-group__label">Monthly discount</label>
            <div class="discount__input-group__input-container" v-click-outside="() => isMonthlyFocus = false">
                <div class="discount__input-group__input-container__flex" :class="isMonthlyFocus && 'focus'">
                    <input type="number" name="monthly-discount" id="monthly-discount" @focus="() => isMonthlyFocus = true">
                    <span>%</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    @Component
    export default class DiscountsBody extends Vue {
        isWeeklyFocus = false;
        isMonthlyFocus = false;
    }
</script>

<style lang="scss" scoped>
.focus {
    box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset !important;
}
.discount {

    &__desc {
        font-size: 18px;
        line-height: 22px;
        color: rgb(113, 113, 113);
        margin-bottom: 40px;
    }
    
    &__input-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        flex-direction: column;

        &__label {
            font-size: 16px;
            line-height: 20px;
            color: rgb(34, 34, 34);
            margin-bottom: 8px;
        }

        &__input-container {
            margin-bottom: 0;

            &__flex {
                position: relative;
                display: flex;
                cursor: text;
                min-height: 56px;
                width: 100%;
                margin: 0;
                border: none;
                color: rgb(34, 34, 34);
                background: #fff;
                border-radius: 8px;
                box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    padding: 0 0 18px;
                    margin: 18px 12px 0;
                    min-height: 1px;
                    color: inherit;
                    background-color: transparent;
                    font-size: inherit;
                    font-weight: inherit;
                    line-height: inherit;
                    appearance: none;
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                input[type=number] {
                    -moz-appearance: textfield;
                }

                span {
                    padding-top: 18px;
                    position: static;
                    overflow: hidden;
                    width: 10%;
                    padding-bottom: 18px;
                }
            }
        }
    }
}
</style>