<template>
    <div class="edit-detail">
        <div class="edit-detail__header">
            <button @click="goBack">
                <b-icon icon="chevron-left" class="icon"></b-icon>
            </button>
            <div class="edit-detail__header__title">{{ currentComponent.label }}</div>
        </div>
        <div class="edit-detail__main">
            <div class="edit-detail__main__container" >
                <component v-bind:is="currentComponent.component_name" ref="component"></component>
            </div>
        </div>
        <div class="edit-detail__footer">
            <button class="edit-detail__footer__btn-back" @click="goBack">Back</button>
            <button class="edit-detail__footer__btn-save" disabled>Save</button>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Discounts from './DiscountsBody.vue'
import Cancellation from './CancellationPolicyBody.vue'
import Amenities from './AmenitiesBody.vue'
import Fees from './FeesAndChargesBody.vue'
import TripLength from './TripLengthBody.vue'
import Location from './LocationBody.vue'
import Rules from './HouseRulesBody.vue'
import Property from './PropertyTypeBody.vue'

@Component({
    components: {
        Discounts, Cancellation, Amenities, Fees, TripLength, Location, Rules, Property,
    }
})
export default class EditListingDetailModal extends Vue {
    @Prop({ type: Object }) currentComponent!: any;

    goBack() {
        this.$emit('close-editing-details', false)
    }
}
</script>

<style lang="scss" scoped>
.edit-detail {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    padding: 0;

    @media screen and (min-width: 744px) {
        padding: 0;
    }

    @media screen and (min-width: 506px) {
        overflow: unset;
    }

    &__header {
        z-index: 5;
        padding: 24px 24px 16px 24px;
        width: 100%;
        display: flex;
        align-items: baseline;
        background: #fff;
        justify-content: flex-start;
        height: 64px;
        margin-bottom: 10px;

        @media screen and (min-width: 744px) {
            height: 72px;
            padding-top: 32px;
        }

        &__title {
            font-size: 22px;
            line-height: 26px;
            flex-grow: 1;
            font-weight: 600;
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-left: 24px
        }

        button {
            appearance: none;
            display: inline;
            border-radius: 50%;
            border: none;
            padding: 0;
            margin: 0;
            margin-left: -13px;
            color: #222222;
            position: relative;
            background: transparent;
            transition: -ms-transform 0.25s ease 0s,
                -webkit-transform 0.25s ease 0s,
                transform 0.25s ease 0s;
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40px;
                height: 40px;
                border-radius: 50%;
                z-index: -1;
            }

            &:hover::before {
                background: rgb(252, 252, 252);
            }

            .icon {
                stroke: currentColor;
                stroke-width: 1;
            }
        }
    }

    &__main {
        z-index: 1;
        min-height: 0;
        padding-left: 0;
        padding-right: 0;
        flex: 1 0 auto;

        @media screen and (min-width: 560px) {
            flex: 1 1 0%;
            overflow: auto;
        }

        &__container {
            margin-left: 24px;
            margin-right: 24px;

        }
    }

    &__footer {
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 56px;
        justify-content: space-between;
        margin-bottom: 120px;

        @media screen and (min-width: 744px) {
            height: 64px;
        }

        &__btn-back {
            display: inline-block;
            margin: 0;
            position: relative;
            border: none;
            background: transparent;
            color: #222222;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            border-radius: 8px;
            outline: none;
            padding: 11px 22px;
            text-decoration: underline;
            
            &:hover {
                color: #000;
            }
        }

        &__btn-save {
            display: inline-block;
            margin: 0;
            position: relative;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            border-radius: 8px;
            outline: none;
            padding: 14px 24px;
            border: none;
            background: #222222;
            color: #fff;

            &:hover {
                background: #000;
            }

            &:disabled {
                cursor: not-allowed;
                opacity: 1;
                border: none;
                background: #dddddd;
                color: #fff;
            }
        }
    }
}
</style>