<template>
    <div class="edit-listings">
        <div class="edit-listings__container">
            <div class="edit-listings__container__flex" v-if="!isEditDetails">
                <div class="edit-listings__container__flex__header">
                    <div class="edit-listings__container__flex__header__title">Edit {{ numListingsEdit }} listing(s)</div>
                    <button @click="closeEditing"><b-icon icon="x-lg"></b-icon></button>
                </div>
                <div class="edit-listings__container__flex__main">
                    <div class="edit-listings__container__flex__main__container"  v-if="numListingsEdit != 0">
                        <div class="edit-listings__container__flex__main__container__item" v-for="(editItem, index) in editList" :key="index">
                            <h3 class="edit-listings__container__flex__main__container__item__title">{{editItem.title}}</h3>
                            <button class="edit-listings__container__flex__main__container__item__btn-container" v-for="(item, index) in editItem.items" :key="index" @click="() => changeCurrentComponent(item)">
                                <div class="edit-listings__container__flex__main__container__item__btn-container__content">
                                    <div class="edit-listings__container__flex__main__container__item__btn-container__content__label">
                                        <img v-if="item.icon" :src="require(`~/assets/icons/${item.icon}.svg`)" alt="">
                                        <span>{{item.label}}</span>
                                    </div>
                                    <b-icon icon="chevron-right" class="edit-listings__container__flex__main__container__item__btn-container__content__icon"></b-icon>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="edit-listings__container__flex__main__container" v-else>
                        <div class="edit-listings__container__flex__main__container__no-listings" >
                            <div class="edit-listings__container__flex__main__container__no-listings__title">No results found</div>
                            <div class="edit-listings__container__flex__main__container__no-listings__content">
                                Some settings can only be edited in a listing’s detail page. Try searching for something else or editing a
                                single
                                listing.
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="edit-listings__container__flex__footer">
                    <button class="edit-listings__container__flex__footer__btn-done" @click="updateListings">Done</button>
                </div>
            </div>
            <edit-listing-detail-modal v-else :currentComponent="currentComponent" @close-editing-details="closeEditDetails"/>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import EditListingDetailModal from './EditListingDetailModal.vue'

@Component({
    components: {
        EditListingDetailModal,
    }
})
export default class EditListings extends Vue {
    @Prop({ type: Number }) numListingsEdit!: Number;
    editList = [
        {
            title: 'shortcuts',
            items: [
                {
                    label: 'Length-of-stay discounts',
                    component_name: 'discounts',
                    icon: 'discounts'
                },
                {
                    label: 'Cancellation policy',
                    component_name: 'cancellation',
                    icon: 'policy'
                },
                {
                    label: 'Amenities',
                    component_name: 'amenities',
                    icon: 'amenities'
                },
            ]
        },
        {
            title: 'pricing',
            items: [
                {
                    label: 'Fees and charges',
                    component_name: 'fees',
                    icon: ''
                },
                {
                    label: 'Length-of-stay discounts',
                    component_name: 'discounts',
                    icon: ''
                },
            ]
        },
        {
            title: 'listing details',
            items: [
                {
                    label: 'Amenities',
                    component_name: 'amenities',
                    icon: ''
                },
                {
                    label: 'Location',
                    component_name: 'location',
                    icon: ''
                },
                {
                    label: 'Property type',
                    component_name: 'property',
                    icon: ''
                },
            ]
        },
        {
            title: 'booking settings',
            items: [
                {
                    label: 'Cancellation policy',
                    component_name: 'cancellation',
                    icon: ''
                },
                {
                    label: 'House rules',
                    component_name: 'rules',
                    icon: ''
                },
                {
                    label: 'Trip length',
                    component_name: 'trip-length',
                    icon: ''
                },
            ]
        },
    ]
    currentComponent = {};
    isEditDetails = false;

    closeEditing() {
        this.$emit('close-editing', false)
    }

    updateListings() {
        this.$emit('close-editing', false)
    }

    changeCurrentComponent(value) {
        this.currentComponent = value;
        this.isEditDetails = true;
        this.$emit('change-editing-detail', this.isEditDetails)
    }

    closeEditDetails() {
        this.currentComponent = '';
        this.isEditDetails = false;
        this.$emit('change-editing-detail', this.isEditDetails)
    }
}
</script>

<style lang="scss" scoped>
.edit-listings{
    z-index: 99;
    position: fixed;
    overflow: hidden;
    width: 375px;
    top: 70px;
    right: 0;
    height: 100vh;

    &__container {
        position: absolute;
        background: #fff;
        inset: 0;
        border-bottom: 1px solid rgb(235, 235, 235);
        border-left: 1px solid rgb(235, 235, 235);
        overflow: hidden;

        &__flex {
            display: flex;
            flex-direction: column;
            height: 100vh;
            overflow: auto;
            padding: 0;

            @media screen and (min-width: 744px){
                padding: 0;
            }
            @media screen and (min-width: 506px){
                overflow: unset; 
            }

            &__header {
                z-index: 5;
                padding: 24px 24px 16px 24px;
                width: 100%;
                display: flex;
                align-items: baseline;
                background: #fff;
                justify-content: flex-start;

                @media screen and (min-width: 744px){
                    height: 72px;
                    padding-top: 32px;
                }

                &__title {
                    font-size: 22px;
                    line-height: 26px;
                    flex-grow: 1;
                    font-weight: 600;
                    min-width: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                button {
                    appearance: none;
                    display: inline;
                    border-radius: 50%;
                    border: none;
                    padding: 0;
                    margin: 0;
                    color: #222222;
                    position: relative;
                    background: transparent;
                    transition: -ms-transform 0.25s ease 0s,
                        -webkit-transform 0.25s ease 0s,
                        transform 0.25s ease 0s;
                    width: 40px;
                    height: 40px;
                    justify-content: center;
                    align-items: center;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        z-index: -1;
                    }

                    &:hover::before {
                        background: rgb(252, 252, 252);
                    }
                }
            }

            &__main {
                z-index: 1;
                min-height: 0;
                padding-left: 0;
                padding-right: 0;
                flex: 1 0 auto;

                @media screen and (min-width: 560px) {
                    flex: 1 1 0%;
                    overflow: auto;
                }

                &__container{
                    margin-left: 24px;
                    margin-right: 24px;

                    &__item {
                        display: flex;
                        flex-direction: column;
                        margin-top: 32px;
                        padding-bottom: 8px;
                        border-bottom: 1px solid rgb(221, 221, 221);

                        &__title {
                            font-size: 12px;
                            line-height: 16px;
                            color: rgb(113, 113, 113);
                            font-weight: 800;
                            text-transform: uppercase;
                            margin-bottom: 8px;
                            margin-top: 0px;
                        }

                        &__btn-container {
                            position: relative;
                            border-radius: 2px;
                            outline: none;
                            transition: box-shadow 0.2s ease 0s,
                                -ms-transform 0.1s ease 0s,
                                -webkit-transform 0.1s ease 0s,
                                transform 0.1s ease 0s !important;
                            background: transparent;
                            border: none;
                            display: block;
                            margin: 0;
                            padding: 0;
                            height: 100%;
                            width: 100%;

                            &__content {
                                font-size: 16px;
                                line-height: 20px;
                                color: rgb(34, 34, 34);
                                padding: 24px 0;
                                display: flex;
                                justify-content: space-between;

                                &:hover {
                                    background: rgb(247, 247, 247);
                                    box-shadow: rgb(247 247 247) -12px 0px 0px 0px,
                                        rgb(247 247 247) 12px 0px 0px 0px !important;
                                    border-radius: 8px;
                                }

                                &__label {
                                    display: flex;

                                    img {
                                        display: block;
                                        height: 20px;
                                        width: 20px;
                                        fill: currentColor;
                                    }

                                    span {
                                        margin-left: 16px;
                                    }
                                }

                                &__icon {
                                    display: block;
                                    height: 16px;
                                    width: 16px;
                                    stroke: currentColor;
                                    stroke-width: 1;
                                    overflow: visible;
                                }
                            }
                        }
                    }

                    &__no-listings {
                        width: 100%;
                        text-align: center;
                        padding-top: 20px;
                        border-top: 1px solid rgb(221, 221, 221);

                        &__title {
                            font-size: 18px;
                            line-height: 24px;
                            font-weight: 800;
                            color: rgb(34, 34, 34);
                            margin-top: 8px;
                            margin-bottom: 8px;
                        }

                        &__content {
                            font-size: 14px;
                            line-height: 18px;
                            color: rgb(113, 113, 113);
                            padding: 0 5px;
                        }
                    }
                }
            }

            &__footer {
                padding-left: 24px;
                padding-right: 24px;
                width: 100%;
                align-items: center;
                display: flex;
                flex-shrink: 0;
                height: 56px;
                justify-content: space-between;
                margin-bottom: 120px;

                @media screen and (min-width: 744px) {
                    height: 64px;
                }
                
                &__btn-done {
                    display: inline-block;
                    margin: 0;
                    position: relative;
                    text-align: center;
                    text-decoration: none;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 600;
                    border-radius: 8px;
                    outline: none;
                    padding: 11px 22px;
                    transition: box-shadow 0.2s ease 0s,
                        -ms-transform 0.1s ease 0s,
                        -webkit-transform 0.1s ease 0s,
                        transform 0.1s ease 0s !important;
                    border: none;
                    background: #222222;
                    color: #fff;
                    width: 100%;
                }
            }
        }
    }
}
</style>