<template>
    <div class="btn-card">
        <button class="btn-card__edit" @click="openEditing">
            <div class="btn-card__edit__container">
                <div class="btn-card__edit__container__listing-count">
                    <span>{{ numListingsEdit }}</span> listing(s) selected
                </div>
                <div class="btn-card__edit__container__label">Edit</div>
            </div>
        </button>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class EditListingButton extends Vue {
    @Prop({ type: Number }) numListingsEdit!: Number;

    openEditing() {
        this.$emit('open-editing', true);
    }
}
</script>

<style lang="scss" scoped>
.btn-card{
    margin-left: 50%;
    color: #fff;
    background: rgb(34, 34, 34);
    border-radius: 50px;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    padding: 8px 16px;
    max-width: 100%;
    position: absolute;
    bottom: 48px;
    transform: translate(-50%);
    white-space: nowrap;
    height: 60px;
    z-index: 100;

    @media screen and (min-width: 744px) {
        min-width: 300px;
        max-width: 800px;
    }

    &__edit {
        position: relative;
        border-radius: 2px;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        outline: none;
        transition: box-shadow 0.2s ease 0s,
            -ms-transform 0.1s ease 0s,
            -webkit-transform 0.1s ease 0s,
            transform 0.1s ease 0s !important;
        background: transparent;
        border: none;
        color: inherit;
        display: block;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;

        &__container {
            align-items: center;
            display: flex;
            justify-content: space-between;

            @media screen and (min-width: 744px) {
                margin: 12px;
            }

            &__listing-count {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;

                span {
                    border-radius: 32px;
                    background: #fff;
                    color: rgb(34, 34, 34);
                    padding: 0 8px;
                    margin-right: 4px;
                }
            }

            &__label {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                text-decoration: underline;
                margin-left: auto;
                padding-left: 8px;
            }
        }
    }
}
</style>