<template>
    <div class="fees-charges">
        <div class="fees-charges__desc">Fees and charges are added to the total price for guests. You may want to adjust the nightly price to reflect your
        changes.</div>
        <div class="fees-charges__input-group">
            <label for="weekly-discount" class="fees-charges__input-group__label">Cleaning fee</label>
            <div class="fees-charges__input-group__input-container">
                <div class="fees-charges__input-group__input-container__flex" :class="isCleaningFocus && 'focus'" v-click-outside="() => isCleaningFocus = false">
                    <div class="fees-charges__input-group__input-container__flex__currency" v-if="isCleaningFocus">₫</div>
                    <input type="number" name="weekly-discount" id="weekly-discount"
                        @focus="() => isCleaningFocus = true">
                </div>
                <div class="fees-charges__input-group__input-container__desc">
                    <div class="fees-charges__input-group__input-container__desc__value">This fee will apply to every reservation.</div>
                </div>
            </div>
        </div>
        <div class="fees-charges__input-group">
            <label for="weekly-discount" class="fees-charges__input-group__label">Security deposit</label>
            <div class="fees-charges__input-group__input-container">
                <div class="fees-charges__input-group__input-container__flex" :class="isSecurityFocus && 'focus'" v-click-outside="() => isSecurityFocus = false">
                    <div class="fees-charges__input-group__input-container__flex__currency" v-if="isSecurityFocus">₫</div>
                    <input type="number" name="weekly-discount" id="weekly-discount"
                        @focus="() => isSecurityFocus = true">
                </div>
                <div class="fees-charges__input-group__input-container__desc">
                    <div class="fees-charges__input-group__input-container__desc__value">If you submit a damage claim within 14 days of checkout, guests will be responsible for damages up to this amount.</div>
                </div>
            </div>
        </div>
        <div class="fees-charges__input-group">
            <label for="weekly-discount" class="fees-charges__input-group__label">Extra guests</label>
            <div class="fees-charges__input-group__input-container">
                <div class="fees-charges__input-group__input-container__flex" :class="isExtraGuestFocus && 'focus'" v-click-outside="() => isExtraGuestFocus = false">
                    <div class="fees-charges__input-group__input-container__flex__currency" v-if="isExtraGuestFocus">₫</div>
                    <input type="number" name="weekly-discount" id="weekly-discount"
                        @focus="() => isExtraGuestFocus = true">
                </div>
                <div class="fees-charges__input-group__input-container__desc">
                    <div class="fees-charges__input-group__input-container__desc__value">After more than: 1 guest, charge ₫10 per person, per night.</div>
                </div>
                <div class="fees-charges__input-group__input-container__extra">
                    <div class="fees-charges__input-group__input-container__extra__label">For each guest after</div>
                    <div class="fees-charges__input-group__input-container__extra__amount">
                        <div class="fees-charges__input-group__input-container__extra__amount__flex">
                            <button class="btn-round" v-if="extra_guest !== 1"><b-icon icon="dash-lg" scale="0.8" @click="changeAmountExtraGuest('dec')"></b-icon></button>
                            <button class="btn-round" v-else disabled><b-icon icon="dash-lg" scale="0.8"></b-icon></button>
                            <div class="fees-charges__input-group__input-container__extra__amount__flex__value">{{extra_guest}}</div>
                            <button class="btn-round" @click="changeAmountExtraGuest('inc')">
                                <b-icon icon="plus-lg" scale="0.8"></b-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class FeesAndChargesBody extends Vue {
    isCleaningFocus = false;
    isSecurityFocus = false;
    isExtraGuestFocus = false;

    extra_guest = 1

    changeAmountExtraGuest(type) {
        if (type === 'inc') {
            this.extra_guest += 1;
        }
        if (type === 'dec') {
            this.extra_guest -= 1;
        }
    }
}
</script>

<style lang="scss" scoped>
.btn-round {
    width: 32px;
    height: 32px;
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(176 176 176);
    outline: none;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    color: rgb(113, 113, 113);

    &:disabled {
        cursor: not-allowed;
        color: rgb(235, 235, 235);
        border-color: rgb(235, 235, 235);
        background: #fff;
    }

    &:hover {
        color: rgb(34, 34, 34);
        border-color: rgb(34, 34, 34);
    }

    &:hover:disabled {
        color: rgb(235, 235, 235);
        border-color: rgb(235, 235, 235);
    }
}
.focus {
    box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset !important;
}

.fees-charges {

    &__desc {
        font-size: 18px;
        line-height: 22px;
        color: rgb(113, 113, 113);
        margin-bottom: 40px;
    }

    &__input-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        flex-direction: column;

        &__label {
            font-size: 16px;
            line-height: 20px;
            color: rgb(34, 34, 34);
            margin-bottom: 8px;
        }

        &__input-container {
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid rgb(235, 235, 235);

            &:last-child {
                margin-bottom: 0px;
            }

            &__flex {
                position: relative;
                display: flex;
                cursor: text;
                min-height: 56px;
                width: 100%;
                margin: 0;
                border: none;
                color: rgb(34, 34, 34);
                background: #fff;
                border-radius: 8px;
                box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    padding: 0 0 18px;
                    margin: 18px 12px 0;
                    min-height: 1px;
                    color: inherit;
                    background-color: transparent;
                    font-size: inherit;
                    font-weight: inherit;
                    line-height: inherit;
                    appearance: none;
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                input[type=number] {
                    -moz-appearance: textfield;
                }

                &__currency {
                    padding-top: 18px;
                    padding-bottom: 18px;
                    padding-left: 12px;
                    margin-right: -6px;
                    color: rgb(113, 113, 113);
                    font-size: 22px;
                }
            }

            &__desc {
                margin-top: 8px;

                &__value {
                    display: flex;
                    color: rgb(113, 113, 113);
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: 400;
                }
            }

            &__extra {
                align-items: flex-start;
                justify-content: space-between;
                display: flex;
                margin-top: 24px;

                &__label {
                    font-size: 16px;
                    line-height: 20px;
                    color: rgb(34, 34, 34);
                    padding-top: 6px;
                    margin-bottom: 0;
                }

                &__amount {
                    height: 32px;

                    &__flex {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 104px;
                        height: 32px;
                        color: rgb(34, 34, 34);
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;

                        &__value {
                            position: relative;
                            color: inherit;
                            font-size: inherit;
                            line-height: inherit;
                        }
                    }
                }
            }
        }
    }
}
</style>