<template>
    <div class="filters-options">
        <div class="filters-options__amount-options" v-if="current === 'rooms-beds'">
            <div class="filters-options__amount-options__box">
                <div class="filters-options__amount-options__box__flex">
                    <span class="filters-options__amount-options__box__flex__label">Bedrooms</span>
                    <div class="filters-options__amount-options__box__flex__amount-container">
                        <button class="btn-round" disabled><b-icon icon="dash-lg"></b-icon></button>
                        <span>0</span>
                        <button class="btn-round"><b-icon icon="plus-lg"></b-icon></button>
                    </div>
                </div>
            </div>
            <div class="filters-options__amount-options__box">
                <div class="filters-options__amount-options__box__flex">
                    <span class="filters-options__amount-options__box__flex__label">Beds</span>
                    <div class="filters-options__amount-options__box__flex__amount-container">
                        <button class="btn-round" disabled><b-icon icon="dash-lg"></b-icon></button>
                        <span>0</span>
                        <button class="btn-round"><b-icon icon="plus-lg"></b-icon></button>
                    </div>
                </div>
            </div>
            <div class="filters-options__amount-options__box">
                <div class="filters-options__amount-options__box__flex">
                    <span class="filters-options__amount-options__box__flex__label">Baths</span>
                    <div class="filters-options__amount-options__box__flex__amount-container">
                        <button class="btn-round" disabled><b-icon icon="dash-lg"></b-icon></button>
                        <span>0</span>
                        <button class="btn-round"><b-icon icon="plus-lg"></b-icon></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="filters-options__check-options" v-if="current === 'amenities'">
            <div class="filters-options__check-options__box" v-for="(amenity, index) in amenitiesCheckList" :key="index">
                <input type="checkbox" :name="amenity" :id="amenity" class="filters-options__check-options__box__input">
                <label :for="amenity" class="filters-options__check-options__box__label">{{ amenity }}</label>
            </div>
        </div>
        <div class="filters-options__check-options one-column" v-if="current === 'status'">
            <div class="filters-options__check-options__box" v-for="(status, index) in statusCheckList" :key="index">
                <input type="checkbox" :name="status" :id="status" class="filters-options__check-options__box__input">
                <label :for="status" class="filters-options__check-options__box__label">{{ status }}</label>
            </div>
        </div>
        <div class="filters-options__check-options one-column" v-if="current === 'others'">
            <div class="filters-options__check-options__box" v-for="(others, index) in othersCheckList" :key="index">
                <input type="checkbox" :name="others" :id="others" class="filters-options__check-options__box__input">
                <label :for="others" class="filters-options__check-options__box__label">{{ others }}</label>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class FiltersOptions extends Vue {
    @Prop({ type: String }) current!: String;

    amenitiesCheckList = ['Kitchen', 'Pool', 'Air conditioning', 'Hot tub', 'Heating', 'Wifi', 'Washer', 'Dryer', 'Patio or balcony', 'Patio or balcony']
    statusCheckList = ['Listed', 'Unlisted', 'In progress']
    othersCheckList = ['Instant Book off', 'Listing updates required']
}
</script>

<style lang="scss" scoped>
.one-column {
    columns: auto 1 !important;
}
.filters-options {
    &__amount-options {
        &__box {
            margin-bottom: 16px;

            &__flex{
                display: flex;
                min-height: 32px;
                align-items: flex-start;
                font-size: 14px;
                line-height: 18px;

                &__label {
                    padding-top: 7px;
                    margin-right: 8px;
                    flex-grow: 1;
                }

                &__amount-container {
                    display: inline-flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 104px;
                    height: 32px;
                    color: rgb(34, 34, 34);
                    font-weight: unset;
                    font-size: 14px;
                    line-height: 18px;
                    flex-shrink: 0;

                    .btn-round {
                        width: 32px;
                        height: 32px;
                        flex-grow: 0;
                        flex-shrink: 0;
                        display: inline-flex;
                        margin: 0;
                        padding: 0;
                        border: 1px solid rgb(176, 176, 176);
                        color: rgb(113, 113, 113);
                        outline: none;
                        align-items: center;
                        justify-content: center;
                        background: #fff;
                        border-radius: 50%;

                        &:disabled {
                            cursor: not-allowed;
                            color: rgb(235, 235, 235);
                            border-color: rgb(235, 235, 235);
                        }
                    }
                }
            }
        }
    }

    &__check-options{
        columns: auto 2;
        column-gap: 8px;

        &__box {
            margin-bottom: 16px;
            display: flex;
            align-items: flex-start;
            font-size: 14px;
            line-height: 18px;

            &__input {
                height: 18px;
                border-color: rgb(176, 176, 176);
            }

            &__label {
                align-self: center;
                color: rgb(34, 34, 34);
                margin-left: 8px;
            }
        }
    }
}
</style>