<template>
    <div class="popup-container">
        <header class="popup-container__header">

        </header>
        <main class="popup-container__main">
            <slot></slot>
        </main>
        <footer class="popup-container__footer">
            <button class="popup-container__footer__btn-clear" disabled>Clear</button>
            <button class="popup-container__footer__btn-apply">Apply</button>
        </footer>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    @Component
    export default class FiltersPopup extends Vue {
        
    }
</script>

<style lang="scss" scoped>
.popup-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    background: #fff;
    border-radius: 12px;
    border: 0.5px solid rgba(118, 118, 118, 0.28);
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    z-index: 9999;
    overflow: hidden auto;
    min-width: 300px;
    max-width: 500px;
    width: max-content;
    top: 100%;
    max-height: calc(100vh - 220px);
    left: 0px;
    right: auto;

    &__main {
        padding: 24px;
        flex: 1 1 auto;
        overflow-y: auto;
        outline: none;
    }

    &__footer {
        display: flex;
        flex: 0 0 auto;
        border-top: 1px solid rgb(235, 235, 235);
        padding: 16px 24px;
        align-items: center;
        justify-content: space-between;

        &__btn-clear {
            opacity: 1;
            border: none;
            cursor: not-allowed;
            background: transparent;
            color: #dddddd;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            border-radius: 8px;
            outline: none;
            padding: 8px;
            text-decoration: underline;
        }

        &__btn-apply {
            display: inline-block;
            margin: 0;
            position: relative;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            border-radius: 8px;
            outline: none;
            padding: 14px 24px;
            border: none;
            background: #222222;
            color: #fff;

            &:hover {
                background: #000;
            }
        }
    }
}
</style>