<template>
    <div class="location-detail">
        <div class="location-detail__desc">Guests must agree to your House Rules before they book.</div>
        <div class="location-detail__main">
            <div class="location-detail__main__amenities" v-for="item in items" :key="item.label">
                <div class="location-detail__main__amenities__container">
                    <div class="location-detail__main__amenities__container__info">
                        <span class="location-detail__main__amenities__container__info__name">{{ item.label }}</span>
                        <div v-if="item.detail" class="location-detail__main__amenities__container__info__desc">{{
                                item.detail
                        }}</div>
                    </div>
                    <div class="location-detail__main__amenities__container__btn-container">
                        <div class="location-detail__main__amenities__container__btn-container__flex">
                            <div class="location-detail__main__amenities__container__btn-container__flex__option">
                                <input type="radio" :id="String(item.label + '-off')" v-model="item.picked"
                                    :value="String(item.label + '-off')">
                                <label :for="String(item.label + '-off')"
                                    :class="item.picked === `${item.label}-off` && 'picked'">
                                    <b-icon icon="x" scale="1.5"></b-icon>
                                </label>
                            </div>
                            <div class="location-detail__main__amenities__container__btn-container__flex__option">
                                <input type="radio" :id="String(item.label + '-on')" v-model="item.picked"
                                    :value="String(item.label + '-on')">
                                <label :for="String(item.label + '-on')"
                                    :class="item.picked === `${item.label}-on` && 'picked'">
                                    <b-icon icon="check" scale="1.5"></b-icon>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="location-detail__additional">
            <div class="location-detail__additional__container">
                <div class="location-detail__additional__container__label">You can include any requirements around safety concerns, shared space rules, and your community regulations, as well as
                rules like: “No solo travelers” or “Quiet time after 10pm”.</div>
                <div class="location-detail__additional__container__rules" v-click-outside="() => isFocus = false" :class="isFocus && 'focus'">
                    <textarea name="" id="" placeholder="Additional rules" @focus="() => isFocus = true"></textarea>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class AmenitiesBody extends Vue {
    items = [
        {
            label: 'Suitable for children (2-12 years)',
            detail: 'You can say your listing isn’t suitable for infants or children if there are features that are dangerous for children or there’s a risk of property damage. If you decide to restrict guests with infants or children from booking, add an explanation so guests can understand why your listing isn’t suitable for their trip.',
            picked: 'off',
        },
        {
            label: 'Suitable for infants (under 2 years)',
            detail: 'You can say your listing isn’t suitable for infants or children if there are features that are dangerous for children or there’s a risk of property damage. If you decide to restrict guests with infants or children from booking, add an explanation so guests can understand why your listing isn’t suitable for their trip.',
            picked: 'off',
        },
        {
            label: 'Pets allowed',
            detail: 'You can limit guests from bringing pets, but assistance animals—for example, seeing eye dogs—aren’t considered pets. You have to reasonably accommodate reservations where a guest might bring an assistance animal, even if your listing or House Rules state “no pets.”',
            picked: 'off',
        },
        {
            label: 'Smoking allowed',
            detail: '',
            picked: 'off',
        },
        {
            label: 'Parties and events allowed',
            detail: '',
            picked: 'off',
        },
    ]

    isFocus = false;
}
</script>

<style lang="scss" scoped>
.focus {
    box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset !important;
}
.picked {
    background: #000 !important;
    color: #fff !important;
    border: 1px solid #000 !important;
}

.location-detail {

    &__desc {
        font-size: 18px;
        line-height: 22px;
        color: rgb(113, 113, 113);
        margin-bottom: 40px;
    }

    &__main {
        margin-bottom: 24px;

        &__title {
            margin-bottom: 24px;

            &__label {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                color: rgb(34, 34, 34);
                margin: 0;
            }

            &__desc {
                font-size: 14px;
                line-height: 18px;
                color: rgb(113, 113, 113);
            }
        }

        &__amenities {
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid rgb(235, 235, 235);

            &:last-child {
                margin-bottom: 0;
            }

            &__container {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                &__info {
                    font-size: 16px;
                    line-height: 20px;
                    color: rgb(34, 34, 34);
                    padding-top: 6px;
                    margin-bottom: 0;

                    &__desc {
                        font-size: 14px;
                        line-height: 18px;
                        color: rgb(113, 113, 113);
                    }
                }

                &__btn-container {
                    height: 32px;

                    &__flex {
                        display: inline-flex;
                        width: 80px;
                        justify-content: space-between;

                        &__option {
                            position: relative;

                            input {
                                border: 0;
                                clip: rect(0, 0, 0, 0);
                                clip-path: inset(100%);
                                height: 1px;
                                overflow: clip;
                                padding: 0;
                                position: absolute;
                                white-space: nowrap;
                                width: 1px;
                            }

                            label {
                                display: flex;
                                cursor: pointer;
                                color: rgb(113, 113, 113);
                                border: 1px solid rgb(176, 176, 176);
                                height: 32px;
                                width: 32px;
                                contain: layout;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50%;
                                background: #fff;

                                &:hover {
                                    border-color: rgb(34, 34, 34);
                                    color: rgb(34, 34, 34);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__additional {
        margin-bottom: 24px;

        &__container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;

            &__label {
                font-size: 16px;
                line-height: 20px;
                color: rgb(34, 34, 34);
                margin-bottom: 8px;
            }

            &__rules {
                box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
                box-sizing: border-box;
                color: rgb(34, 34, 34);
                padding: 4px;
                border-radius: 8px;
                width: 100%;

                textarea {
                    color: inherit;
                    display: block;
                    min-width: 100%;
                    max-width: 100%;
                    outline: none;
                    border: none;
                    margin: 0;
                    box-sizing: border-box;
                    background: transparent;
                    appearance: none;
                    padding: 8px;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 400;
                }
            }
        }
    }
}
</style>