<template>
    <div class="table-container">
        <b-table fixed responsive hover sticky-header="true" :tbody-tr-class="rowClass" :items="items" :fields="headings" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" sort-icon-left :filter="getSearchText" :filter-included-fields="['listing']">
            <template #table-colgroup="scope">
                <col v-for="field in scope.fields" :key="field.key" :style="{
                    width: field.key === 'listing' ? '38rem' : field.key === 'checkbox' ? '2rem' : (field.key === 'instant_book' || field.key === 'bedrooms' || field.key === 'beds' || field.key === 'baths') ? 
                                '10rem' : '16rem'
                }" class="table-header">
            </template>
            <template #head(checkbox)>
                <input type="checkbox" id="all" class="input-checkbox" v-if="isEditingDetail" disabled v-model="allChecked" @click="handleCheckAll">
                <input type="checkbox" id="all" class="input-checkbox" v-else v-model="allChecked" @click="handleCheckAll">
                <label for="all" hidden>all</label>
            </template>
            <template #head()="head">
                <div class="table-header" :class="currentActive === head.column && 'active'" @click="() => changeCurrentActive(head.column)">{{head.label}}</div>
            </template>
            <template #cell(checkbox)="row">
                <input type="checkbox" class="input-checkbox" v-if="isEditingDetail" disabled v-model="row.item.checkbox" @change="() => toggleBtnEdit()">
                <input type="checkbox" class="input-checkbox" v-else v-model="row.item.checkbox" @change="() => toggleBtnEdit()">
            </template>
            <template #cell(listing)="row">
                <nuxt-link to="/" class="link">
                    <img :src="row.value.img" height="40px" width="56px" />
                    <span>{{row.value.name}}</span>
                </nuxt-link>
            </template>
            <template #cell(todo)="row">
                <nuxt-link class="btn-todo" to="/">{{row.value}}</nuxt-link>
            </template>
            <template #cell(instant_book)="row">
                <div v-if="row.value === 'On'">
                    <img src="~/assets/icons/on.svg" alt="" height="16px" width="16px">
                    <span>{{row.value}}</span>
                </div>
            </template>
            <template #cell(status)="row">
                <div v-if="row.value === 'In progress'">
                    <img src="~/assets/icons/inprogress.svg" alt="" height="16px" width="16px">
                    <span>{{row.value}}</span>
                </div>
            </template>
            <template #cell(last_modified)="row">
                {{changeDateFormat(row.value, "MMM DD, YYYY")}}
            </template>
        </b-table>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import moment from 'moment';

@Component
export default class ListingsTable extends Vue {
    @Prop({ type: String }) search!: String;
    @Prop({ type: Array }) items!: any;
    @Prop({ type: Boolean }) isEditingDetail!: Boolean;
    headings = [
        { key: 'checkbox', },
        { key: 'listing', label: 'LISTING', sortable: true, isRowHeader: true,},
        { key: 'status', label: 'STATUS', sortable: true, },
        { key: 'todo', label: 'TODO', },
        { key: 'instant_book', label: 'INSTANT BOOK', sortable: true, },
        { key: 'bedrooms', label: 'BEDROOMS', sortable: true, },
        { key: 'beds', label: 'BEDS', sortable: true, },
        { key: 'baths', label: 'BATHS', sortable: true, },
        { key: 'location', label: 'LOCATION', sortable: true, },
        { key: 'last_modified', label: 'LAST MODIFIED', sortable: true, },
    ]

    sortBy = ''
    sortDesc = false

    currentActive = 'listing'

    changeDateFormat(date, type) {
        return moment(date).format(type)
    }

    changeCurrentActive(value) {
        this.currentActive = value
    }

    get getSearchText() {
        return this.search;
    }

    get allChecked() {
        return !this.items.find(item => item.checkbox === false)
    }

    handleCheckAll() {
        if (!this.allChecked) {
            this.items.map(item => item.checkbox = true)
        } else {
            this.items.map(item => item.checkbox = false)
        }       
        this.toggleBtnEdit()
    }

    toggleBtnEdit() {
        let itemTemp = this.items.filter(item => item.checkbox === true)

        if (itemTemp.length > 0) {
            this.$emit('toggle-btn-edit', { isShow: true, count: itemTemp.length });
        } else {
            this.$emit('toggle-btn-edit', { isShow: false, count: 0 });
        }
    }

    rowClass(item, type) {
        if (!item || type !== 'row') return
        if (item.checkbox === true) return 'table-secondary'
    }
}
</script>

<style lang="scss" scoped>
.link {
    text-decoration: none;
    appearance: none;
    color: #222222;

    span {
        margin-left: 8px;
    }
}
.input-checkbox{
    cursor: pointer;
    color: #717171;

    &:disabled {
        cursor: not-allowed;
        background: rgb(247, 247, 247);
        color: rgb(235, 235, 235);
    }
}
.table-header {
    color: #717171;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;

    &:hover {
        color: #222222;
    }
}

.active {
    color: #000;
}

.btn-todo {
    display: inline;
    margin: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    border-radius: 8px;
    border: 1px solid #222222;
    outline: none;
    padding: 7px 15px;
    background: #fff;
    color: #222222;

    &:hover {
        border-color: #000;
        background: #f7f7f7;
    }
}
.table-container {
    z-index: 1;
    padding: 0 12px !important;
    margin: 0 12px !important;
}
</style>