<template>
    <div class="location-detail">
        <div class="location-detail__desc">Choose how the location is displayed to guests before they book.</div>
        <div class="location-detail__main" v-for="location in locationList" :key="location.name">
            <div class="location-detail__main__title">
                <h3 class="location-detail__main__title__label">{{ location.name }}</h3>
            </div>
            <div class="location-detail__main__amenities" v-for="item in location.items" :key="item.label">
                <div class="location-detail__main__amenities__container">
                    <div class="location-detail__main__amenities__container__info">
                        <span class="location-detail__main__amenities__container__info__name">{{ item.label }}</span>
                        <div v-if="item.detail" class="location-detail__main__amenities__container__info__desc">{{
                        item.detail }}</div>
                    </div>
                    <div class="location-detail__main__amenities__container__btn-container">
                        <div class="location-detail__main__amenities__container__btn-container__flex">
                            <div class="location-detail__main__amenities__container__btn-container__flex__option">
                                <input type="radio" :id="String( item.label +'-off')" v-model="item.picked"
                                    :value="String( item.label +'-off')">
                                <label :for="String(item.label + '-off')"
                                    :class="item.picked === `${item.label}-off` && 'picked'">
                                    <b-icon icon="x" scale="1.5"></b-icon>
                                </label>
                            </div>
                            <div class="location-detail__main__amenities__container__btn-container__flex__option">
                                <input type="radio" :id="String(item.label + '-on')" v-model="item.picked"
                                    :value="String(item.label + '-on')">
                                <label :for="String(item.label + '-on')"
                                    :class="item.picked === `${item.label}-on` && 'picked'">
                                    <b-icon icon="check" scale="1.5"></b-icon>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class AmenitiesBody extends Vue {
    locationList = [
        {
            name: 'Location details',
            items: [
                {
                    label: 'Beachfront',
                    detail: '',
                    picked: 'off',
                },
                {
                    label: 'Waterfront',
                    detail: 'Right next to a body of water',
                    picked: 'off',
                },
                {
                    label: 'Lake access',
                    detail: 'Guests can get to a lake using a path or dock',
                    picked: 'off',
                },
                {
                    label: 'Ski-in/Ski-out',
                    detail: 'Guests can access ski lifts without driving or taking paid transportation',
                    picked: 'off',
                },
            ]
        },
    ]
}
</script>

<style lang="scss" scoped>
.picked {
    background: #000 !important;
    color: #fff !important;
    border: 1px solid #000 !important;
}

.location-detail {

    &__desc {
        font-size: 18px;
        line-height: 22px;
        color: rgb(113, 113, 113);
        margin-bottom: 40px;
    }

    &__main {
        margin-bottom: 24px;

        &__title {
            margin-bottom: 24px;

            &__label {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                color: rgb(34, 34, 34);
                margin: 0;
            }

            &__desc {
                font-size: 14px;
                line-height: 18px;
                color: rgb(113, 113, 113);
            }
        }

        &__amenities {
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid rgb(235, 235, 235);

            &:last-child {
                margin-bottom: 0;
            }

            &__container {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                &__info {
                    font-size: 16px;
                    line-height: 20px;
                    color: rgb(34, 34, 34);
                    padding-top: 6px;
                    margin-bottom: 0;

                    &__desc {
                        font-size: 14px;
                        line-height: 18px;
                        color: rgb(113, 113, 113);
                    }
                }

                &__btn-container {
                    height: 32px;

                    &__flex {
                        display: inline-flex;
                        width: 80px;
                        justify-content: space-between;

                        &__option {
                            position: relative;

                            input {
                                border: 0;
                                clip: rect(0, 0, 0, 0);
                                clip-path: inset(100%);
                                height: 1px;
                                overflow: clip;
                                padding: 0;
                                position: absolute;
                                white-space: nowrap;
                                width: 1px;
                            }

                            label {
                                display: flex;
                                cursor: pointer;
                                color: rgb(113, 113, 113);
                                border: 1px solid rgb(176, 176, 176);
                                height: 32px;
                                width: 32px;
                                contain: layout;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50%;
                                background: #fff;

                                &:hover {
                                    border-color: rgb(34, 34, 34);
                                    color: rgb(34, 34, 34);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
</style>