<template>
    <div class="property">
        <div class="property__desc">Accurately represent these properties so guests know what to expect.</div>
        <div class="property__detail">
            <label for="property">Which is most like this property?</label>
            <div class="property__detail__choice" :class="isPropertyFocus && 'focus'"
                v-click-outside="() => isPropertyFocus = false">
                <select id="property" class="property__detail__choice__selection" name="cancellationPolicy"
                    v-model="selectedProperty" @focus="() => isPropertyFocus = true">
                    <option value="one" disabled selected>Select one</option>
                    <option v-for="property in propertyList" :key="property.value" :value="property.value">
                        {{ property.label }}</option>
                </select>
                <div class="property__detail__choice__icon">
                    <b-icon icon="chevron-down" class="icon"></b-icon>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class CancellationPolicyBody extends Vue {
    propertyList = [
        {
            label: 'House',
            value: 'house',
        },
        {
            label: 'Secondary unit',
            value: 'secondary_unit',
        },
        {
            label: 'Unique space',
            value: 'unique_space',
        },
        {
            label: 'Bed and breakfast',
            value: 'bnb',
        },
        {
            label: 'Boutique hotel',
            value: 'bountique_hotel',
        },
    ]

    selectedProperty = "one";

    isPropertyFocus = false
}
</script>

<style lang="scss" scoped>
.focus {
    box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset !important;
}

.icon {
    stroke: currentColor;
    stroke-width: 1;
}

.property {
    &__desc {
        font-size: 16px;
        line-height: 20px;
        color: rgb(113, 113, 113);
        margin-bottom: 20px;
    }

    &__detail {
        margin-bottom: 20px;
        padding-bottom: 20px;

        label {
            font-size: 16px;
            line-height: 20px;
            color: rgb(34, 34, 34);
            display: block;
            padding: 0;
        }

        &__choice {
            position: relative;
            display: flex;
            width: 100%;
            margin: 0px;
            border: none;
            color: rgb(34, 34, 34);
            background: #fff;
            border-radius: 8px;
            box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;

            &__selection {
                min-height: 56px;
                width: 100%;
                border: none;
                outline: none;
                margin: 0;
                padding: 18px 36px 18px 12px;
                background: transparent;
                color: inherit;
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
                appearance: none;
            }

            &__icon {
                position: absolute;
                right: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                max-width: 50%;
                min-width: 36px;
                padding-right: 12px;
                color: rgb(34, 34, 34);
            }
        }

        &__info {
            font-size: 14px;
            line-height: 18px;
            padding: 24px;
            border-radius: 8px;
            border: 1px solid rgb(113, 113, 113);
            margin-top: 24px;

            &__label {
                color: #000;
                font-weight: bold;
                display: inline;
            }

            &__desc {
                color: rgb(113, 113, 113);
                display: inline;
            }
        }
    }
}
</style>