<template>
    <div class="change-cancel-booking">
        <header class="change-cancel-booking__header">
            <h1 class="change-cancel-booking__header__title">{{ nights }} nights in {{booking.home?.address}}</h1>
            <div class="change-cancel-booking__header__desc">{{ changeDateFormat(booking.checkIn, 'MMM DD') }} to {{ changeDateFormat(booking.checkOut, 'MMM DD') }} at {{booking.home?.name}}</div>
        </header>
        <div class="change-cancel-booking__main">
            <change-cancel-card v-for="(option, index) in listOptions" :key="index" :option="option" />
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ChangeCancelCard from '../../../../../components/Trips/ChangeCancelCard.vue'
import { Booking } from '~/modals/Booking/Booking';
import { plainToClass } from 'class-transformer';
import moment from 'moment';

@Component({
    components: {
        ChangeCancelCard
    }
})
export default class ChangeCancelBooking extends Vue {
    listOptions: any = []

    booking: Booking = {}

    created() {
        this.listOptions = [
            {
                name: 'Change',
                icon: 'house-door',
                desc: 'Request to change your dates or number of guests',
                link: ''
            },
            {
                name: 'Cancel',
                icon: 'slash-circle',
                desc: "You'll able to review everything before your reservation is canceled",
                link: 'users-trips-change_cancel-slug-cancel',
                id: this.booking.id,
            }
        ]
    }

    async asyncData({ $api, params }) {
        let booking: Booking = {}

        try {
            const res = await $api.booking.getBookingDetailsByClient(params.slug);
            booking = plainToClass(Booking, res.data.data);
        } catch (error) {
            console.log(error);
            
        }

        return {booking}
    }

    changeDateFormat(date, type) {
        return moment(date).format(type)
    }

    get nights() {
        if (this.booking.checkOut && this.booking.checkIn) {
            var time = new Date(this.booking.checkOut).getTime() - new Date(this.booking.checkIn).getTime()
            return (time / (1000 * 3600 * 24)).toFixed(0)
        }
        return 0;
    }
}
</script>

<style lang="scss" scoped>
.change-cancel-booking{
    width: 70%;
    margin: 0 auto;

    &__header {
        margin: 70px 0;

        &__title {
            font-size: 34px;
            line-height: 38px;
            font-weight: 800;
        }

        &__desc {
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            color: #717171;
        }
    }

    &__main {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
    }
}
</style>