<template>
    <div class="main" >
        <div class="amenity-popover"  v-click-outside="closeShowAllAmenities">
            <div class="amenity-popover__btn-container">
                <button class="amenity-popover__btn-container__btn-close" @click="closeShowAllAmenities">
                    <span>
                        <b-icon icon="x-lg"></b-icon>
                    </span>
                </button>
            </div>
            <div class="amenity-popover__header"></div>
            <div class="amenity-popover__main-container">
                <div class="amenity-popover__main-container__main">
                    <div class="amenity-popover__main-container__main__title">
                        <h2>What this place offers</h2>
                    </div>
                    <div v-for="amenitiesDetail in listAmenitiesDetail" :key="amenitiesDetail.id" >
                        <amenity-detail :amenitiesDetail="amenitiesDetail" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import AmenityDetail from './AmenityDetail.vue';

@Component({
    components: {
            AmenityDetail
        }
    })
export default class AllAmenitiesDetail extends Vue {
    @Prop({ type: Array, required: false }) listAmenitiesDetail!: any;

    closeShowAllAmenities() {
        this.$emit('close-show-all-amenities', true);
    }
}
</script>

<style lang="scss" scoped>
.main {
    -webkit-box-pack: center;
    z-index: 2000;
    position: fixed;
    inset: 0;
    padding-top: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: center !important; 

    @media screen and (min-width: 744px) and (min-height: 475px) {
        -webkit-box-align: center !important;
        padding: 40px;
        align-items: center !important;
    }
}
.amenity-popover {
    background: #fff;
    position: relative;
    width: 100vw;
    max-width: 100vw;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px !important;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: clip;

    @media screen and (min-width: 744px) {
        width: 100%;
        max-width: 780px;
        border-radius: 12px;
    }

    &__btn-container {
        position: absolute;
        display: flex;
        top: 16px;
        left: 24px;
        z-index: 1;

        @media screen and (min-width: 744px) {
            top: 24px;
        }

        &__btn-close {
            appearance: none;
            display: inline-block;
            border-radius: 50%;
            border: none;
            outline: none;
            margin: 0;
            padding: 0;
            color: rgb(34, 34, 34);
            position: relative;
            background: transparent;

            &::before{
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left:50%;
                transform: translate(-50%, -50%);
                width: 32px;
                height: 32px;
                border-radius: 50%;
                z-index: -1;
            }

            &:hover::before {
                background: rgb(247, 247, 247);
            }
        }
    }

    &__header {
        flex: 0 0 72px;
        position: sticky;
        text-align: left;
        top: 0;
        z-index: -1;
    }

    &__main-container {
        padding: 40px 24px 24px;
        flex: 1 1 auto;
        overflow: auto;

        &__main {
            color: rgb(34, 34, 34);
            font-weight: 400;
            outline: none;
            position: relative;
            margin-top: -24px;

            &__title {
                font-size: 22px;
                font-weight: 600;
                line-height: 26px;
                margin-bottom: 32px;

                h2 {
                    color: inherit;
                    font-size: 1em;
                    font-weight: inherit;
                    line-height: inherit;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}
</style>