<template>
    <div class="amanities-container" v-if="amenitiesDetail.value.length > 0">
        <div class="amanities-container__title">
            <h3>{{amenitiesDetail.label}}</h3>
        </div>
        <div class="amanities-container__amenity" v-for="(amenity) in amenitiesDetail.value" :key="amenity.id">
            <div class="amanities-container__amenity__name">
                <div>{{amenity.title}}</div>
            </div>
            <div class="amanities-container__amenity__underline"></div>
        </div> 
    </div>
</template>

<script lang="ts">
    import { Component, Vue, Prop } from 'vue-property-decorator';

    @Component
    export default class AmenityDetail extends Vue {
        @Prop({ type: Object, required: false }) amenitiesDetail!: any;

        created() { 
            this.amenitiesDetail.value = this.amenitiesDetail.value.filter(amenity => amenity !== null)
        }
    }
</script>

<style lang="scss" scoped>
.amanities-container{
    margin-bottom: 60px;

    &__title{
        color: rgb(34, 34, 34);
        font-weight: 600;
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 40px;

        h3 {
            color: inherit;
            font-size: 1em;
            font-weight: inherit;
            line-height: inherit;
            margin: 0;
            padding: 0;
            text-transform: capitalize;
        }
    }

    &__amenity {

        &__name {
            -webkit-box-align: center;
            display: flex;
            align-items: center;
            width: 100%;
            margin-top: 24px;
            margin-bottom: 24px;

            div {
                display: flex;
                flex-flow: column wrap;
                flex: 0 1 100%;
            }
        }
        
        &__underline {
            height: 1px;
            background: rgb(221, 221, 221);
        }
    }
}
</style>