<template>
    <div>
        <div class="amenity">
            <div>
                <div class="amenity-item" v-for="amenity in listAmenity.slice(0, 5)" :key="amenity.id">
                    <img :src="amenity.icon" alt="" class="icon">
                    <span>{{ amenity.title }}</span>
                </div>
            </div>
            <div v-if="listAmenity.length > 5">
                <div class="amenity-item" v-for="amenity in listAmenity.slice(5)" :key="amenity.id"> 
                    <img :src="amenity.icon" alt="" class="icon">
                    <span>{{ amenity.title }}</span>
                </div>
            </div>
        </div>
        <button class="show-btn" @click="openShowAllAmenities">Show all {{ listAmenity.length }} amenities</button>

        <full-modal v-if="isShowAllAmenities" v-scroll-lock="isShowAllAmenities">
            <all-amenities-detail :listAmenitiesDetail="listAmenitiesDetail" @close-show-all-amenities="closeShowAllAmenities"/>
        </full-modal>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import { Home } from '~/modals/Home/Home';
import AllAmenitiesDetail from './AllAmenitiesDetail.vue';
import FullModal from '~/argon-component/FullModal.vue';

@Component({
    components: {
        AllAmenitiesDetail, FullModal
    }
})
export default class Amenity extends Vue {
    @Prop({ type: Home, required: false }) home!: Home;

    listAmenity: any = [this.home.bathroom, this.home.bedroomAndLaundry, this.home.entertainment, this.home.family, this.home.heatingAndCooling, this.home.homeSafety, this.home.internetAndOffice, this.home.kitchenAndDining, this.home.locationFeature, this.home.outdoor, this.home.parkingAndFacilities]
    listAmenitiesDetail: any = [
        {
            id: 1,
            label: 'bathroom',
            value: this.home.bathroom
        },
        {
            id: 2,
            label: 'bedroom and laundry',
            value: this.home.bedroomAndLaundry
        },
        {
            id: 3,
            label: 'entertainment',
            value: this.home.entertainment
        },
        {
            id: 4,
            label: 'family',
            value: this.home.family
        },
        {
            id: 5,
            label: 'heating and cooling',
            value: this.home.heatingAndCooling
        },
        {
            id: 6,
            label: 'home safety',
            value: this.home.homeSafety
        },
        {
            id: 7,
            label: 'internet and office',
            value: this.home.internetAndOffice
        },
        {
            id: 8,
            label:'kitchen and dining',
            value: this.home.kitchenAndDining
        },
        {
            id: 9,
            label:'location feature',
            value: this.home.locationFeature
        },
        {
            id: 10,
            label: 'outdoor',
            value: this.home.outdoor
        },
        {
            id: 11,
            label: 'parking and facilities',
            value: this.home.parkingAndFacilities
        }
    ]

    isShowAllAmenities: boolean = false;

    openShowAllAmenities() {
        this.isShowAllAmenities = true;
    }

    closeShowAllAmenities() {
        this.isShowAllAmenities = false;
    }

    created() {      
        this.listAmenity = this.listAmenity.reduce((acc, cur) => {
            cur.map(i => {
                if (i !== null) {
                    acc = [...acc, i]
                }
            })
            return acc
        }, []) 
    }
}
</script>

<style lang="scss" scoped>
.icon {
    height: 24px;
    width: 24px;
}
.not-allow {
    text-decoration: line-through;
}
.amenity {
    display: flex;
    justify-content: space-between;
    width: 80%;
    .amenity-item {
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        span {
            font-size: 18px;
            margin-left: 16px;
        }
    }
}

.show-btn {
    border-radius: 8px;
    border: 1px solid #222222;
    background: #fff;
    padding: 13px 23px;
    font-weight: 600;
    margin-top: 20px;

    &:hover {
        background: #f7f7f7;
    }
}
</style>