<template>
    <div class="address-container">
        <h2 class="address-container__header">Where you'll be</h2>
        <div class="address-container__map">~Map~</div>
        <p class="address-container__address">{{home.address}}</p>
        <p class="address-container__info">The house is located in a quiet neighborhood along the Sturgeon River. The wooded lots on all sides of the house providing some privacy but some neighboring houses will still be visible (especially during the winter months). During the summer tubers and kayakers float down the river past the house regularly.</p>
        <button class="show-info-btn">
            <span>Show more</span> 
            <b-icon icon="chevron-right"></b-icon>
        </button>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';

@Component({

})
export default class MapAddressRoom extends Vue {
    @Prop({ type: Object, required: false, default: () => ([]) }) home!: Object;
}
</script>

<style lang="scss" scoped>
.address-container {
    margin: 50px 0;
    color: #222222;
    line-height: 26px;

    &__header {
        margin-bottom: 25px;
        font-weight: 600;
        font-size: 25px;
    }

    &__address {
        font-size: 17px;
        font-weight: 600;
    }

    &__info {
        font-size: 17px;
    }
}
</style>