<template>
    <div class="reservation">
        <div class="header">
            <span><span class="price">${{home.price}}</span> night</span>
            <span>
                <b-icon icon="star-fill"></b-icon>
                <span v-if="(rating.reviewResponses?.length !== 0)">{{ ratingTotal.toFixed(2) }} · </span>
                <span v-else>New</span>
                <button v-if="(rating.reviewResponses?.length !== 0)" class="link" @click="openShowAllReview">{{rating.reviewResponses?.length}} reviews</button>
            </span>
        </div>
        
        <div class="add-date">
            <button class="inputDatePicker" @click="showCalendar">
                <div class="date-checkin">
                    <div class="uppercase">check-in</div>
                    <input
                        :value="startDateLabelType1"
                        placeholder="Add date"
                        readonly
                    />
                </div>
                <div>
                    <div class="uppercase">checkout</div>
                    <input
                        :value="endDateLabelType1"
                        placeholder="Add date"
                        readonly
                    />
                </div>
            </button>
        </div>


        <button class="guest" @click="showDropdownGuest">
            <div>
                <div class="uppercase">guests</div>
                <div>{{guestLabel}}</div>
            </div>
            <b-icon class="icon" icon="chevron-down" v-if="!isShowDropdownGuest"></b-icon>
            <b-icon class="icon" icon="chevron-up" v-else></b-icon>
        </button>
        <div class="guest-popup" v-if="isShowDropdownGuest" v-click-outside="showDropdownGuest">
            <div class="guest-popup__group">
                <div class="guest-popup__group__left">
                    <span class="guest-popup__group__left__title">Adults</span>
                    <span>Age 13+</span>
                </div>
                <div class="guest-popup__group__right">
                    <button class="guest-popup__group__right__button disabled" v-if="guests.adults === 1" disabled @click="handleGuest('adult', '-')"><b-icon icon="dash" font-scale="1.25"></b-icon></button>
                    <button class="guest-popup__group__right__button" v-else @click="handleGuest('adult', '-')"><b-icon icon="dash" font-scale="1.25"></b-icon></button>
                    <span class="guest-popup__group__right__num">{{guests.adults}}</span>
                    <button class="guest-popup__group__right__button" @click="handleGuest('adult', '+')"><b-icon icon="plus" font-scale="1.25"></b-icon></button>
                </div>
            </div>
            <div class="guest-popup__group">
                <div class="guest-popup__group__left">
                    <span class="guest-popup__group__left__title">Children</span>
                    <span>Ages 2-12</span>
                </div>
                <div class="guest-popup__group__right">
                    <button class="guest-popup__group__right__button disabled" v-if="guests.children === 0" disabled @click="handleGuest('children', '-')"><b-icon icon="dash" font-scale="1.25"></b-icon></button>
                    <button class="guest-popup__group__right__button" v-else @click="handleGuest('children', '-')"><b-icon icon="dash" font-scale="1.25"></b-icon></button>
                    <span class="guest-popup__group__right__num">{{guests.children}}</span>
                    <button class="guest-popup__group__right__button" @click="handleGuest('children', '+')"><b-icon icon="plus" font-scale="1.25"></b-icon></button>
                </div>
            </div>
            <div class="guest-popup__group">
                <div class="guest-popup__group__left">
                    <span class="guest-popup__group__left__title">Infants</span>
                    <span>Under 2</span>
                </div>
                <div class="guest-popup__group__right">
                    <button class="guest-popup__group__right__button disabled" v-if="guests.infants === 0" disabled @click="handleGuest('infant', '-')"><b-icon icon="dash" font-scale="1.25"></b-icon></button>
                    <button class="guest-popup__group__right__button" v-else @click="handleGuest('infant', '-')"><b-icon icon="dash" font-scale="1.25"></b-icon></button>
                    <span class="guest-popup__group__right__num">{{guests.infants}}</span>
                    <button class="guest-popup__group__right__button" @click="handleGuest('infant', '+')"><b-icon icon="plus" font-scale="1.25"></b-icon></button>
                </div>
            </div>
            <div class="guest-popup__group">
                <div class="guest-popup__group__left">
                    <span class="guest-popup__group__left__title">Pets</span>
                    <span>Bringing a service animal?</span>
                </div>
                <div class="guest-popup__group__right">
                    <button class="guest-popup__group__right__button disabled" v-if="guests.pets === 0" disabled @click="handleGuest('pet', '-')"><b-icon icon="dash" font-scale="1.25"></b-icon></button>
                    <button class="guest-popup__group__right__button" v-else @click="handleGuest('pet', '-')"><b-icon icon="dash" font-scale="1.25"></b-icon></button>
                    <span class="guest-popup__group__right__num">{{guests.pets}}</span>
                    <button class="guest-popup__group__right__button" @click="handleGuest('pet', '+')"><b-icon icon="plus" font-scale="1.25"></b-icon></button>
                </div>
            </div>
        </div>

        <button class="reserve-btn" @click="showCalendar" v-if="Number(nights) === 0">Check availability</button>
        <div v-else>
            <nuxt-link class="reserve-btn" :to="onGoToBookRoom(home.id)">Reserve</nuxt-link>
            <div class="fees">
                <div class="fee-detail ">
                    <span>${{home.price}} X {{nights}} night</span>
                    <span>${{ calBookPrice }}</span>
                </div>
                <div class="fee-detail service-fee">
                    <span>Service fee</span>
                    <span>${{home.priceService}}</span>
                </div>
                <hr>
                <div class="fee-detail total">
                    <span>Total before taxes</span>
                    <span>${{ calTotalPrice }}</span>
                </div>
            </div>
        </div>
            
        <div class="popup-calendar" v-if="isShowCalendar" v-click-outside="showCalendar" >
            <Calendar :isPopup="true" :isShowCalendar="isShowCalendar" @show-calendar="showCalendar" :range="range" @date-change="onDateChange" btnText="Close" />
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import moment from 'moment'
import Calendar from '../Calendar.vue';
import { Home } from '~/modals/Home/Home';
import { Rating } from '~/modals/Home/Rating';
import getNumOfNight from 'num-of-nights';

@Component({
    components: {
        Calendar
    }
})
export default class ReservationForm extends Vue {
    @Prop({ type: Home, required: false }) home!: Home;
    @Prop({ type: Object, required: false }) range!: any;
    @Prop({ type: Object }) rating!: Rating;

    isShowCalendar: Boolean = false
    isShowDropdownGuest: Boolean = false
    guests = {
        adults: 1,
        children: 0,
        infants: 0,
        pets: 0,
    }

    get ratingTotal() {
        return (Number(this.rating.cleanliness) + Number(this.rating.accuracy) + Number(this.rating.communication) + Number(this.rating.location) + Number(this.rating.checkIn) + Number(this.rating.value)) / Number(this.rating.reviewResponses?.length) / 6
    }

    onGoToBookRoom(id) {
        return this.localePath({ name: 'book-slug', params: { slug: id }, query: {numberOfAdults: String(this.guests.adults), numberOfChildren: String(this.guests.children), numberOfInfants: String(this.guests.infants), numberOfPets: String(this.guests.pets), checkin: this.range.start, checkout: this.range.end} })
    }

    changeDateFormat(date, type) {
        return moment(date).format(type)
    }

    get startDateLabelType1() {
        if (!this.range.start) return '';
        return this.changeDateFormat(this.range.start, "DD/MM/YYYY");
    }

    get endDateLabelType1() {
        if (!this.range.end) return '';
        return this.changeDateFormat(this.range.end, "DD/MM/YYYY");
    }

    get nights() {
        var time = new Date(this.range.end).getTime() - new Date(this.range.start).getTime()
        return getNumOfNight(time)
    }

    get guestLabel() {
        let label = '1 guest';
        let guestNum = this.guests.adults + this.guests.children;

        if (guestNum > 1) label = `${guestNum} guests`;
        if (this.guests.infants != 0) {
            if (this.guests.infants === 1) label += `, ${this.guests.infants} infant`;
            else label += `, ${this.guests.infants} infants`;
        }
        if (this.guests.pets != 0) {
            if (this.guests.pets === 1) label += `, ${this.guests.pets} pet`;
            else label += `, ${this.guests.pets} pets`;
        }

        return label
    }

    get calBookPrice() {
        return Number(this.home?.price) * Number(this.nights);
    }

    get calTotalPrice() {
        return Number(this.calBookPrice) + Number(this.home.priceService);
    }

    showCalendar() {
        this.isShowCalendar = !this.isShowCalendar;
    }

    showDropdownGuest() {
        this.isShowDropdownGuest = !this.isShowDropdownGuest;
    }

    openShowAllReview() {
        this.$emit('open-show-all-review', true);
    }

    clearDates() {
        this.range.start = null;
        this.range.end = null;
    }
    
    calculate(value, operation) {
        if (operation === "+") return ++value;
        if (operation === "-") return --value;
    }

    handleGuest(guest, operation) {
        if (guest === 'adult') {
            this.guests.adults = Number(this.calculate(this.guests.adults, operation))
        } else if (guest === 'children') {
            this.guests.children = Number(this.calculate(this.guests.children, operation))
        } else if (guest === 'infant') {
            this.guests.infants = Number(this.calculate(this.guests.infants, operation))
        } else if (guest === 'pet') {
            this.guests.pets = Number(this.calculate(this.guests.pets, operation))
        }
    }

    onDateChange(dates) {
        this.$emit('date-change', dates);
    }
}
</script>

<style lang="scss" scoped>
.uppercase {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
}

.reservation {
    position: sticky;
    top: 128px;
    z-index: 1;
    width: 34%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-left: 8%;
    margin-top: 48px;
    margin-bottom: 50px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 28px;
    box-shadow: rgb(0 0 0 / 12%) 0 6px 16px;
    color: rgb(34, 34, 34);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    .header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 24px;
        font-size: 17px;

        span:first-child {
            font-weight: 400;

            .price {
                font-weight: 600;
                font-size: 20px;
            }
        }

        span:last-child {
            font-weight: 520;
            

            .link {
                color: rgb(113, 113, 113);
                line-height: 20px;
                padding-left: 4px;
                text-decoration: underline;
                cursor: pointer;
                border-radius: 0;
                outline: none;
                border: none;
                padding: 0;
                background-color: #fff;
            }
        }
        
    }

    .add-date {
        button {
            display: flex;
            width: 100%;
            text-align: left;
            padding: 10px;
            background: transparent;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;

            &:focus {
                border: 2px solid rgb(0, 0, 0);
            }

            .date-checkin {
                margin-right: 10px;
                border-right: 1px solid rgba(0, 0, 0, 0.3);
            }

            input {
                border: none;
                width: 100%;
                cursor: pointer;
            }
        }
    }

    .guest {
        position: relative;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-top: none;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        margin-bottom: 24px;
        cursor: pointer;
        text-align: left;
        background-color: transparent;

        .icon {
            position: absolute;
            top: 25px;
            right: 12px;
        }

        &:focus {
            border: 2px solid rgb(0, 0, 0);
        }
    }

    .reserve-btn {
        background: linear-gradient(to right, #008689 0%, #01aeb1 100%, #01aeb1 50%);
        transition: none 0s ease 0s;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        border-radius: 8px;
        outline: none;
        padding: 14px 24px;
        border: none;
        color: #fff;
        width: 100%;
        display: block;

        &:hover {
            background: linear-gradient(to left, #008689 0%,
                #01aeb1 100%,
                #01aeb1 50%);
        }
    }

    .fees {
        margin-top: 24px;
        margin-bottom: 5px;

        .fee-detail {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: baseline;
            font-size: 17px;
        }

        .service-fee {
            margin-top: 10px;
        }

        .total {
            font-weight: 600;
            font-size: 18px;
        }
    }

    .guest-popup {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: rgb(0 0 0 / 15%) 0px 2px 6px, rgb(0 0 0 / 7%) 0px 0px 0px 1px;
        box-sizing: border-box;
        min-width: 280px;
        padding: 16px;
        position: absolute;
        width: 84%;
        z-index: 99;
        right: 29px;
        top: 200px;

        &__group {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: baseline;
            margin-bottom: 15px;
            margin-top: 8px;

            &__left {
                display: flex;
                flex-direction: column;
                width: 50%;

                &__title {
                    font-weight: 600;
                    font-size: 17px;
                    margin-bottom: 5px;
                }
            }

            &__right {
                &__button {
                    background-color: transparent;
                    border-radius: 50%;
                    border: 1px solid rgb(176, 176, 176);
                    height: 32px;
                    width: 32px;
                    padding: 5px;

                    &:hover{
                        border-color: rgb(34, 34, 34);
                    }

                    &:focus{
                        border-color: rgb(34, 34, 34);
                    }
                }

                .disabled {
                    cursor: not-allowed;
                    color: rgb(235, 235, 235);
                    border-color: rgb(235, 235, 235);
                }

                &__num {
                    display: inline-block;
                    font-size: 20px;
                    margin: 0 5px;
                    width: 10px;
                }
            }
        }
    }

    .popup-calendar{
        position: absolute;
        right: -10px;
        top: 60px;
        background-color: #fff;
        box-shadow: rgb(0 0 0 / 20%) 0 6px 20px;
        padding: 24px 32px 16px;
        width: 700px;
        z-index: 1;
        min-height: 460px;
        border-radius: 16px;
    }
}
</style>