<template>
    <div>
        <div class="rating-container" >
            <h2 class="rating-container__header">
                <b-icon icon="star-fill" scale="0.6"></b-icon>
                <span>{{ ratingTotal.toFixed(2) }} · {{rating.reviewResponses?.length}} reviews</span>
            </h2>
            <div class="rating-container__content">
                <div v-for="(rating, index) in ratings" :key="index" class="rating-container__content__rating-item">
                    <span class="rating-container__content__rating-item__label">{{rating.label}}</span>
                    <div class="rating-container__content__rating-item__value">
                        <b-progress :value="rating.value" :max="5.0" class="rating-container__content__rating-item__value__b-progress" height="5px" variant="dark"></b-progress>
                        <span>{{rating.value.toFixed(1)}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="review-container">
            <review-item 
                    v-for="review in reviews"
                    :key="review.id"
                    :review="review"
                    @open-show-all-review="openShowAllReview"
            />
        </div>
        <button class="btn-show-all" @click="openShowAllReview">Show all {{rating.reviewResponses?.length}} reviews</button>
    </div>
</template>

<script lang="ts">
import ReviewItem from "./ReviewItem.vue";
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import { Rating } from "~/modals/Home/Rating";
import { plainToClass } from "class-transformer";
import { UserInfo } from "~/modals/User/UserInfo";

@Component({
    components: {
        ReviewItem
    }
})
export default class ReviewRoom extends Vue {
    @Prop({ type: Object }) rating!: Rating;
    ratings = [
        { label: "Cleanliness", value: Number(this.rating.cleanliness) / Number(this.rating.reviewResponses?.length) },
        { label: "Accuracy", value: Number(this.rating.accuracy) / Number(this.rating.reviewResponses?.length) },
        { label: "Communication", value: Number(this.rating.communication) / Number(this.rating.reviewResponses?.length) },
        { label: "Location", value: Number(this.rating.location) / Number(this.rating.reviewResponses?.length) },
        { label: "Check-in", value: Number(this.rating.checkIn) / Number(this.rating.reviewResponses?.length) },
        { label: "Value", value: Number(this.rating.value) / Number(this.rating.reviewResponses?.length) },
    ];
    reviews: any = []

    created() { 
        try {
            this.rating.reviewResponses?.map(async review => {
                const response = await this.$api.user.getUserInfo(review.idUser);
                const user = plainToClass(UserInfo, response.data.data);
                const newReview = {
                    id: user.id,
                    name: user.name,
                    img: user.avatar,
                    date: review.dateCreate,
                    review: review.review
                }
                this.reviews = [...this.reviews, newReview]
            })
        } catch (error) {
            console.log(error);
        }
    }

    get ratingTotal() {
        return (Number(this.rating.cleanliness) + Number(this.rating.accuracy) + Number(this.rating.communication) + Number(this.rating.location) + Number(this.rating.checkIn) + Number(this.rating.value)) / Number(this.rating.reviewResponses?.length) / 6
    }

    openShowAllReview() {
        this.$emit('open-show-all-review', true);
    }
}
</script>

<style lang="scss">
.rating-container {
    margin-top: 50px;
    margin-bottom: 24px;

    &__header{
        margin-bottom: 25px;
        color: #222222;
        font-weight: 600;
        font-size: 25px;
        line-height: 26px;
    }
    
    &__content {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;

        &__rating-item {
            width: 42%;
            color: #222222;
            font-weight: 400;
            font-size: 17px;
            line-height: 20px;
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;

            &__value {
                width: 50%;
                display: flex;
                flex-flow: wrap;
                justify-content: space-between;
                align-items: center;

                &__b-progress {
                    width: 85%;
                }

                span {
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }
    }
}

.review-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;

    &__review {
        width: 42%;
        margin-bottom: 35px;

        &__header{
            margin-bottom: 10px;
            display: flex;
            flex-wrap: row wrap;
            justify-content: flex-start;
            gap: 10px;

            &__img{
                object-fit: cover;
                vertical-align: bottom;
                height: 42px;
                width: 42px;
                position: static;
                border-radius: 50%;
                cursor: pointer;
            }

            &__info {
                display: flex;
                flex-direction: column;
                font-size: 16px;
                color: #222222;

                &__name{
                    font-weight: 600;
                }

                &__date{
                    color: #717171;
                    font-size: 15px;
                }
            }
        }

        &__content {
            margin: 0;
            color: #222222;
            font-weight: 400;
            font-size: 17px;
            line-height: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}

.btn-show-all{
    border-radius: 8px;
    border: 1px solid #222222;
    background: #fff;
    padding: 13px 23px;
    font-weight: 600;
    margin: 20px 0;

    &:hover {
        background: #f7f7f7;
    }
}
</style>