<template>
    <div class="review-container__review"> 
        <div class="review-container__review__header">
            <img :src="review.img" alt="" class="review-container__review__header__img">
            <div class="review-container__review__header__info">
                <span class="review-container__review__header__info__name">{{review.name}}</span>
                <span class="review-container__review__header__info__date">{{review.date}}</span>
            </div>
        </div>
        <p class="review-container__review__content" v-if="review.review.length < 200">{{review.review}}</p>
        <div v-else>
            <p class="review-container__review__content">{{review.review}}</p>
            <button class="show-info-btn" @click="openShowAllReview">
                <span>Show more</span> 
                <b-icon icon="chevron-right"></b-icon>
            </button>
        </div>
    </div>
</template>

<script lang="ts">
 import { Vue, Component, Prop } from 'nuxt-property-decorator';

@Component({

})
export default class ReviewItem extends Vue {
    @Prop({ type: Object, required: true, default: () => ([]) }) review!: any;

    openShowAllReview() {
        this.$emit('open-show-all-review', true);
    }
}
</script>

<style lang="scss" scoped>
</style>