<template>
    <div class="room-detail">
        <div class="room-host">
            <div class="general">
                <h1>Entire <span class="lowercase">{{home.category?.title}}</span> hosted by {{home.user?.name}}</h1>
                <ul style="margin: 0;">
                    <li>{{home.numOfGuests}} guests</li>
                    <li v-if="home.numOfBedrooms !== 0"> · {{ home.numOfBedrooms }} bedrooms</li>
                    <li v-if="home.numOfBeds !== 0"> · {{home.numOfBeds}} beds</li>
                    <li v-if="home.numOfBathrooms !== 0"> · {{ home.numOfBathrooms }} baths</li>
                </ul>
            </div>
            <nuxt-link :to="localePath({ name: 'users-show-slug', params: {slug: home.user?.idUser || ''} })" class="host-img">
                <img v-if="home.user?.avatar" :src="home.user?.avatar" alt="">
                <img v-else src="https://a0.muscache.com/defaults/user_pic-225x225.png?v=3" alt="">
            </nuxt-link>
        </div>
        <hr>
        <div class="special">
            <div class="special-item">
                <b-icon class="icon" icon="door-open" font-scale="1.5"></b-icon>
                <div>
                    <h4>Self check-in</h4>
                    <p>Check yourself in with the keypad.</p>
                </div>
            </div >   
            <div class="special-item">
                <b-icon class="icon" icon="geo-alt" font-scale="1.5"></b-icon>
                <div>
                    <h4>Great location</h4>
                    <p>90% of recent guests gave the location a 5-star rating.</p>
                </div>
            </div>   
            <div class="special-item">
                <b-icon class="icon" icon="calendar4-event" font-scale="1.5"></b-icon>
                <div><h4>Free cancellation before Oct 1.</h4></div>
            </div>   
        </div>
        <hr>
        <div class="booking-info">
            <img src="https://a0.muscache.com/im/pictures/54e427bb-9cb7-4a81-94cf-78f19156faad.jpg" alt="">
            <p>Every booking includes free protection from Host cancellations, listing inaccuracies, and other issues like trouble checking in.</p>
            <button class="show-info-btn">Learn more</button>
        </div>
        <hr>
        <div class="room-info" v-if="home.description && home.description.length < 200">
            <div class="room-info-detail">
                {{home.description}}
            </div>
        </div>
        <div class="room-info" v-else>
            <div class="room-info-detail">
                {{home.description?.slice(0, 200)}} ...
            </div>
            <button class="show-info-btn">
                <span>Show more</span>
                <b-icon icon="chevron-right"></b-icon>
            </button>
        </div>
        <hr>
        <div class="section">
            <h2>Where you'll sleep</h2>
            <bed-room />
        </div>
        <hr>
        <div class="section">
            <h2>What this place offers</h2>
            <Amenity :home="home"/>
        </div>
        <hr>
        <div class="section">
            <Calendar :isPopup="false" :isShowCalendar="false" :range="range" @date-change="onDateChange" :address="home.address"/>
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import BedRoom from './BedRoom.vue';
import Amenity from './Amenity.vue';
import Calendar from '../Calendar.vue';
import { Home } from '~/modals/Home/Home';


@Component({
    components: {
        BedRoom, Amenity, Calendar
    }
})
export default class RoomDetail extends Vue {
    @Prop({ type: Object, required: true, default: () => ([]) }) range!: Object;
    @Prop({ type: Home, required: false }) home!: Home;

    onDateChange(dates) {
        this.$emit('date-change', dates);
    }
    
}
</script>

<style lang="scss" scoped>
    hr {
        color: rgb(221, 221, 221);
    }

    .room-detail {
        margin: 50px 0;
        width: 58%;

        .room-host{
            display: flex;

            .general {
                flex: 0 1 100%;

                h1 {
                    padding: 0;
                    margin: 0;
                    color: rgb(34, 34, 34);
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 26px;
                }

                ul {
                    padding: 0;
                    display: block;
                    list-style-type: decimal;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0;
                    margin-inline-end: 0;
                    padding-inline-start: 40px;

                    li {
                        display: inline-block;
                    }
                }
            }

            .host-img {
                height: 56px;
                width: 60px;
                border-radius: 50%;
                cursor: pointer;

                img {
                    object-fit: cover;
                    vertical-align: bottom;
                    height: 100%;
                    width: 100%;
                    position: static;
                    border-radius: 50%;
                }
            }
        }

        .special {
            padding-top: 20px;
            padding-bottom: 5px;

            .special-item {
                display: flex;
                margin-bottom: 20px;

                .icon {
                    flex-shrink: 0;
                    min-width: 24px;
                }

                div {
                    margin-left: 16px;

                    h4 {
                        color: rgb(34, 34, 34);
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 20px;
                        margin-bottom: 4px;
                        font-weight: 700;
                    }

                    p {
                        color: rgb(113, 113, 113);
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }

        .booking-info {
            padding-top: 20px;
            padding-bottom: 20px;

            img {
                height: 26px;
                margin-bottom: 17px;
            }

            p {
                font-size: 17px;
            }
        }

        .room-info {
            padding-top: 20px;
            padding-bottom: 20px;
            
            .room-info-detail {
                color: #222222;
                font-weight: 400;
                font-size: 17px;
                line-height: 24px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
            }
        }

        .section {
            color: #222222;
            margin: 40px 0;

            h2 {
                padding: 0;
                margin-bottom: 12px;
                color: rgb(34, 34, 34);
                font-weight: 600;
                font-size: 22px;
                line-height: 26px;
            }
        }
    }
</style>