<template>
    <div>
        <h1>{{home.name}}</h1>
        <div>
            <div class="section">
                <span>
                    <b-icon icon="star-fill"></b-icon>
                    <span v-if="rating.reviewResponses?.length !== 0">
                        <span>{{ ratingTotal.toFixed(2) }} ·</span>
                        <button class="link" @click="openShowAllReview">{{rating.reviewResponses?.length}} reviews</button>
                    </span>
                    <span v-else>
                        <span>New</span>
                    </span>
                    <span class="dot"> · </span>
                    <span><button class="link">{{home.address}}</button></span>
                </span>
                
                <span class="share-save">
                    <button class="link share"><b-icon class="icon" icon="share"></b-icon> Share</button>
                    <button class="link"><b-icon class="icon" icon="heart"></b-icon> Save</button>   
                </span>
            </div>
            <div>
                
            </div>
            <div class="room-img">
                <div v-if="home?.listImages?.length">
                    <div>
                        <img class="main-img img-link" :width="home.listImages?.length > 1 ? '50%' : '100%'" :src="home.listImages[0]" alt="">
                    </div>
                    <div class="col-1">
                        <img class="img-link" :src="home.listImages[1]" alt="">
                        <img class="img-link" :src="home.listImages[2]" alt="">
                    </div>
                    <div class="col-2" v-if="home.listImages.length > 1">
                        <img class="img-link" :src="home.listImages[3]" alt="">
                        <img class="img-link" :src="home.listImages[4]" alt="">
                    </div>
                </div>
                <button class="show-all-btn">
                    <b-iconstack>
                        <b-icon icon="three-dots-vertical" shift-h="-5"></b-icon>
                        <b-icon icon="three-dots-vertical" shift-h="0"></b-icon>
                        <b-icon icon="three-dots-vertical" shift-h="5"></b-icon>
                    </b-iconstack>
                       Show all photos
                </button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import { Home } from '~/modals/Home/Home';
import { Rating } from '~/modals/Home/Rating';

@Component({

})
export default class RoomImages extends Vue {
    @Prop({ type: Home, required: false }) home!: Home;
    @Prop({ type: Object }) rating!: Rating;

    get ratingTotal() {
        return (Number(this.rating.cleanliness) + Number(this.rating.accuracy) + Number(this.rating.communication) + Number(this.rating.location) + Number(this.rating.checkIn) + Number(this.rating.value)) / Number(this.rating.reviewResponses?.length) / 6
    }

    openShowAllReview() {
        this.$emit('open-show-all-review', true);
    }
}
</script>

<style lang="scss" scoped>
    .img-link:hover {
        cursor: pointer;
        opacity: 0.8;
    }
    
    .link {
        color: rgb(34, 34, 34);
        line-height: 20px;
        padding-left: 4px;
        font-weight: 520;
        text-decoration: underline;
        cursor: pointer;
        border-radius: 0;
        outline: none;
        border: none;
        padding: 0;
        background-color: #fff;
    }

        h1 {
            font-size: 26px;
            line-height: 30px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .section {
            margin-bottom: 25px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            color: rgb(34, 34, 34);
            line-height: 20px;
            font-weight: 520;

            .icon {
                margin-right: 5px;
            }

            .share {
                margin: 0 20px;
            }

            .dot {
                margin: 5px 5px 0px;
            }
        }

        .room-img {
            position: relative;
            max-height: calc(100vh - 140px);
            min-height: 350px;

            .main-img {
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                object-fit: cover;
            }

            .col-1 {
                display: flex;
                flex-direction: column;
                gap: 8px;
                height: 100%;
                max-width: 25%;
                padding: 0 8px;
                left: 50%;
                top: 0;
                position: absolute;

                img {
                    height: 49%;
                    object-fit: cover;
                }
            }

            .col-2 {
                display: flex;
                flex-direction: column;
                gap: 8px;
                height: 100%;
                max-width: 25%;
                padding: 0;
                right: 0;
                top: 0;
                position: absolute;

                img {
                    height: 49%;
                    object-fit: cover;

                    &:first-child{
                        border-top-right-radius: 10px;
                    }

                    &:last-child {
                        border-bottom-right-radius: 10px;
                    }
                }
            }

            .show-all-btn {
                position: absolute;
                z-index: 3;
                bottom: 24px;
                right: 24px;
                margin: 0;
                text-align: center;
                width: auto;
                line-height: 18px;
                border-radius: 8px;
                border: 1px solid #222222;
                outline: none;
                padding: 7px 15px;
                background-color: #fff;
                color: #222222;
                font-weight: 510;

                &:hover {
                    background-color: #f7f7f7;
                }
            }
        }
    
</style>