<template>
    <div class="review-popup">
        <div class="review-popup__container">
            <div class="review-popup__container__header">
                <button class="review-popup__container__header__close-btn" @click="closeShowAllReview">
                    <b-icon icon="x-lg" scale="0.8"></b-icon>
                </button>
            </div>
            <div class="review-popup__container__header-container"></div>
            <div class="review-popup__container__main">
                <div class="review-popup__container__main__container">
                    <div class="review-popup__container__main__container__flex">
                        <div class="review-popup__container__main__container__flex__right">
                            <div class="review-popup__container__main__container__flex__right__content">
                                <div class="review-popup__container__main__container__flex__right__content__title">
                                    <h2><b-icon icon="star-fill"></b-icon> {{ratingTotal.toFixed(2)}} · {{rating.reviewResponses?.length}} reviews</h2>
                                </div>
                                <div class="review-popup__container__main__container__flex__right__content__rating">
                                    <div class="review-popup__container__main__container__flex__right__content__rating__flex">
                                        <div class="review-popup__container__main__container__flex__right__content__rating__flex__rating-item" v-for="(rating, index) in ratings" :key="index">
                                            <span class="review-popup__container__main__container__flex__right__content__rating__flex__rating-item__label">{{rating.label}}</span>
                                            <div class="review-popup__container__main__container__flex__right__content__rating__flex__rating-item__value">
                                                <b-progress :value="rating.value" :max="5.0" class="review-popup__container__main__container__flex__right__content__rating__flex__rating-item__value__b-progress"
                                                    height="5px" variant="dark"></b-progress>
                                                <span>{{rating.value.toFixed(1)}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-popup__container__main__container__flex__left">
                            <div class="review-popup__container__main__container__flex__left__container" v-for="review in reviews" :key="review.id">
                                <div class="review-popup__container__main__container__flex__left__container__flex">
                                    <div class="review-popup__container__main__container__flex__left__container__flex__user">
                                        <div class="review-popup__container__main__container__flex__left__container__flex__user__info">
                                            <h3>{{review.name}}</h3>
                                            <div class="review-popup__container__main__container__flex__left__container__flex__user__info__date">{{review.date}}</div>
                                        </div>
                                        <div class="review-popup__container__main__container__flex__left__container__flex__user__avatar">
                                            <nuxt-link to="/" class="review-popup__container__main__container__flex__left__container__flex__user__avatar__link">
                                                <div class="review-popup__container__main__container__flex__left__container__flex__user__avatar__link__img-container">
                                                    <img :src="review.img" alt="">
                                                </div>
                                            </nuxt-link>
                                        </div>
                                    </div>
                                    <div class="review-popup__container__main__container__flex__left__container__flex__review">
                                        {{review.review}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Rating } from '~/modals/Home/Rating';
import { plainToClass } from 'class-transformer';
import { UserInfo } from '~/modals/User/UserInfo';

@Component
export default class ShowAllReviewPopup extends Vue {
    @Prop({ type: Object }) rating!: Rating;
    ratings = [
        { label: "Cleanliness", value: Number(this.rating.cleanliness) / Number(this.rating.reviewResponses?.length) },
        { label: "Accuracy", value: Number(this.rating.accuracy) / Number(this.rating.reviewResponses?.length) },
        { label: "Communication", value: Number(this.rating.communication) / Number(this.rating.reviewResponses?.length) },
        { label: "Location", value: Number(this.rating.location) / Number(this.rating.reviewResponses?.length) },
        { label: "Check-in", value: Number(this.rating.checkIn) / Number(this.rating.reviewResponses?.length) },
        { label: "Value", value: Number(this.rating.value) / Number(this.rating.reviewResponses?.length) },
    ];
    reviews: any = []

    closeShowAllReview() {
        this.$emit('close-show-all-review', false)
    }

    created() {
        try {
            this.rating.reviewResponses?.map(async review => {
                const response = await this.$api.user.getUserInfo(review.idUser);
                const user = plainToClass(UserInfo, response.data.data);
                const newReview = {
                    id: user.id,
                    name: user.name,
                    img: user.avatar,
                    date: review.dateCreate,
                    review: review.review
                }
                this.reviews = [...this.reviews, newReview]
            })
        } catch (error) {
            console.log(error);
        }
    }

    get ratingTotal() {
        return (Number(this.rating.cleanliness) + Number(this.rating.accuracy) + Number(this.rating.communication) + Number(this.rating.location) + Number(this.rating.checkIn) + Number(this.rating.value)) / Number(this.rating.reviewResponses?.length) / 6
    }
}
</script>

<style lang="scss" scoped>
.review-popup {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        background: #fff;
        position: relative;
        width: 100vw;
        max-width: 100vw;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: rgb(0 0 0 / 28%);
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        overflow: clip;
    
        @media screen and (min-width: 744px) {
            width: 100%;
            max-width: 1032px;
            border-radius: 12px;
        }

        &__header {
            position: absolute;
            display: flex;
            top: 16px;
            left: 24px;
            z-index: 1;

            @media screen and (min-width: 744px){
                top: 24px;
            }

            &__close-btn {
                border-radius: 50%;
                background-color: transparent;
                padding: 0;
                margin: 0;
                border: none;
                
                &::before{
                    content: '';
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 32px;
                    height: 32px;
                    z-index: -1;
                }

                &:hover::before{
                    background: #f7f7f7;
                }
            }
        }

        &__header-container {
            flex: 0 0 72px;
            position: sticky;
            text-align: left;
            top: 0px;
            z-index: -1;
        }

        &__main {
            padding: 0px 24px;
            flex: 1 1 auto;
            overflow: auto;

            &__container {
                color: rgb(34, 34, 34);
                font-weight: 400;
                outline: none;
                position: relative;

                &__flex {
                    display: flex;
                    align-items: stretch;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    width: calc(100% + 12px);
                    margin-left: -6px;
                    margin-right: -6px;

                    @media screen and (min-width: 375px){
                        margin-left: -6px;
                        margin-right: -6px;
                        width: calc(100% + 12px);
                    }

                    @media screen and (min-width: 744px){
                        margin-left: -8px;
                        margin-right: -8px;
                        width: calc(100% + 16px);
                    }

                    &__right {
                        position: relative;
                        width: 100%;
                        margin-left: 0%;
                        margin-right: 0%;
                        padding-left: 6px;
                        padding-right: 6px;

                        @media screen and (min-width: 375px) {
                            padding-left: 6px;
                            padding-right: 6px;
                        }

                        @media screen and (min-width: 744px){
                            padding-left: 8px;
                            padding-right: 8px;
                        }

                        @media screen and (min-width: 1128px){
                            width: 33.33%;
                            margin-right: 8.33%;
                        }

                        &__content {
                            background: #fff;
                            position: sticky;
                            top: 0px;
                            z-index: 1;

                            @media screen and (min-width: 744px) {
                                padding-top: 24px;
                                top: -24px;
                            }

                            &__title {
                                padding-bottom: 16px;
                                color: rgb(34, 34, 34);
                                font-weight: 800;
                                font-size: 26px;
                                line-height: 30px;

                                @media screen and (min-width: 744px) {
                                    padding-bottom: 24px;
                                    font-size: 32px;
                                    line-height: 36px;
                                }

                                @media screen and (min-width: 1128px) {
                                    padding-bottom: 40px;
                                }

                                h2 {
                                    color: inherit;
                                    font-size: 1em;
                                    font-weight: inherit;
                                    line-height: inherit;
                                    margin: 0px;
                                    padding: 0px;
                                }
                            }

                            &__rating {
                                padding-bottom: 16px;

                                @media screen and (min-width: 744px) {
                                    padding-bottom: 24px;
                                }

                                &__flex {
                                    display: flex;
                                    align-items: stretch;
                                    justify-content: flex-start;
                                    flex-wrap: wrap;
                                    width: calc(100% + 12px);
                                    margin-left: -6px;
                                    margin-right: -6px;

                                    @media screen and (min-width: 375px) {
                                        margin-left: -6px;
                                        margin-right: -6px;
                                        width: calc(100% + 12px);
                                    }

                                    @media screen and (min-width: 744px) {
                                        margin-left: -8px;
                                        margin-right: -8px;
                                        width: calc(100% + 16px);
                                    }

                                    &__rating-item {
                                        position: relative;
                                        width: 100%;
                                        margin-left: 0%;
                                        margin-right: 0%;
                                        padding-left: 6px;
                                        padding-right: 6px;
                                        margin-bottom: 12px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;

                                        @media screen and (min-width: 744px) {
                                            width: 50%;
                                            padding-left: 8px;
                                            padding-right: 8px;
                                        }
                                        @media screen and (min-width: 950px) {
                                            padding-left: 8px;
                                            padding-right: 8px;
                                        }
                                        @media screen and (min-width: 1128px) {
                                            width: 100%;
                                            padding-left: 8px;
                                            padding-right: 8px;
                                        }
                                        
                                        &__label {
                                            width: 100%;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                        }

                                        &__value {
                                            display: flex;
                                            align-items: center;
                                            margin-left: 12px;
                                            width: 75%;

                                            &__b-progress {
                                                position: relative;
                                                height: 4px;
                                                width: 100%;
                                                margin-right: 4px;
                                                background: rgb(221, 221, 221);
                                                border-radius: 2px;
                                            }

                                            span {
                                                color: rgb(34, 34, 34);
                                                font-weight: 600;
                                                font-size: 12px;
                                                line-height: 16px;
                                                margin-left: 6px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &__left {
                        position: relative;
                        width: 100%;
                        margin-left: 0%;
                        margin-right: 0%;
                        padding-left: 6px;
                        padding-right: 6px;
                        margin-top: 40px;

                        @media screen and (min-width: 744px) {
                            padding-left: 8px;
                            padding-right: 8px;
                        }

                        @media screen and (min-width: 1128px) {
                            padding-left: 8px;
                            padding-right: 8px;
                            width: 58.33%;
                        }

                        &__container {
                            margin-bottom: 40px;

                            &__flex {
                                &__user {
                                    margin-bottom: 16px;
                                    display: flex;
                                    flex-direction: row-reverse;
                                    justify-content: left;
                                    align-items: center;

                                    &__info {
                                        margin-left: 12px;
                                        color: #222222;
                                        font-weight: 600;
                                        font-size: 16px;
                                        line-height: 20px;

                                        h3 {
                                            color: inherit;
                                            font-size: 1em;
                                            font-weight: inherit;
                                            line-height: inherit;
                                            margin: 0px;
                                            padding: 0px;
                                        }

                                        &__date {
                                            color: #717171;
                                            font-weight: 400;
                                            font-size: 14px;
                                            line-height: 20px;
                                        }
                                    }

                                    &__avatar {
                                        height: 40px;
                                        width: 40px;
                                        
                                        &__link {
                                            height: 100%;
                                            width: 100%;

                                            &__img-container {
                                                height: 40px;
                                                width: 40px;
                                                border-radius: 50%;
                                                background: rgb(221, 221, 221);
                                                overflow: hidden;
                                                position: relative;

                                                img {
                                                    object-fit: cover;
                                                    height: 100%;
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }
                                }

                                &__review {
                                    line-height: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}
</style>