<template>
    <div class="reviews">
        <div class="reviews__container">
            <div class="reviews__container__no-reviews">
                <h2 class="reviews__container__no-reviews__title">{{title}}</h2>
                <div class="reviews__container__no-reviews__desc">{{desc}}</div>
                <component v-bind:is="childCurrentComponent" ref="component" :ratingBooking="ratingBooking"></component>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import ReviewsToWrite from './ReviewsToWrite.vue';
import { Booking } from '~/modals/Booking/Booking';

@Component({
    components: {
        ReviewsToWrite,
    }
})
export default class ReviewsAboutYou extends Vue {
    @Prop({ type: String }) title!: String;
    @Prop({ type: String }) desc!: String;
    @Prop({ type: String }) childCurrentComponent!: String;
    @Prop({ type: Array }) ratingBooking!: Booking[];
}
</script>

<style lang="scss" scoped>
.reviews {
    &__container {
        margin-top: 24px;
        margin-bottom: 80px;

        &__no-reviews {
            margin-bottom: 16px;

            &__title {
                font-size: 22px;
                line-height: 26px;
                font-weight: 600;
            }

            &__desc {
                margin-top: 8px;
            }
        }
    }
}
</style>