<template>
    <div class="reviews-to-write">
        <div class="reviews-to-write__container" v-for="rating in ratingBooking" :key="rating.id">
            <div class="reviews-to-write__container__host" >
                <div class="reviews-to-write__container__host__img">
                    <img :src="rating.home?.user?.avatar" alt="">
                </div>
                <!-- <div class="reviews-to-write__container__host__name">Nga Ly</div> -->
            </div>
            <div class="reviews-to-write__container__detail" >
                <div class="reviews-to-write__container__detail__desc">You have <span>11 days</span> to submit a public review for <span>{{rating.home?.user?.name}}</span></div>
                <nuxt-link :to="localePath({ name: 'users-reviews-slug', params: { slug: rating.id || '' } })" class="reviews-to-write__container__detail__link">Write a Review</nuxt-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Booking } from '~/modals/Booking/Booking';

@Component
export default class ReviewsToWrite extends Vue {
    @Prop({ type: Array }) ratingBooking!: Booking[]; 
}
</script>

<style lang="scss" scoped>
.reviews-to-write{
    margin: 20px 0;

    &__container {
        display: flex;
        gap: 30px;
        align-items: center;
        margin-bottom: 20px;

        &__host {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-weight: 600;

            &__img {
                width: 60px;
                height: 60px;
                margin-bottom: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }

        &__detail {
            &__desc {
                margin-bottom: 10px;

                span {
                    font-weight: 600;
                }
            }

            &__link {
                border: none;
                background: transparent;
                outline: none;
                color: #00787a;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                padding: 0;
                margin: 0;
                margin-right: 20px;

                &:hover {
                    color: #008689;
                    text-decoration: underline;
                }
            }
        }
    }
}
</style>