<template>
    <div class="reviews-by-you">
        <modal-no-reviews title="Reviews to write" desc="Nobody to review right now. Look like it's time for another trip!" childCurrentComponent="reviews-to-write" :ratingBooking="ratingBooking" />
        <modal-no-reviews title="Past reviews you've written" desc="You have not written any reviews yet." />
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import ModalNoReviews from './ModalNoReviews.vue';
import { Booking } from '~/modals/Booking/Booking';

@Component({
    components: {
        ModalNoReviews,
    }
})
export default class ReviewsByYou extends Vue {
    @Prop({ type: Array }) ratingBooking!: Booking[];
}
</script>

<style scoped>

</style>