<template>
    <div class="past-reviews">
        <modal-no-reviews title="Past reviews" desc="No one has reviewed you yet." />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ModalNoReviews from './ModalNoReviews.vue'

@Component({
    components: {
        ModalNoReviews,
    }
})
export default class ReviewsAboutYou extends Vue {
    
}
</script>

<style lang="scss" scoped>
</style>