<template>
    <div class="listing-management">
        <div class="listing-management__container">
            <div class="listing-management__container__top">
                <div class="listing-management__container__top__header">
                    <div class="listing-management__container__top__header__title">{{listings.length}} listing(s)</div>
                    <div class="listing-management__container__top__header__btn-group">
                        <div class="listing-management__container__top__header__btn-group__btn-icon">
                            <button>
                                <b-icon icon="filter"></b-icon>
                            </button>
                        </div>
                        <div class="listing-management__container__top__header__btn-group__btn-plus">
                            <nuxt-link to="/" class="listing-management__container__top__header__btn-group__btn-plus__link">
                                <b-icon icon="plus-lg" scale="0.9"></b-icon>
                            </nuxt-link>
                        </div>
                        <div class="listing-management__container__top__header__btn-group__btn-create">
                            <nuxt-link to="/" class="listing-management__container__top__header__btn-group__btn-create__link">
                                <b-icon icon="plus-lg" scale="0.8"></b-icon>
                                <span>Create listing</span>
                            </nuxt-link>
                        </div>
                    </div>
                </div>
                <div class="listing-management__container__top__search-filters">
                    <div class="listing-management__container__top__search-filters__flex">
                        <div class="listing-management__container__top__search-filters__flex__search-box" v-click-outside="() => isFocus = false">
                            <div class="listing-management__container__top__search-filters__flex__search-box__input-group" :class="isFocus && 'focus'">
                                <b-icon icon="search" class="listing-management__container__top__search-filters__flex__search-box__input-group__icon" :class="isFocus && 'icon-focus'"></b-icon>
                                <input type="text" placeholder="Search listings" @focus="() => isFocus = true" v-model="search">
                            </div>
                        </div>
                        <div class="listing-management__container__top__search-filters__flex__filters-group">
                            <div class="listing-management__container__top__search-filters__flex__filters-group__container">
                                <div class="listing-management__container__top__search-filters__flex__filters-group__container__btn-filters">
                                    <button class="btn">
                                        Filters
                                    </button>
                                </div>
                                <div class="listing-management__container__top__search-filters__flex__filters-group__container__btn-group">
                                    <div class="listing-management__container__top__search-filters__flex__filters-group__container__btn-group__btn-container">
                                        <button class="btn" @click="() => showPopup('rooms-beds')">
                                            <span class="btn__label">Rooms and beds</span>
                                            <b-icon icon="chevron-down" class="btn__icon"></b-icon>
                                        </button>
                                        <filters-popup v-if="isShowPopup && currentFilter === 'rooms-beds'" v-click-outside="showPopup">
                                            <filters-options :current="currentFilter" />
                                        </filters-popup>
                                    </div>
                                    <div class="listing-management__container__top__search-filters__flex__filters-group__container__btn-group__btn-container">
                                        <button class="btn" @click="() => showPopup('amenities')">
                                            <span class="btn__label">Amenities</span>
                                            <b-icon icon="chevron-down" class="btn__icon"></b-icon>
                                        </button>
                                        <filters-popup v-if="isShowPopup && currentFilter === 'amenities'" v-click-outside="showPopup">
                                            <filters-options :current="currentFilter" />
                                        </filters-popup>
                                    </div>
                                    <div class="listing-management__container__top__search-filters__flex__filters-group__container__btn-group__btn-container">
                                        <button class="btn" @click="() => showPopup('status')">
                                            <span class="btn__label">Listing status</span>
                                            <b-icon icon="chevron-down" class="btn__icon"></b-icon>
                                        </button>
                                        <filters-popup v-if="isShowPopup && currentFilter === 'status'" v-click-outside="showPopup">
                                            <filters-options :current="currentFilter" />
                                        </filters-popup>
                                    </div>
                                    <div class="listing-management__container__top__search-filters__flex__filters-group__container__btn-group__btn-container">
                                        <button class="btn" @click="() => showPopup('others')">
                                            <span class="btn__label">More filters</span>
                                            <b-icon icon="chevron-down" class="btn__icon"></b-icon>
                                        </button>
                                        <filters-popup v-if="isShowPopup && currentFilter === 'others'" v-click-outside="showPopup">
                                            <filters-options :current="currentFilter" />
                                        </filters-popup>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <listings-table :items="listings" :search="search" @toggle-btn-edit="toggleBtnEdit" :isEditingDetail="isEditingDetail"/>
        </div>
        <edit-listing-button v-if="isShowBtnEdit && !isEditing" :numListingsEdit='numListingsEdit' @open-editing="toggleEditing" />
        <edit-listings v-if="isEditing" @close-editing="toggleEditing" :numListingsEdit='numListingsEdit' @change-editing-detail="changeEditingDetail"/>
    </div>
</template>
        
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import FiltersPopup from '../../../components/Hosting/Listings/FiltersPopup.vue'
import ListingsTable from '~/components/Hosting/Listings/ListingsTable.vue';
import FiltersOptions from '~/components/Hosting/Listings/FiltersOptions.vue';
import EditListingButton from '~/components/Hosting/Listings/EditListingButton.vue';
import EditListings from '~/components/Hosting/Listings/EditListings.vue';
import { Home } from '~/modals/Home/Home';
import { plainToClass } from 'class-transformer';

@Component({
    layout: 'become-host',
    components: {
        FiltersPopup, ListingsTable, FiltersOptions, EditListingButton, EditListings
    }
})
export default class Listings extends Vue {
    // listings = [
    //     {
    //         checkbox: false,
    //         listing: 'Heo',
    //         status: 'In progress',
    //         todo: 'Publish',
    //         instant_book: 'On',
    //         bedrooms: 2,
    //         beds: 4,
    //         baths: 1,
    //         location: 'Son Tra, VietNam',
    //         last_modified: 'Nov 12, 2022',
    //     },
    //     {
    //         checkbox: false,
    //         listing: 'Nga',
    //         status: 'In progress',
    //         todo: 'Publish',
    //         instant_book: 'On',
    //         bedrooms: 3,
    //         beds: 5,
    //         baths: 7,
    //         location: 'Son Tra, VietNam',
    //         last_modified: 'Nov 12, 2022',
    //     },
    // ]

    listings: any[] = [];

    isFocus: Boolean = false;
    search = '';
    isShowPopup: Boolean = false;
    currentFilter = 'rooms-beds';
    isShowBtnEdit = false;
    numListingsEdit = 0;
    isEditing = false;
    isEditingDetail = false;

    get handleChange() {
        return this.search
    }

    showPopup(value = '') {
        this.isShowPopup = !this.isShowPopup;
        this.currentFilter = value
    }

    toggleBtnEdit({isShow, count}) {
        this.isShowBtnEdit = isShow;
        this.numListingsEdit = count;
    }

    toggleEditing(value) {
        this.isShowBtnEdit = false;
        this.isEditing = value;
        if (value === false) {
            this.listings.map(item => item.checkbox = false);
        }
    }

    changeEditingDetail(value) {
        this.isEditingDetail = value;
    }

    async asyncData({ $api, $auth }) {
        let listings: any[] = []

        try {
            const response = await $api.home.getAllHomeByUser($auth.user.id)
            if (response.data.data.length > 0) {
                response.data.data.map(home => {
                    let newHome = plainToClass(Home, home)
                    listings.push({ 
                        checkbox: false,
                        listing: {
                            img: newHome.listImages!.at(0),
                            name: newHome.name
                        },
                        status: 'In progress',
                        todo: 'Publish',
                        instant_book: "On",
                        bedrooms: newHome.numOfBedrooms,
                        beds: newHome.numOfBeds,
                        baths: newHome.numOfBathrooms,
                        location: newHome.address,
                        last_modified: newHome.dateCreate
                     });
                })
            }
            
        } catch (error) {
            console.log(error);
        }

        return { listings }
    }
}
</script>

<style lang="scss" scoped>
.focus {
    box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset !important;
}

.icon-focus {
    stroke: currentColor !important;
    stroke-width: 1.5 !important;
}
.listing-management{
    overflow: auto;
    position: relative;
    height: 80vh;
    margin-bottom: 80px;

    &__container {
        display: flex;
        flex-direction: column;
        padding: 0 8px;
        overflow: auto;

        @media screen and (min-width: 560px) {
            overflow: unset;
        }

        &__top {
            margin-bottom: 16px;
            z-index: 2;

            &__header {
                padding: 0 24px;
                width: 100%;
                align-items: baseline;
                background: #fff;
                display: flex;
                justify-content: space-between;
                padding-bottom: 16px;
                padding-top: 24px;
                z-index: 5;
                flex-wrap: wrap;

                @media screen and (min-width: 744px) {
                    padding-top: 32px;
                }

                &__title {
                    font-size: 22px;
                    line-height: 26px;
                    flex-grow: 1;
                    font-weight: 600;
                    min-width: 0px;
                    overflow: visible;
                    text-overflow: unset;
                    white-space: nowrap;
                }

                &__btn-group {
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    &__btn-create {
                        @media screen and (max-width: 744px) {
                            display: none;
                        }

                        &__link {
                            margin: 0;
                            position: relative;
                            text-align: center;
                            text-decoration: none;
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: 600;
                            border: 1px solid #222222;
                            outline: none;
                            padding: 0px 16px;
                            background-color: #fff;
                            color: #222222;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 8px;
                            height: 40px;

                            &:hover {
                                border-color: #000;
                                background: #f7f7f7;
                            }

                            span {
                                margin-left: 8px;
                            }
                        }
                    }

                    &__btn-icon {

                        @media screen and (min-width: 744px){
                            display: none;
                        }

                        button {
                            border: none;
                            background: transparent;
                            outline: none;
                            padding: 0 16px;
                            border-radius: 32px;
                            height: 32px;
                            margin: 0;
                            color: #222222;
                            position: relative;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            flex: 1;

                            &:hover {
                                border-color: #000;
                                background: #f7f7f7;
                            }
                        }
                    }

                    &__btn-plus {
                        @media screen and (min-width: 744px) {
                            display: none;
                        }

                        &__link {
                            margin: 0;
                            position: relative;
                            text-align: center;
                            text-decoration: none;
                            border-radius: 100%;
                            border: 1px solid #222222;
                            outline: none;
                            background: #fff;
                            width: 32px;
                            height: 32px;
                            color: #222222;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0;

                            &:hover {
                                border-color: #000;
                                background: #f7f7f7;
                            }
                        }
                    }
                }
            }

            &__search-filters {
                padding-left: 24px;
                padding-right: 24px;
                padding-bottom: 12px;
                padding-top: 4px;
                width: 100%;
                background: #fff;
                height: 48px;
                z-index: 5;

                &__flex {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    &__search-box {
                        min-width: 100%;
                        width: 100%;
                        flex-grow: 1;

                        @media screen and (min-width: 744px) {
                            min-width: 327px;
                            margin-right: 24px;
                            max-width: 327px;
                        }

                        &__input-group {
                            position: relative;
                            cursor: text;
                            display: flex;
                            min-height: 32px;
                            width: 100%;
                            margin: 0;
                            border: none;
                            color: rgb(34, 34, 34);
                            background: rgb(247, 247, 247);
                            height: unset;
                            align-items: center;
                            padding: 0 6px 0 12px;
                            border-radius: 100px;
                            box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;

                            @media screen and (min-width: 744px) {
                                min-width: 327px;
                            }

                            &__icon {
                                display: block;
                                height: 16px;
                                width: 16px;
                                overflow: visible;
                            }

                            input {
                                flex: 1 1 0%;
                                border: none;
                                outline: none;
                                margin: 0 8px 0 8px;
                                min-height: 1px;
                                color: rgb(34, 34, 34);
                                background: transparent;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 20px;
                                appearance: none;
                                width: 100%;
                                padding: 0;
                                text-overflow: ellipsis;
                            }
                        }
                    }

                    &__filters-group {
                        flex-shrink: 0;
                        height: 40px;
                        display: none;

                        @media screen and (min-width: 744px) {
                            display: block;
                            flex-shrink: 1;
                        }

                        &__container {
                            display: inline-flex;
                            height: 40px;
                            padding: 4px 4px 0;
                            min-width: 100px;
                            flex-wrap: nowrap;
                            max-width: 100%;
                            position: relative;
                            overflow: hidden;

                            @media screen and (min-width: 1128px) {
                                overflow: visible;
                            }

                            @media screen and (min-width: 744px) {
                                flex-wrap: wrap;
                            }

                            &__btn-filters{
                                position: absolute;
                                top: 4px;
                                left: 4px;
                            }

                            &__btn-group {
                                background: #fff;
                                z-index: 2;
                                flex-flow: row nowrap;
                                display: inline-flex;
                                height: 32px;
                                align-items: center;
                                visibility: visible;

                                @media screen and (max-width: 1075px) {
                                    display: none;
                                }

                                &__btn-container {
                                    display: inline-block;
                                    position: relative;
                                    padding-right: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.btn {
    border: 1px solid rgb(221, 221, 221);
    background: #fff;
    outline: none;
    padding: 0 16px;
    margin: 0;
    color: rgb(34, 34, 34);
    position: relative;
    border-radius: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0%;
    font-size: 14px;
    line-height: 18px;

    &:hover {
        color: #000;
        border-color: #000;
    }

    &__icon {
        padding-left: 8px;
        margin-right: -4px;
        display: block;
        stroke: currentColor;
        stroke-width: 2;
        overflow: visible;
    }
}
</style>