<template>
    <div>
        <top-steps :isStepTwo="isStepTwo" @change-step="changeStep" />
        <div class="main-section">
            <reason-cancel v-if="!isStepTwo" @change-step="changeStep" :listReason="listReason"/>
            <confirm-cancel v-else :reason="reason" :booking="booking"/>
            <info-booking-card :booking="booking"/>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TopSteps from '~/components/Trips/CancelTrip/TopSteps.vue';
import ReasonCancel from '~/components/Trips/CancelTrip/ReasonCancel.vue';
import InfoBookingCard from '~/components/Trips/CancelTrip/InfoBookingCard.vue';
import ConfirmCancel from '~/components/Trips/CancelTrip/ConfirmCancel.vue';
import { Booking } from '~/modals/Booking/Booking';
import { plainToClass } from 'class-transformer';

@Component({
    layout: 'empty',
    components: {
        TopSteps, ReasonCancel, InfoBookingCard, ConfirmCancel
    }
})
export default class CancelBookingClient extends Vue {
    isStepTwo = false;
    booking: Booking = {}
    listReason = [
        {
            id: 0,
            value: "I no longer need accommodations"
        },
        {
            id: 1,
            value: "I made the reservation by accident"
        },
        {
            id: 2,
            value: "I have an extenuating circumstance"
        },  
        {
            id: 3,
            value: "My host needs to cancel"
        },  
        {
            id: 4,
            value: "I'm uncomfortable with the host"
        },  
        {
            id: 5,
            value: "My travel dates changed"
        },  
        {
            id: 6,
            value: "Other"
        },  
    ]
    reason = ''

    changeStep({value, reason}) {
        this.isStepTwo = value;
        this.reason = this.listReason[Number(reason)].value
    }

    async asyncData({ $api, params }) {
        let booking: Booking = {}

        try {
            const res = await $api.booking.getBookingDetailsByClient(params.slug);
            booking = plainToClass(Booking, res.data.data);
        } catch (error) {
            console.log(error);

        }

        return { booking }
    }
}
</script>

<style lang="scss" scoped>
.main-section {
    display: flex;
    width: 70%;
    margin: 0 auto;
}
</style>