<template>
    <div class="container">
        <div class="container__header">
            <h2 class="container__header__title">Trips</h2>
        </div>
        <div class="container__list-review-container" v-if="allBookings.length !== 0">
            <div class="container__list-review-container__buttons">
                <button class="container__list-review-container__buttons__item" :class="currentActive === 'all' && 'active'"
                    @click="() => changeCurrentActive('all')">All</button>
                <button class="container__list-review-container__buttons__item" :class="currentActive === 'upcoming' && 'active'" @click="() => changeCurrentActive('upcoming')">Upcoming</button>
                <button class="container__list-review-container__buttons__item" :class="currentActive === 'past' && 'active'" @click="() => changeCurrentActive('past')">Past</button>
                <button class="container__list-review-container__buttons__item" :class="currentActive === 'canceled' && 'active'" @click="() => changeCurrentActive('canceled')">Canceled</button>
            </div>
            <hr>
        </div>
        
        <div class="container__main" v-else>
            <div class="container__main__text-lg">No trips booked...yet!</div>
            <div class="container__main__text">Time to dust off your bags and start planning your next adventure</div>
            <div class="container__main__btn-container">
                <nuxt-link to="/" class="container__main__btn-container__btn">Start searching</nuxt-link>
            </div>
        </div>
        <div>
            <trip-card v-for="booking in listBookings" :key="booking.id" :booking="booking" @open-show-details="openShowDetails" />
        </div>
        <trip-detail v-if="isShowDetails" @close-show-details="toggleShowDetails" :booking="bookingDetails" v-click-outside="() => isShowDetails = false" v-scroll-lock="isShowDetails" />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TripCard from '../../../components/Trips/TripCard.vue';
import { Booking } from '~/modals/Booking/Booking';
import { plainToClass } from 'class-transformer';
import TripDetail from '~/components/Trips/TripDetail.vue';

@Component({
    middleware: ['protect-author'],
    components: {
        TripCard, TripDetail
    }
})
export default class Trips extends Vue {
    currentActive = 'all';
    allBookings: Booking[] = [];
    isShowDetails: boolean = false;
    bookingDetails: Booking = {};
    listBookings: Booking[] = [];

    created() {
        this.allBookings = this.listBookings;
    }

    changeCurrentActive(value) {
        this.currentActive = value;

        this.listBookings = this.allBookings
        if (value === 'upcoming') {
            this.listBookings = this.listBookings.filter(booking => booking.status === 'PAID')
        }
        else if (value === 'past') {
            this.listBookings = this.listBookings.filter(booking => booking.checkIn! < new Date())
        }
        else if (value === 'canceled') {
            this.listBookings = this.listBookings.filter(booking => booking.status === 'CANCEL')
        }
    }

    toggleShowDetails(value) {
        this.isShowDetails = value;
    }

    async openShowDetails({value, idBooking}) {
        try {
            const response = await this.$api.booking.getBookingDetailsByClient(idBooking);
            this.bookingDetails = plainToClass(Booking, response.data.data)
            console.log(this.bookingDetails);
            
        } catch (error) {
            console.log(error);
        }

        this.isShowDetails = value;
    }

    async asyncData({ $api }) {
        let listBookings: Booking[] = []
        try {
            const response = await $api.booking.getBookingByClient();
            const allBookings = response.data.data;
            if (allBookings.length > 0) {
                allBookings.map(booking => {
                    listBookings.push(plainToClass(Booking, booking));
                })                
            }
            this.allBookings = this.listBookings
        } catch (error) {
            console.log(error);
        }

        return { listBookings }
    }
}
</script>

<style lang="scss" scoped>
hr {
    margin: 0;
    margin-bottom: 40px;
}
.container{
    margin-bottom: 80px;
    &__header {
        padding-top: 34px;
        padding-bottom: 14px;

        &__title {
            margin: 0;
            padding: 0;
            white-space: pre-line;
            max-width: 100%;
            font-size: 32px;
            font-weight: 800;
            letter-spacing: 0;
            line-height: 36px;
            color: #222222;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__list-review-container {
        color: #222222;
        margin-top: 20px;

        &__buttons {
            display: flex;

            .active {
                color: #222222;

                &::after {
                    content: "";
                    position: absolute;
                    background-color: #222222;
                    bottom: -6px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                }
            }

            &__item {
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
                border-radius: 8px;
                border: none;
                background: transparent;
                color: #717171;
                padding: 10px 10px;
                margin: 0 40px 6px 0;
                outline: none;
                position: relative;

                &:hover {
                    background: #f7f7f7;
                }
            }
        }
    }

    &__main {
        margin-top: 50px;
        padding-bottom: 48px;

        &__text-lg {
            font-size: 24px;
            font-weight: 600;
            line-height: 28px;
        }

        &__text {
            font-size: 18px;
            line-height: 22px;
            color: #222222;
            font-weight: 400;
            margin: 10px 0;
        }

        &__btn-container {
            margin-top: 30px;

            &__btn {
                text-decoration: none;
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
                border-radius: 8px;
                border: 1px solid #222222;
                outline: none;
                padding: 13px 23px;
                background: #fff;
                color: #222222;

                &:hover {
                    border-color: #000;
                    background: #f7f7f7;
                }
            }
        }
    }
}
</style>