<template>
    <div class="manage-reservation">
        <div class="manage-reservation__top">
            <div class="manage-reservation__top__container">
                <div class="manage-reservation__top__container__toggle-notification">
                    <div class="manage-reservation__top__container__toggle-notification__btn">
                        <nuxt-link to="/" class="manage-reservation__top__container__toggle-notification__btn__link">
                            <img src="~/assets/icons/notification.svg" alt="">
                        </nuxt-link>
                    </div>
                </div>
                <div class="manage-reservation__top__container__flex">
                    <h1>Welcome, {{$auth.$state.user.user_info.name}}!</h1>
                    <div class="manage-reservation__top__container__flex__btn-container">
                        <nuxt-link to="/" class="btn-link">Complete your listing</nuxt-link>
                    </div>
                </div>
                <div class="manage-reservation__top__container__btn-container">
                    <nuxt-link to="/" class="btn-link">Complete your listing</nuxt-link>
                </div>
            </div>
        </div>
        <div class="manage-reservation__main">
            <div class="manage-reservation__main__container">
                <div class="manage-reservation__main__container__header">
                    <div class="manage-reservation__main__container__header__flex">
                        <div class="manage-reservation__main__container__header__flex__title">
                            <h2>Your reservations</h2>
                        </div>
                        <nuxt-link to="/hosting/reservations" class="manage-reservation__main__container__header__flex__btn">All reservations (0)</nuxt-link>
                    </div>
                    <div class="manage-reservation__main__container__header__btn-group">
                        <span class="manage-reservation__main__container__header__btn-group__item">
                            <button class="manage-reservation__main__container__header__btn-group__item__btn" :class="currentActive === 'checking_out' && 'isActive'" @click="() => changeCurrentActive('checking_out')">Checking out (0)</button>
                        </span>
                        <span class="manage-reservation__main__container__header__btn-group__item">
                            <button class="manage-reservation__main__container__header__btn-group__item__btn" :class="currentActive === 'currently_hosting' && 'isActive'" @click="() => changeCurrentActive('currently_hosting')">Currently hosting (0)</button>
                        </span>
                        <span class="manage-reservation__main__container__header__btn-group__item">
                            <button class="manage-reservation__main__container__header__btn-group__item__btn" :class="currentActive === 'arriving_soon' && 'isActive'" @click="() => changeCurrentActive('arriving_soon')">Arriving soon (0)</button>
                        </span>
                        <span class="manage-reservation__main__container__header__btn-group__item">
                            <button class="manage-reservation__main__container__header__btn-group__item__btn" :class="currentActive === 'upcoming' && 'isActive'" @click="() => changeCurrentActive('upcoming')">Upcoming (0)</button>
                        </span>
                        <span class="manage-reservation__main__container__header__btn-group__item">
                            <button class="manage-reservation__main__container__header__btn-group__item__btn" :class="currentActive === 'pending_review' && 'isActive'" @click="() => changeCurrentActive('pending_review')">Pending review (0)</button>
                        </span>
                    </div>
                </div>
                <reservations-manage :message="message" />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ReservationsManage from '../../components/Hosting/ReservationsManage.vue'

@Component({
    layout: 'become-host',
    middleware: ['protect-author'],
    components: {
        ReservationsManage
    }
})
export default class Hosting extends Vue {
    listManagement = {
        checking_out: "You don’t have any guests checking out today or tomorrow.",
        currently_hosting: "You don’t have any guests staying with you right now.",
        arriving_soon: "You don’t have any guests arriving today or tomorrow.",
        upcoming: 'You currently don’t have any upcoming guests.',
        pending_review: "You don't have any guest reviews to write.",
    }
    currentActive = 'checking_out'
    message = this.listManagement[this.currentActive]

    changeCurrentActive(value) {
        this.currentActive = value;
        this.message = this.listManagement[this.currentActive]
    }
}
</script>

<style lang="scss" scoped>
.btn-link {
    display: inline-block;
    margin: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid #222222;
    outline: none;
    padding: 7px 15px;
    background: #fff;
    color: #222222;

    &:hover {
        border-color: #000;
        background: #f7f7f7;
    }
}
.manage-reservation{
    &__top {
        color: rgb(34, 34, 34);
        box-sizing: border-box;
        padding-top: 40px;
        padding-bottom: 0px;

        @media screen and (min-width: 950px) {
            padding-top: 64px;
            padding-bottom: 0;
        }

        &__container {
            max-width: 1440px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 24px;
            padding-right: 24px;

            @media screen and (min-width: 950px) {
                padding-left: 80px !important;
                padding-right: 80px !important;
            }

            @media screen and (min-width: 744px) {
                padding-left: 40px;
                padding-right: 40px;
            }

            &__toggle-notification{
                display: flex;
                justify-content: flex-end;
                margin-bottom: 12px;

                @media screen and (min-width: 1128px) {
                    display: none;
                }

                &__btn {
                    display: inline-block;
                    position: relative;
                    margin-right: 7px;

                    &__link {
                        appearance: none;
                        display: inline-block;
                        border-radius: 50%;
                        border: none;
                        outline: none;
                        margin: 0;
                        padding: 0;
                        color: #222222;
                        position: relative;
                        background: transparent;

                        &::before{
                            content: '';
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 48px;
                            height: 48px;
                            border-radius: 50%;
                            z-index: -1;
                        }

                        &:hover::before {
                            background: #fafafa;
                        }

                        img {
                            display: block;
                            fill: none;
                            height: 18px;
                            width: 18px;
                            stroke: rgb(34, 34, 34);
                            stroke-width: 2.6667;
                            overflow: visible;
                        }
                    }
                }
            }

            &__flex {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h1 {
                    margin: 0;
                    overflow-wrap: anywhere;
                    white-space: pre-line;
                    max-width: 100%;
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 36px;
                    color: #222222;
                }

                &__btn-container {
                    display: none;

                    @media screen and (min-width: 1128px) {
                        display: block !important;
                    }

                    @media screen and (min-width: 744px) {
                        display: none;
                    }
                }
            }

            &__btn-container {
                margin-top: 24px;

                @media screen and (min-width: 1128px) {
                    display: none !important;
                }

                @media screen and (min-width: 744px) {
                    display: block;
                }
            }
        }

        
    }

    &__main {
        padding-top: 64px;
        padding-bottom: 64px;

        &__container {
            max-width: 1440px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 24px;
            padding-right: 24px;

            @media screen and (min-width: 950px) {
                padding-left: 80px !important;
                padding-right: 80px !important;
            }

            @media screen and (min-width: 744px) {
                padding-left: 40px;
                padding-right: 40px;
            }

            &__header {
                position: relative;
                z-index: 0;

                &__flex {
                    color: rgb(34, 34, 34);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 16px;

                    &__title {
                        margin-right: 24px;
                        display: flex;
                        justify-content: flex-start;

                        h2 {
                            margin: 0;
                            padding: 0;
                            white-space: pre-line;
                            max-width: 100%;
                            font-size: 26px;
                            font-weight: 600;
                            line-height: 30px;
                            color: #222222;
                        }
                    }

                    &__btn {
                        display: inline-block;
                        margin: 0 -10px;
                        position: relative;
                        text-align: center;
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 600;
                        border-radius: 8px;
                        outline: none;
                        padding: 10px;
                        border: none;
                        background: transparent;
                        color: #222222;
                        text-decoration: underline;

                        &:hover {
                            border: none;
                            background: #f7f7f7;
                            color: #000;
                        }
                    }
                }

                &__btn-group {
                    margin-top: 8px;
                    margin-bottom: 16px;

                    &__item {
                        margin-right: 8px;

                        &__btn {
                            text-align: center;
                            border: 1px solid rgb(221, 221, 221);
                            outline: none;
                            margin: 0;
                            position: relative;
                            padding: 4px 16px;
                            border-radius: 20px;
                            min-height: 40px;
                            font-size: 14px;
                            line-height: 18px;
                            background: #fff;
                            color: rgb(34, 34, 34);

                            &:hover{
                                color: #000;
                                border-color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}

.isActive {
    text-align: center;
    border: 1px solid rgb(34,34,34);
    outline: none;
    margin: 0;
    position: relative;
    padding: 4px 16px;
    border-radius: 20px;
    min-height: 40px;
    font-size: 14px;
    line-height: 18px;
    background: rgb(247, 247, 247);
    color: rgb(34, 34, 34);
}
</style>