<template>
    <div class="container">
        <header-for-account-setting-item title="Login & security" header="Account" header_link="/account-settings"/>
        <div class="container__content">
            <div class="container__content__nav">
                <button class="container__content__nav__btn">LOGIN</button>
            </div>
            <main class="container__content__main">
                <section class="container__content__main__left">
                    <div class="container__content__main__left__item">
                        <h1 class="container__content__main__left__item__header">Login</h1>
                        <div class="container__content__main__left__item__info">
                            <div class="container__content__main__left__item__info__detail">
                                <div class="container__content__main__left__item__info__detail__label">Password</div>
                                <div class="container__content__main__left__item__info__detail__value" v-if="!isUpdate">Last updated 5 days ago</div>
                            </div>
                            <button class="container__content__main__left__item__info__btn btn-underline" @click="setIsUpdate">{{ isUpdate ? "Cancel" : "Update"}}</button>
                        </div>
                        <form class="container__content__main__left__item__form-container" v-if="isUpdate">
                            <div class="container__content__main__left__item__form-container__input-control">
                                <label for="password" class="container__content__main__left__item__form-container__input-control__label">Current password</label>
                                <input type="password" id="password" class="container__content__main__left__item__form-container__input-control__input" v-model="oldPassword">
                            </div>
                            <div class="container__content__main__left__item__form-container__link-container">
                                <nuxt-link to="/account-settings/forgot_password" class="container__content__main__left__item__form-container__link-container__link">Need a new password?</nuxt-link>
                            </div>
                            <div class="container__content__main__left__item__form-container__input-control">
                                <label for="new_password" class="container__content__main__left__item__form-container__input-control__label" >New
                                    password</label>
                                <input type="password" id="new_password"
                                    class="container__content__main__left__item__form-container__input-control__input" v-model="newPassword">
                            </div>
                            <div class="container__content__main__left__item__form-container__input-control">
                                <label for="confirm_password" class="container__content__main__left__item__form-container__input-control__label">Confirm
                                    password</label>
                                <input type="password" id="confirm_password"
                                    class="container__content__main__left__item__form-container__input-control__input" v-model="confirmPassword">
                            </div>
                            
                            <button class="btn-primary" style="margin: 10px 0" @click.prevent="changePassword">Update password</button>

                            <div v-if="isError" class="container__content__main__left__item__form-container__error-container">
                                <div class="container__content__main__left__item__form-container__error-container__icon">
                                    <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false"
                                        style="height: 24px; width: 24px; display: block; fill: rgb(255, 255, 255);">
                                        <path
                                            d="m23.49 20.79c.39.73.12 1.64-.61 2.03-.22.12-.46.18-.71.18h-20.33c-.83 0-1.5-.67-1.5-1.5 0-.25.06-.49.18-.71l10.16-18.94c.39-.73 1.3-1 2.03-.61.26.14.47.35.61.61zm-11.05-18.47c-.05-.09-.12-.16-.2-.2-.24-.13-.55-.04-.68.2l-10.16 18.94c-.04.07-.06.15-.06.24 0 .28.22.5.5.5h20.33c.08 0 .16-.02.24-.06.24-.13.33-.43.2-.68zm-.48 4.68c-.58.02-1.04.51-1.02 1.1l.29 7.42c.01.27.23.48.5.48h.54c.27 0 .49-.21.5-.48l.29-7.42c0-.01 0-.03 0-.04 0-.58-.47-1.06-1.06-1.06-.01 0-.03 0-.04 0zm-.96 12c0 .55.45 1 1 1s1-.45 1-1-.45-1-1-1-1 .45-1 1z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="container__content__main__left__item__form-container__error-container__message">
                                    <span>Your new passwords did not match. Please try again.</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <hr>
                    <div class="container__content__main__left__item">
                        <h1 class="container__content__main__left__item__header">Social accounts</h1>
                        <div class="container__content__main__left__item__info">
                            <div class="container__content__main__left__item__info__detail">
                                <div class="container__content__main__left__item__info__detail__label">Google</div>
                                <div class="container__content__main__left__item__info__detail__value">Not connected</div>
                            </div>
                            <button class="container__content__main__left__item__info__btn btn-underline">Connect</button>
                        </div>
                    </div>
                    <hr>
                </section>
                <section class="container__content__main__right">
                    <h2 class="container__content__main__right__header">Let's make your account more secure</h2>
                    <div class="container__content__main__right__secure">
                        <span >Your account security: </span>
                        <span class="container__content__main__right__secure__level">Low</span>
                    </div>
                    <div class="container__content__main__right__desc">We’re always working on ways to increase safety in our community. That’s why we look at every account to make sure it’s
                    as secure as possible.</div>
                    <hr>
                    <button class="btn-primary">Improve</button>
                </section>
            </main>
            <section class="container__content__footer">
                <h1 class="container__content__main__left__item__header">Account</h1>
                <div class="container__content__main__left__item__info">
                    <div class="container__content__main__left__item__info__detail">
                        <div class="container__content__main__left__item__info__detail__value">Deactivate your account</div>
                    </div>
                    <nuxt-link class="container__content__footer__btn" to="/">Deactivate</nuxt-link>
                </div>
            </section>
            <hr>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HeaderForAccountSettingItem from '~/components/HeaderForAccountSettingItem.vue';
import { RefreshScheme } from '@nuxtjs/auth-next'

    @Component({
        middleware: ['protect-author'], 
        components: {
                HeaderForAccountSettingItem
            }
    })
    export default class LoginSecurity extends Vue {
        isUpdate: Boolean = false
        isError: Boolean = false
        oldPassword = ''
        newPassword = ''
        confirmPassword = ''

        setIsUpdate() {
            this.isUpdate = !this.isUpdate
        }

        async changePassword() {
            try {
                // const token = (<RefreshScheme>this.$auth.strategy).token
                const response = await this.$api.auth.changePasswordAuth(this.oldPassword, this.newPassword, this.confirmPassword)
                window.location.reload()
            } catch (err) {
                console.log(err);
            }
        }
    }
</script>

<style lang="scss" scoped>
.container {
    margin-bottom: 100px;
    color: #484848;
    line-height: 1.375em;
    font-size: 18px;

    &__content {
        &__nav {
            width: 58%;
            border-bottom: 1px solid #ebebeb;
            position: relative;

            &__btn {
                font-size: 16px;
                font-weight: 600;
                background: transparent;
                padding: 14px 0;
                color: #008489;
                border: none;
                border-bottom: 2px solid #008489;
            }
        }

        &__main {
            display: flex;
            justify-content: space-between;
            color: #484848;

            &__left {
                width: 58%;
                margin-top: 32px;

                &__item {
                    &__header {
                        padding-top: 32px;
                        padding-bottom: 24px;
                        font-weight: 800;
                        font-size: 26px;
                    }

                    &__info {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;

                        &__detail {
                            width: 100%;

                            &__label {
                                margin: 0;
                                font-size: 17px;
                                font-weight: 600;
                                line-height: 1.375em;
                            }

                            &__value {
                                margin-top: 8px;
                                margin-bottom: 24px;
                                font-size: 18px;
                                line-height: 1.375em;
                            }
                        }

                        &__btn {
                            font-size: 18px;
                        }
                    }

                    &__form-container {
                        &__input-control {
                            display: flex;
                            flex-direction: column;

                            &__input {
                                line-height: 24px;
                                padding: 11px;
                                background-color: transparent;
                                border: 1px solid #ebebeb;
                                margin-bottom: 8px;
                                border-radius: 4px;

                                &:focus {
                                    border-color: #008489;
                                }
                            }
                        }

                        &__link-container {
                            margin-bottom: 16px;

                            &__link {
                                color: #008489;
                                font-size: 16px;
                            } 
                        }

                        &__error-container {
                            margin-top: 16px;
                            margin-bottom: 8px;
                            position: relative;
                            display: flex;
                            align-items: center;

                            &__icon {
                                border-style: solid;
                                border-width: 2px 0px 2px 2px;
                                border-radius: 8px 0px 0px 8px;
                                padding: 16px 0px 16px 12px;
                                width: 50px;
                                background-color: rgb(252, 100, 45);
                                border-color: rgb(252, 100, 45);
                            }

                            &__message {
                                background-color: #fff;
                                width: 100%;
                                border-color: rgb(235, 235, 235);
                                border-style: solid;
                                border-width: 2px 2px 2px 0;
                                border-radius: 0px 8px 8px 0px;
                                padding: 17px 8px;

                                span {
                                    margin: 0;
                                    font-size: 16px;
                                    font-weight: 600;
                                    line-height: 1em;
                                    color: rgb(72, 72, 72);
                                }
                            }
                        }
                    }
                }
            }

            &__right {
                width: 30%;
                margin-left: 8%;
                border: 1px solid rgb(228, 228, 228);
                height: fit-content;
                padding: 30px 30px;

                &__header {
                    font-size: 19px;
                    font-weight: 700;
                    margin: 0;
                    padding: 0;
                }

                &__secure {
                    font-size: 18px;
                    font-weight: 700;
                    margin: 10px 0;

                    &__level {
                        color: rgb(118, 118, 118);
                    }
                }

                &__desc {
                    font-size: 16px;
                }

                hr{
                    width: 20%;
                    text-align: left;
                    margin: 20px 0;
                }
            }
        }

        &__footer {
            margin-bottom: -20px;

            &__btn {
                color: #d93900;
                font-size: 18px;

                &:hover {
                    color: #008489;
                }
            }
        }
    }
}
</style>