<template>
    <div class="card-container">
        <div>
            <div class="card-container__icon">
                <b-icon :icon="option.icon" scale="1.8"></b-icon>
            </div>
            <div class="card-container__desc">
                <h2 class="card-container__desc__title">{{ option.name }} reservation</h2>
                <div class="card-container__desc__subtitle">{{ option.desc }}</div>
            </div>
        </div>
        <nuxt-link :to="localePath({ name: option.link, params: { slug: option.id || '' } })" class="card-container__link">Next</nuxt-link>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class ChangeCancelCard extends Vue {
    @Prop({ type: Object }) option!: any;
}
</script>

<style lang="scss" scoped>
.card-container{
    width: 45%;
    padding: 25px;
    border: 1px solid rgb(221, 221, 221);
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    &__icon {
        color: #00787a;
        padding-left: 5px;
    }

    &__desc {
        margin-top: 10px;
        margin-bottom: 80px;

        &__title {
            font-size: 20px;
            line-height: 24px;
            font-weight: 600;
            padding: 0;
            margin: 0;
        }

        &__subtitle {
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            color: #717171;
        }
    }

    &__link {
        text-decoration: none;
        color: #00787a;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        padding: 8px 15px;
        border: 2px solid #00787a;
        border-radius: 4px;

        &:hover {
            color: #008689;
            border-color: #008689;
        }
    }
}
</style>