<template>
    <div class="trip-card">
        <div class="trip-card__home-info">
            <div class="trip-card__home-info__top">
                <h2 class="trip-card__home-info__top__name">{{booking.home?.name}}</h2>
                <!-- <div class="trip-card__home-info__top__host small-text">Entire dome hosted by Kathrin</div> -->
            </div>
            <hr>
            <div class="trip-card__home-info__bottom">
                <div class="trip-card__home-info__bottom__right">
                    <!-- <span class="normal-text">Aug</span> -->
                    <span class="normal-text">{{changeDateFormat(booking.checkIn, 'MMM DD')}} - {{changeDateFormat(booking.checkOut, 'MMM DD')}}</span>
                    <span class="small-text">{{changeDateFormat(booking.checkIn, 'YYYY')}}</span>
                </div>
                <div class="trip-card__home-info__bottom__left">
                    <span class="normal-text">{{addressDetail}}</span>
                    <span class="small-text">{{ country }}</span>
                </div>
                
            </div>
            <div class="trip-card__home-info__details">
                <div class="trip-card__home-info__details__status" :class="booking.status === 'WAITING' ? 'waiting' : booking.status === 'CANCEL' && 'canceled'" >{{booking.status}}</div>
                <button class="trip-card__home-info__details__btn" @click="openShowDetails">Show details</button>
            </div>
        </div>
        <div class="trip-card__home-img">
            <img v-if="home.listImages" class="trip-card__home-img__img" :src="home.listImages[0]" alt="">
            <div class="trip-card__home-img__date-left">In {{ numDaysLeft }} days</div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Booking } from '~/modals/Booking/Booking';
import { Home } from '~/modals/Home/Home';
import moment from 'moment';
import { plainToClass } from 'class-transformer';

@Component
export default class TripCard extends Vue {
    @Prop({ type: Object, }) booking!: Booking;
    home: Home = {}

    created() {
        this.home = plainToClass(Home, this.booking.home);
    }

    openShowDetails() {
        this.$emit("open-show-details", {value: true, idBooking: this.booking.id});
    }

    changeDateFormat(date, type) {
        return moment(date).format(type)
    }

    get addressDetail() { 
        let address = ''
        if (this.booking.home?.address) {
            const allAddress = this.booking.home?.address.split(',')
            address = allAddress.splice(0, allAddress.length - 1).join()
        }
        return address;
    }
    get country() { 
        let address = ''
        if (this.booking.home?.address) {
            const allAddress = this.booking.home?.address.split(',')
            address = allAddress[allAddress.length - 1]
        }
        return address;
    }

    get numDaysLeft() {
        let time = 1;
        if (this.booking.checkOut && this.booking.checkIn) {
           time = new Date(this.booking.checkIn).getTime() - new Date().getTime()
        }   
        return (time / (1000 * 3600 * 24)).toFixed(0)
    }
}
</script>

<style lang="scss" scoped>
.waiting{
    background: rgb(243, 100, 100) !important;
}
.canceled{
    background: #222222 !important;
}
.normal-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #222222;
    display: block;
}
.small-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #717171;
    display: block;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.trip-card{
    box-shadow: 0 0 5px 0 rgba(4, 79, 141, 0.5);
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 70%;

    @media screen and (min-width: 1900px) {
        width: 50%;
    }

    &__home-info {
        padding: 20px;
        width: 50%;

        &__top {
            &__name {
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
                color: #222222;
                margin: 0;
                padding: 0;
            }

        }

        &__bottom {
            display: flex;

            &__right {
                padding-right: 30px;
                border-right: 1px solid rgb(211, 211, 211);
            }
            &__left {
                width: 50%;
                margin-left: 30px;
            }
        }

        &__details {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__status {
                display: inline-block;
                background: green;
                padding: 5px 15px;
                color: #fff;
                border-radius: 4px;
                font-size: 14px;
                font-weight: 600;
                line-height: 18px;
            }

            &__btn {
                border: none;
                background: transparent;
                outline: none;
                color: #00787a;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                padding: 0;
                margin: 0;
                text-decoration: underline;
                margin-right: 20px;

                &:hover {
                    color: #008689;
                }
            }
        }
    }

    &__home-img {
        width: 50%;
        height: 100%;
        position: relative;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0 8px 8px 0;
        }

        &__date-left {
            background: #fff;
            position: absolute;
            top: 5px;
            left: 5px;
            border-radius: 4px;
            padding: 0 5px;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            color: #222222;
        }
    }
}
</style>