<template>
    <div class="edit-listings">
        <div class="edit-listings__container">
            <div class="edit-listings__container__flex">
                <div class="edit-listings__container__flex__header">
                    <button @click="closeShowDetails">
                        <b-icon icon="x-lg" scale="0.8"></b-icon>
                    </button>
                    <div class="edit-listings__container__flex__header__title">Your home reservation
                    </div>
                    
                </div>
                <div class="edit-listings__container__flex__main">
                    <div class="edit-listings__container__flex__main__img-container">
                        <img v-if="home.listImages" :src="home.listImages[0]" alt="">
                        <div class="edit-listings__container__flex__main__img-container__status" :class="booking.status === 
                        'WAITING' && 'waiting'">{{booking.status}}</div>
                    </div>
                    <div class="edit-listings__container__flex__main__detail">
                        <div class="edit-listings__container__flex__main__detail__card">
                            <h1 class="edit-listings__container__flex__main__detail__card__name">{{home.name}}</h1>
                        </div>
                        <div class="edit-listings__container__flex__main__detail__card">
                            <div class="edit-listings__container__flex__main__detail__card__flex">
                                <div class="edit-listings__container__flex__main__detail__card__flex__right">
                                    <div class="edit-listings__container__flex__main__detail__card__flex__bold">Check-in</div>
                                    <span class="edit-listings__container__flex__main__detail__card__flex__small">{{ changeDateFormat(booking.checkIn, 'ddd, DD MMM') }}</span>
                                </div>
                                <div class="edit-listings__container__flex__main__detail__card__flex__left">
                                    <div class="edit-listings__container__flex__main__detail__card__flex__bold">Check-out</div>
                                    <span class="edit-listings__container__flex__main__detail__card__flex__small">{{ changeDateFormat(booking.checkOut, 'ddd, DD MMM') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="edit-listings__container__flex__main__detail__card">
                            <div class="edit-listings__container__flex__main__detail__card__flex">
                                <div class="edit-listings__container__flex__main__detail__card__flex__right">
                                    <div class="edit-listings__container__flex__main__detail__card__flex__bold">{{home.category?.title}}</div>
                                    <span class="edit-listings__container__flex__main__detail__card__flex__small">Hosted by {{home.user?.name}}</span>
                                </div>
                                <nuxt-link to="/" class="host-img">
                                    <img v-if="home.user?.avatar" :src="home.user?.avatar" alt="">
                                    <img v-else src="https://a0.muscache.com/defaults/user_pic-225x225.png?v=3" alt="">
                                </nuxt-link>
                            </div>
                        </div>
                        <div class="edit-listings__container__flex__main__detail__card">
                            <div class="edit-listings__container__flex__main__detail__card__flex__bold">Who's coming</div>
                            <span class="edit-listings__container__flex__main__detail__card__flex__small">{{booking.numOfAdults}} adults</span>
                            <span class="edit-listings__container__flex__main__detail__card__flex__small" v-if="booking.numOfChildren"> · {{booking.numOfChildren}} children</span>
                            <span class="edit-listings__container__flex__main__detail__card__flex__small" v-if="booking.numOfBabies"> · {{booking.numOfBabies}} babies</span>
                            <span class="edit-listings__container__flex__main__detail__card__flex__small" v-if="booking.numOfPets"> · {{booking.numOfPets}} pets</span>
                        </div>
                        <div class="edit-listings__container__flex__main__detail__card">
                            <div class="edit-listings__container__flex__main__detail__card__flex__bold">Address</div>
                            <span class="edit-listings__container__flex__main__detail__card__flex__small">{{home.address}}</span>
                        </div>
                        <div class="edit-listings__container__flex__main__detail__card">
                            <nuxt-link :to="localePath({ name: 'rooms-slug', params: {slug: home.id || ''} })" class="edit-listings__container__flex__main__detail__card__link">
                                <div class="edit-listings__container__flex__main__detail__card__link__img-container">
                                    <img v-if="home.listImages" :src="home.listImages[0]" alt="">
                                </div>
                                <div class="edit-listings__container__flex__main__detail__card__flex all-width">
                                    <div class="edit-listings__container__flex__main__detail__card__flex__right">
                                        <div class="edit-listings__container__flex__main__detail__card__flex__bold">Show listing</div>
                                        <span class="edit-listings__container__flex__main__detail__card__flex__small">Entire {{home.category?.title}}</span>
                                    </div>
                                    <div class="edit-listings__container__flex__main__detail__card__flex__left">
                                        <b-icon icon="chevron-right"></b-icon>
                                    </div>
                                </div>
                            </nuxt-link>
                        </div>
                        <div class="edit-listings__container__flex__main__detail__card">
                            <div class="edit-listings__container__flex__main__detail__card__flex__bold">Total cost</div>
                            <div class="edit-listings__container__flex__main__detail__card__flex__small">{{booking.priceForStay}} (VND)</div>
                        </div>
                        <div class="edit-listings__container__flex__main__detail__card">
                            <div class="edit-listings__container__flex__main__detail__card__flex__bold">Need help?</div>
                            <nuxt-link to="/" class="edit-listings__container__flex__main__detail__card__flex__small">Visit help center</nuxt-link>
                        </div>
                    </div>
                </div>
                <div class="edit-listings__container__flex__footer">
                    <nuxt-link :to="localePath({ name: 'users-trips-change_cancel-slug', params: { slug: booking.id || '' } })" class="edit-listings__container__flex__footer__btn-done">Change or Cancel booking</nuxt-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Booking } from '~/modals/Booking/Booking';
import { Home } from '~/modals/Home/Home';
import { plainToClass } from 'class-transformer';
import moment from 'moment'

@Component({
})
export default class TripDetail extends Vue {
    @Prop({ type: Booking }) booking!: Booking;
    home: Home = {}

    async created() {
        try {
            const response = await this.$api.home.getHomeDetail(this.booking.home?.id);
            this.home = plainToClass(Home, response.data.data)

        } catch (error) {
            console.log(error);
        }
    }

    closeShowDetails() {
        this.$emit("close-show-details", false)
    }

    changeDateFormat(date, type) {
        return moment(date).format(type)
    }
}
</script>

<style lang="scss" scoped>
.waiting {
    background: rgb(243, 100, 100) !important;
}
.all-width {
    width: 100% !important;
}
.host-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;

    img {
        object-fit: cover;
        vertical-align: bottom;
        height: 100%;
        width: 100%;
        position: static;
        border-radius: 50%;
    }
}
.edit-listings {
    z-index: 99;
    position: fixed;
    overflow: hidden;
    width: 30%;
    top: 70px;
    right: 0;
    height: 100vh;

    &__container {
        position: absolute;
        background: #fff;
        inset: 0;
        border-bottom: 1px solid rgb(235, 235, 235);
        border-left: 1px solid rgb(235, 235, 235);
        overflow: hidden;

        &__flex {
            display: flex;
            flex-direction: column;
            height: 100vh;
            overflow: auto;
            padding: 0;

            @media screen and (min-width: 744px) {
                padding: 0;
            }

            @media screen and (min-width: 506px) {
                overflow: unset;
            }

            &__header {
                z-index: 5;
                padding: 0;
                width: 100%;
                text-align: center;
                position: relative;
                display: flex;
                margin-bottom: 5px;

                @media screen and (min-width: 744px) {
                    height: 52px;
                    padding-top: 22px;
                }

                &__title {
                    font-size: 18px;
                    line-height: 22px;
                    flex-grow: 1;
                    font-weight: 600;
                    min-width: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                button {
                    appearance: none;
                    display: inline;
                    border-radius: 50%;
                    border: none;
                    padding: 0;
                    margin: 0;
                    color: #222222;
                    position: absolute;
                    background: transparent;
                    transition: -ms-transform 0.25s ease 0s,
                        -webkit-transform 0.25s ease 0s,
                        transform 0.25s ease 0s;
                    width: 30px;
                    height: 30px;
                    justify-content: center;
                    align-items: center;
                    left: 10px;
                    

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        z-index: -1;
                    }

                    &:hover::before {
                        background: rgb(252, 252, 252);
                    }
                }
            }

            &__main {
                z-index: 1;
                min-height: 0;
                padding-left: 0;
                padding-right: 0;
                flex: 1 0 auto;
                overflow: auto;

                @media screen and (min-width: 560px) {
                    flex: 1 1 0%;
                    overflow: auto;
                }

                &__img-container {
                    width: 100%;
                    height: 250px;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    &__status {
                        position: absolute;
                        background: green;
                        bottom: 10px;
                        right: 10px;
                        font-size: 12px;
                        line-height: 16px;
                        font-weight: 600;
                        padding: 2px 8px;
                        border-radius: 4px;
                        color: #fff;
                    }
                }

                &__detail {
                    padding: 0 20px;

                    &__card {
                        padding: 20px 0 10px 0;
                        border-bottom: 1px solid rgb(221, 221, 221);

                        &__name {
                            font-size: 20px;
                            line-height: 24px;
                            font-weight: 600;
                        }

                        &__flex {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            &__left {
                                text-align: right;
                                width: fit-content;
                            }

                            &__bold {
                                font-weight: 600;
                            }

                            &__small {
                                font-size: 14px;
                                line-height: 18px;
                            }
                        }

                        &__link {
                            display: flex;
                            color: #222222;
                            text-decoration: none;
                            align-items: center;
                            justify-content: flex-start;
                            box-shadow: 1px 1px 1px 1px rgb(223, 221, 221);
                            padding: 5px;
                            border-radius: 4px;
                            background: #fff;

                            &:hover {
                                background: rgb(221, 221, 221)
                            }

                            &__img-container {
                                width: 20%;
                                height: 100%;
                                margin-right: 10px;
                                border-radius: 4px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
                }
            }

            &__footer {
                padding-left: 24px;
                padding-right: 24px;
                width: 100%;
                align-items: center;
                display: flex;
                flex-shrink: 0;
                height: 56px;
                justify-content: space-between;
                margin-bottom: 120px;

                @media screen and (min-width: 744px) {
                    height: 74px;
                }

                &__btn-done {
                    display: inline-block;
                    margin: 0;
                    position: relative;
                    text-align: center;
                    text-decoration: none;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 600;
                    border-radius: 8px;
                    outline: none;
                    padding: 11px 22px;
                    transition: box-shadow 0.2s ease 0s,
                        -ms-transform 0.1s ease 0s,
                        -webkit-transform 0.1s ease 0s,
                        transform 0.1s ease 0s !important;
                    border: none;
                    background: linear-gradient(to right, #008689 0%,
                            #01aeb1 100%,
                            #01aeb1 50%);
                    color: #fff;
                    width: 100%;

                    &:hover {
                        background: linear-gradient(to left, #008689 0%,
                                #01aeb1 100%,
                                #01aeb1 50%);
                    }
                }
            }
        }
    }
}
</style>