<template>
    <div class="booking">
        <div class="booking__container">
            <div class="booking__container__header">
                <img class="booking__container__header__logo" src="~/assets/img/logo.png" alt="">
                <h1 class="booking__container__header__title">Request sent</h1>
                <div class="booking__container__header__desc">This is not a confirmed booking - at least not yet. You'll get a response within 24 hours.</div>
            </div>
            <section class="booking__container__main">
                <div class="booking__container__main__home-info">
                    <h2 class="booking__container__main__home-info__name">{{booking.home?.name}}</h2>
                    <div class="booking__container__main__home-info__host">{{booking.home?.address}}</div>
                </div>
                <div class="booking__container__main__booking-info">
                    <div class="booking__container__main__booking-info__detail">
                        <div class="booking__container__main__booking-info__detail__label">Check-in</div>
                        <div class="booking__container__main__booking-info__detail__value">{{ changeDateFormat(booking.checkIn, 'ddd, MMM DD')}}</div>
                    </div>
                    <div class="booking__container__main__booking-info__detail">
                        <div class="booking__container__main__booking-info__detail__label">Check-out</div>
                        <div class="booking__container__main__booking-info__detail__value">{{ changeDateFormat(booking.checkOut, 'ddd, MMM DD')}}</div>
                    </div>
                </div>
                <div class="booking__container__main__booking-info">
                    <div class="booking__container__main__booking-info__detail">
                        <div class="booking__container__main__booking-info__detail__label">Guests</div>
                        <div class="booking__container__main__booking-info__detail__value">1</div>
                    </div>
                </div>
                <div class="booking__container__main__subtitle">You won't be charged until your booking is confirmed.</div>
                <nuxt-link to="/users/trips" class="booking__container__main__btn">View Your Trips</nuxt-link>
            </section>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Booking } from '~/modals/Booking/Booking';
import moment from 'moment'

@Component
export default class RequestBookingPopup extends Vue {
    @Prop({ type: Booking }) booking!: any;

    changeDateFormat(date, type) {
        return moment(date).format(type)
    }
}
</script>

<style lang="scss" scoped>
.booking {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__container {
        position: absolute;
        background: #fff;
        border-radius: 12px;
        width: 50%;
        z-index: 201;
        top: 10px;
        right: 25%;
        display: flex;
        flex-direction: column;
        min-height: 0;
        max-height: 100vh;
        overflow: auto;
        padding: 40px 60px;

        &__header {
            text-align: center;
            margin-bottom: 50px;

            &__logo{
                margin-bottom: -20px;
                margin-top: -40px;
                width: 200px;
            }

            &__title {
                font-size: 38px;
                font-weight: 800;
            }

            &__desc {
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                width: 75%;
                margin: 0 auto;
            }
        }

        &__main {
            &__home-info {
                margin-bottom: 20px;

                &__name {
                    font-size: 22px;
                    font-weight: 600;
                    line-height: 28px;
                }

                &__host {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 22px;
                }
            }

            &__booking-info {
                display: flex;
                align-items: center;
                justify-content: baseline;
                margin-bottom: 20px;

                &__detail {
                    width: 50%;
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: 400;

                    &__value {
                        font-weight: 600;
                    }
                }
            }

            &__subtitle {
                font-size: 18px;
                line-height: 22px;
                font-weight: 400;
                margin-bottom: 50px;
            }

            &__btn {
                display: inline-block;
                width: 100%;
                text-align: center;
                background: linear-gradient(to right, #008689 0%,
                        #01aeb1 100%,
                        #01aeb1 50%);
                appearance: none;
                color: #fff;
                font-size: 18px;
                line-height: 24px;
                font-weight: 600;
                border-radius: 8px;
                padding: 16px 32px;
                outline: none;
                color: #fff;
                text-decoration: none;
            
                &:hover {
                    background: linear-gradient(to left, #008689 0%,
                            #01aeb1 100%,
                            #01aeb1 50%);
                }
            }
        }
    }
}
</style>