<template>
    <div class="header">
        <nuxt-link class="header__btn-back" to="/">
            <b-icon icon="chevron-left"></b-icon>
        </nuxt-link>
        <h1 class="header__text">Confirm and pay</h1>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    @Component
    export default class Header extends Vue {
        
    }
</script>

<style lang="scss" scoped>
.header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 32px;
    align-items: center;

    &__btn-back {
        margin-right: 32px;
        appearance: none;
        border-radius: 50%;
        color: rgb(34, 34, 34);
        padding: 0;
        cursor: pointer;
        background: transparent;
        position: relative;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: rgb(247, 247, 247);
        }
    }

    &__text {
        font-size: 32px;
        line-height: 36px;
        font-weight: 600;
        padding: 0;
        margin: 0;
    }
}
</style>