<template>
    <div class="done-review">
        <h2 class="done-review__title">Thank you for reviewing</h2>
        <div class="done-review__desc">Thank you for reviewing your host. Your review will be visible on their profile.</div>
        <div class="done-review__btn">
            <nuxt-link class="done-review__btn__next" to="/">Back home</nuxt-link>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Done extends Vue {
    
}
</script>

<style lang="scss" scoped>
.done-review {
    width: 60%;

    &__title {
        font-size: 28px;
        line-height: 32px;
        font-weight: 600;
    }

    &__desc {
        margin: 20px 0;
        font-size: 16px;
        line-height: 20px;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;

        &__next {
            border: none;
            padding: 10px 22px;
            background: #008689;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            border-radius: 4px;
            font-weight: 600;

            &:hover {
                background: #00787a;
            }
        }
    }
}
</style>