<template>
    <div class="info">
        <div class="info__container">
            <div class="info__container__host-img">
                <div class="info__container__host-img__empty">
                    <img v-if="home.user.avatar" :src="home.user.avatar" alt=""/>
                    <img v-else src="https://a0.muscache.com/defaults/user_pic-225x225.png?v=3" alt="">
                </div>
            </div>
            <div class="info__container__detail">
                <div class="info__container__detail__home-img">
                    <img v-if="home.listImages" :src="home.listImages[0]" alt="">
                </div>
                <div class="info__container__detail__trip">
                    <div class="info__container__detail__trip__name">Stayed at <span>{{home.name}}</span></div>
                    <div class="info__container__detail__trip__date">{{ changeDateFormat(booking.checkIn, 'MMM DD') }} - {{ changeDateFormat(booking.checkOut, 'MMM DD') }}, {{changeDateFormat(booking.checkIn, 'YYYY')}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Prop } from 'nuxt-property-decorator';
import { Component, Vue } from 'vue-property-decorator';
import { Booking } from '~/modals/Booking/Booking';
import moment from 'moment';
import { Home } from '~/modals/Home/Home';

@Component
export default class InfoForReview extends Vue {
    @Prop({ type: Booking }) booking: any;
    @Prop({ type: Home }) home: any;

    changeDateFormat(date, type) {
        return moment(date).format(type)
    }
}
</script>

<style lang="scss" scoped>
.info {
    width: 40%;
    border: 1px solid rgb(221, 221, 221);
    height: fit-content;
    
    &__container {
        display: flex;
        flex-direction: column;

        &__host-img {
            width: 100%;
            height: 100%;
            background: rgb(221, 221, 221);
            display: flex;
            align-items: center;
            justify-content: center;

            &__empty {
                width: 200px;
                height: 150px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    margin: 0 auto;
                }
            }
        }

        &__detail {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 20px 10px;
            gap: 15px;

            &__home-img {
                width: 50%;
                height: 40px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__trip {
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
                color: #222222;

                span {
                    font-weight: 600;
                }

                &__date {
                    font-size: 14px;
                    line-height: 18px;
                    color: #717171;
                    margin-top: 10px;
                }
            }
        }
    }
}
</style>