<template>
    <div class="public-review">
        <h2 class="public-review__title">Write a private note for {{home.user.name}} (optional)</h2>
        <div class="public-review__desc">Say thanks or offer a few suggestions. This is just for Grazia--other guests won't be able to read it.</div>
        <div class="public-review__review" v-click-outside="() => isFocus = false" :class="isFocus && 'focus'">
            <textarea rows="5" name="" id="" placeholder="Add a private note"
                @focus="() => isFocus = true"></textarea>
        </div>
        <div class="public-review__btn">
            <button class="public-review__btn__back" @click="goToBackStep">Back</button>
            <button class="public-review__btn__next" @click="saveReview">Submit</button>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class PrivateNote extends Vue {
    @Prop({ type: Array }) listRating!: Array<any>;
    @Prop({ type: String }) review!: string;
    @Prop({ type: Object }) home!: any;

    isFocus = false;

    goToBackStep() {
        this.$emit('go-to-next-step', 'public-review');
    }

    async saveReview() {
        const data = {
            idBooking : this.$route.params.slug,
            cleanliness: this.listRating[0].value,
            accuracy: this.listRating[1].value,
            communication: this.listRating[2].value,
            checkIn: this.listRating[3].value,
            location: this.listRating[4].value,
            value: this.listRating[5].value,
            review: this.review
        }

        try {
            const response = await this.$api.rating.ratingRoom(data);
            console.log(response);
            this.$emit('go-to-next-step', 'done');

        } catch (error) {
            console.log(error);
            
        }
    }
}
</script>

<style lang="scss" scoped>
.focus {
    box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset !important;
}

.public-review {
    width: 60%;

    &__title {
        font-size: 28px;
        line-height: 32px;
        font-weight: 600;
    }

    &__desc {
        margin: 20px 0;
        font-size: 16px;
        line-height: 20px;
    }

    &__review {
        box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
        box-sizing: border-box;
        color: rgb(34, 34, 34);
        padding: 4px;
        border-radius: 8px;
        width: 100%;

        textarea {
            color: inherit;
            display: block;
            min-width: 100%;
            max-width: 100%;
            outline: none;
            border: none;
            margin: 0;
            box-sizing: border-box;
            background: transparent;
            appearance: none;
            padding: 8px;
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;

        &__back {
            border: none;
            font-size: 16px;
            line-height: 20px;
            border-radius: 4px;
            font-weight: 600;
            background: transparent;
            color: #222222;


            &:hover {
                color: #000;
                text-decoration: underline;
            }
        }

        &__next {
            border: none;
            padding: 10px 22px;
            background: #008689;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            border-radius: 4px;
            font-weight: 600;

            &:hover {
                background: #00787a;
            }
        }
    }
}
</style>