<template>
    <div class="public-review">
        <h2 class="public-review__title">Write a public review for {{home.user.name}}</h2>
        <div class="public-review__desc">Give other travelers a heads-up about what they can expect. After the review period ends, we'll publish this on your host's listing.</div>
        <ValidationObserver ref="checkRequired" tag="form">
            <ValidationProvider v-slot="{ errors }" rules="required" name="review">
                <div class="public-review__review" v-click-outside="() => isFocus = false" :class="isFocus && 'focus'">
                    <textarea rows="5" name="" id="" placeholder="Write a public review" @focus="() => isFocus = true"
                        v-model="review" @change="handleChange"></textarea>
                </div>
                <small class="text-danger small show_name_validate">{{ errors[0] }}</small>
            </ValidationProvider>
        </ValidationObserver>
        
        <div class="public-review__btn">
            <button class="public-review__btn__back" @click="goToBackStep">Back</button>
            <button class="public-review__btn__next" @click="goToNextStep">Next</button>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Home } from '~/modals/Home/Home';
import { ValidationProvider, ValidationObserver } from 'vee-validate';

@Component({
    components: {
        ValidationProvider, ValidationObserver  
    }
})
export default class PublicReview extends Vue {
    @Prop({ type: Object }) home!: any;

    review = '';

    isFocus = false;

    async goToNextStep() {
        const result = await(this.$refs.checkRequired as any).validate();
        if (result) { 
            this.$emit('go-to-next-step', 'private-note');
        }
    }

    goToBackStep() {
        this.$emit('go-to-next-step', 'star-rating');
    }

    handleChange() {
        this.$emit('handle-change', this.review);
    }
}
</script>

<style lang="scss" scoped>
.focus {
    box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset !important;
}
.public-review {
    width: 60%;

    &__title {
        font-size: 28px;
        line-height: 32px;
        font-weight: 600;
    }

    &__desc {
        margin: 20px 0;
        font-size: 16px;
        line-height: 20px;
    }

    &__review {
        box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
        box-sizing: border-box;
        color: rgb(34, 34, 34);
        padding: 4px;
        border-radius: 8px;
        width: 100%;

        textarea {
            color: inherit;
            display: block;
            min-width: 100%;
            max-width: 100%;
            outline: none;
            border: none;
            margin: 0;
            box-sizing: border-box;
            background: transparent;
            appearance: none;
            padding: 8px;
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;

        &__back {
            border: none;
            font-size: 16px;
            line-height: 20px;
            border-radius: 4px;
            font-weight: 600;
            background: transparent;
            color: #222222;
            

            &:hover {
                color: #000;
                text-decoration: underline;
            }
        }

        &__next {
            border: none;
            padding: 10px 22px;
            background: #008689;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            border-radius: 4px;
            font-weight: 600;

            &:hover {
                background: #00787a;
            }
        }
    }
}
</style>