<template>
    <div class="star-rating">
        <h2 class="star-rating__title">Rate your experience in this area</h2>
        <div class="star-rating__desc">You've given your host an overall rating. Let them know how they did in this area too so they have a better idea of what went well and how they can improve.</div>
        <div class="star-rating__rating-item" v-for="(rating, index) in listRating" :key="index">
            <div class="star-rating__rating-item__label" >{{rating.label === 'checkIn' ? 'Check in' : rating.label}}</div>
            <b-form-rating inline no-border size="lg" v-model="rating.value" @change="() => hasRating = true"></b-form-rating>
        </div>
        <div class="star-rating__btn">
            <button @click="goToNextStep" disabled v-if="!hasRating">Next</button>
            <button @click="goToNextStep" v-else>Next</button>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class StarRating extends Vue {
    @Prop({ type: Array }) listRating!: Array<any>;

    hasRating = false;

    goToNextStep() {
        this.$emit('go-to-next-step', 'public-review')
    }
}
</script>

<style lang="scss" scoped>
.star-rating {
    width: 60%;
    margin-bottom: 80px;

    &__title {
        font-size: 28px;
        line-height: 32px;
        font-weight: 600;
    }

    &__desc {
        margin: 20px 0;
        font-size: 16px;
        line-height: 20px;
    }

    &__rating-item {
        margin: 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &__label {
            font-size: 18px;
            line-height: 22px;
            font-weight: 600;
            text-transform: capitalize;
        }
    }

    &__btn {
        float: right;

        button {
            border: none;
            padding: 10px 22px;
            background: #008689;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            border-radius: 4px;
            font-weight: 600;

            &:hover {
                background: #00787a;
            }

            &:disabled {
                cursor: not-allowed;
                background-color: #98adad;
            }
        }
    }
}
</style>