<template>
    <div class="top-steps">
        <nuxt-link to="/" class="top-steps__logo">
            <img src="~/assets/img/logo.png" alt="">
        </nuxt-link>
        <div class="top-steps__steps">
            <div class="top-steps__steps__item" :class="currentActive === 'star-rating' && 'active'">1. Star rating</div>
            <b-icon icon="chevron-right" scale="0.8"></b-icon>
            <div class="top-steps__steps__item" :class="currentActive === 'public-review' && 'active'">2. Public review</div>
            <b-icon icon="chevron-right" scale="0.8"></b-icon>
            <div class="top-steps__steps__item" :class="currentActive === 'private-note' && 'active'">3. Private note</div>
            <b-icon icon="chevron-right" scale="0.8"></b-icon>
            <div class="top-steps__steps__item" :class="currentActive === 'done' && 'active'">4. Done</div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class TopStepsReview extends Vue {
    @Prop({type: String}) currentActive!: String;
}
</script>

<style lang="scss" scoped>
.active {
    color: #222222 !important;
    font-weight: 600 !important;
}
.top-steps {
    display: inline-flex;
    align-items: center;
    width: 80%;
    margin: 30px 90px;

    &__logo {
        display: inline;
        margin-right: 20px;

        img {
            height: 100px;
        }
    }

    &__steps {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #717171;

        &__item {
            margin-right: 15px;
            margin-left: 15px;
            border: none;
            background: transparent;

            &:first-child {
                margin-left: 0;
            }

            &:last-child{
                margin-right: 0;
            }
        }
    }
}
</style>