<template>
    <div class="container">
        <header-for-account-setting-item title="Reviews" header="Profile"
            :header_link="localePath({ name: 'users-show-slug', params: { slug: $auth.$state.user.id } })" />
        <div class="main">
            <div class="main__tabs">
                <div class="main__tabs__container">
                    <div class="main__tabs__container__btn-container">
                        <button class="main__tabs__container__btn-container__btn" :class="currentComponent === 'reviews-about-you' && 'btn-active'" @click="changeCurrentComponent('reviews-about-you')">Reviews about you</button>
                        <button class="main__tabs__container__btn-container__btn " :class="currentComponent === 'reviews-by-you' && 'btn-active'" @click="changeCurrentComponent('reviews-by-you')">Reviews by you</button>
                    </div>
                </div>
                <div class="main__tabs__hr"></div>
            </div>
        </div>
        <component v-bind:is="currentComponent" ref="component" :ratingBooking="ratingBooking"></component>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HeaderForAccountSettingItem from '~/components/HeaderForAccountSettingItem.vue';
import ReviewsAboutYou from '~/components/Reviews/ReviewsAboutYou.vue';
import ReviewsByYou from '~/components/Reviews/ReviewsByYou.vue';
import { Booking } from '~/modals/Booking/Booking';
import { plainToClass } from 'class-transformer';
import { Home } from '~/modals/Home/Home';

@Component({
    middleware: ['protect-author'],
    components: {
        HeaderForAccountSettingItem, 
        ReviewsAboutYou,
        ReviewsByYou,
    }
})
export default class Reviews extends Vue {
    currentComponent = 'reviews-about-you';
    ratingBooking: Booking[] = [];

    async asyncData({ $api }) {
        let ratingBooking: Booking[] = [];

        try {
            const response = await $api.booking.getBookingByClient();
            const allBookings = response.data.data;
            if (allBookings.length > 0) {
                allBookings.map(async booking => {
                    if (booking.rating === "NOT_YET_RATED") {
                        const res = await $api.home.getHomeDetail(booking.home.id)
                        booking.home = plainToClass(Home, res.data.data);

                        ratingBooking.push(plainToClass(Booking, booking));
                    }
                })
            }

            // console.log(ratingBooking);

        } catch (error) {
            console.log(error);
        }

        return { ratingBooking }
    }

    changeCurrentComponent(value) {
        this.currentComponent = value
    }
}
</script>

<style lang="scss" scoped>
.container{
    width: 70% !important;
}

.main {
    margin-top: 24px;
    max-width: 632px;

    &__tabs {
        position: relative;

        &__container {
            overflow-y: auto;
            padding-left: 12px;
            padding-right: 12px;
            margin-left: -12px;
            margin-right: -12px;

            &__btn-container {
                display: flex;
                white-space: nowrap;
                overflow: visible;

                &__btn {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 600;
                    border-radius: 8px;
                    border: none;
                    background: transparent;
                    color: rgb(113, 113, 113);
                    padding: 10px;
                    margin-top: 6px;
                    margin-bottom: 6px;
                    margin-right: 6px;
                    position: relative;
                    outline: none;

                    &:first-child {
                        margin-left: -10px;
                    }

                    &:last-child {
                        margin-right: 0px;
                    }

                    &:hover {
                        background: rgb(247, 247, 247);
                    }
                }
            }
        }

        &__hr {
            height: 1px;
            background: rgb(221, 221, 221);
        }
    }
}

.btn-active {
    color: rgb(34, 34, 34);

    &::after {
        content: "";
        position: absolute;
        background: rgb(34, 34, 34);
        bottom: -6px;
        left: 10px;
        width: calc(100% - 20px);
        height: 2px;
    }
}
</style>