<template>
    <div class="nav-buttons">
        <div class="nav-buttons__buttons">
            <button class="nav-buttons__buttons__item active">Upcoming</button>
            <button class="nav-buttons__buttons__item">All</button>
        </div>
        <hr>
    </div>
</template>

<script lang="ts">
import { Component, Vue} from 'vue-property-decorator';

@Component({
})
export default class NavButtons extends Vue {
    
}
</script>

<style lang="scss" scoped>
hr {
    margin: 0;
    margin-bottom: 40px;
}
.nav-buttons {
    color: #222222;
    margin-top: 20px;

    &__buttons {
        display: flex;

        .active {
            color: #008bc2;

            &::after {
                content: "";
                position: absolute;
                background-color: #008bc2;
                bottom: -6px;
                left: 0;
                width: 100%;
                height: 2px;
            }
        }

        &__item {
            font-size: 18px;
            line-height: 22px;
            font-weight: 600;
            border-radius: 8px;
            border: none;
            background: transparent;
            color: #717171;
            padding: 10px 10px;
            margin: 0 40px 6px 0;
            outline: none;
            position: relative;

            &:hover {
                background: #f7f7f7;
            }
        }
    }
}
</style>