<template>
    <div class="table-container">
        <b-table fixed responsive sticky-header="true" :items="items" :fields="headings" sort-icon-left>
            <template #table-colgroup="scope">
                <col v-for="field in scope.fields" :key="field.key" :style="{
                    width: field.key === 'listing' ? '18rem' : field.key === 'earnings' ? '3rem' : '8rem'
                }" class="table-header">
            </template>
            <template #head(status)="head">
                <div class="status-header">{{head.label}}</div>
            </template>
            <template #cell(listing)="row">
                <div class="link">
                    <img :src="row.value.img" height="40px" width="56px" />
                    <span>{{row.value.name}}</span>
                </div>
            </template>
            <template #cell(guests)="row">
                <div class="bold-text">{{row.value.name}}</div>
                <div class="small-text">{{row.value.num}}</div>
            </template>
            <template #cell(earnings)="row">
                <div class="bold-text">{{row.value}}</div>
            </template>
            <template #cell(dates)="row">
                <div>{{ labelCheckInCheckOut(row.value.checkIn, row.value.checkOut)}}</div>
                <div class="small-text">{{row.value.num_nights}} night</div>
            </template>
            <template #cell(status)="row">
                <div class="status-cell">{{row.value}}</div>
            </template>
            <template #cell(action) = "row">
                <div class="action-container">
                    <nuxt-link to="/" class="action-container__details">Details</nuxt-link>
                    <button class="action-container__more" @click="() => togglePopup(row.value.code)">
                        <b-icon icon="three-dots"></b-icon>
                    </button>
                    <div class="popup" v-if="row.value.clicked">
                        <div class="popup__main">
                            <div class="popup__main__code">
                                <span>Reservation code:</span>
                                <span>{{row.value.code}}</span>
                            </div>
                            <div class="popup__main__info">
                                <button>Call +84 {{row.value.phone}}</button>
                                <button>Message</button>
                            </div>
                        </div>
                        <nuxt-link to="/" class="popup__btn-cancel">Accept or reject reservation</nuxt-link>
                    </div>
                </div>
            </template>
        </b-table>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Booking } from '~/modals/Booking/Booking';
import moment from 'moment';
import { plainToClass } from 'class-transformer';
import { Home } from '~/modals/Home/Home';

@Component
export default class ReservationsTable extends Vue {
    @Prop({ type: Array }) allBookings!: Booking[]

    headings = [
        { key: 'status',},
        'guests',
        'dates',
        'booked',
        'listing',
        'earnings',
        {key: 'action', label: ''},
    ]

    items : any = []

    created() {
        this.allBookings.map(booking => {
            const { id, status, checkIn, checkOut, updatedAt, home, user_info } = booking
            const homeDetail = plainToClass(Home, home);
            const newItem = {
                status,
                guests: {
                    name: user_info?.name,
                    num: '1 adult',
                },
                dates: {
                    checkin: this.changeDateFormat(checkIn, 'MMM DD'),
                    checkout: this.changeDateFormat(checkOut, 'MMM DD'),
                    num_nights: 1,
                },
                booked: this.changeDateFormat(updatedAt, 'MMM DD, YYYY'),
                listing: {
                    name: homeDetail?.name,
                    img: homeDetail?.listImages?.at(0)
                },
                earnings: '$579.03',
                action: {
                    code: id,
                    clicked: false,
                    phone: user_info?.phone
                }
            }
            this.items = [...this.items, newItem]
        })
    }

    changeDateFormat(date, type) {
        return moment(date).format(type)
    }

    labelCheckInCheckOut(checkIn, checkOut) { 
        let date = ''

        if (this.changeDateFormat(checkIn, 'MMM') === this.changeDateFormat(checkOut, 'MMM')) {
            date = this.changeDateFormat(checkIn, 'MMM') + ' ' + this.changeDateFormat(checkIn, 'DD') + '-' + this.changeDateFormat(checkOut, 'DD') + ', ' + this.changeDateFormat(checkOut, 'YYYY'); 
        } else {
            date = this.changeDateFormat(checkIn, 'MMM DD, YYYY') + '-' + this.changeDateFormat(checkOut, 'MMM DD, YYYY'); 
        }
        
        return date
    }

    togglePopup(code) {
        let item = this.items.filter(item => item.action.code === code);
        item[0].action.clicked = !item[0].action.clicked
        this.items.filter(item => item.action.code !== code).map(item => item.action.clicked = false)
    }
}
</script>

<style lang="scss" scoped>
.bold-text {
    color: #222222;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

.link {
    text-decoration: none;
    appearance: none;
    color: #222222;

    span {
        margin-left: 8px;
    }
}

.small-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #717171;
    display: block;
}

.status-cell {
    text-transform: lowercase;
    color: #059742;
    text-transform: 800;
    font-size: 18px;
    line-height: 22px;

    &::first-letter {
        text-transform: capitalize;
    }
}
.action-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    position: relative;

    &__details {
        text-decoration: none;
        margin-right: 10px;
        border: 1px solid #008bc2;
        padding: 5px 12px;
        color: #008bc2;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        border-radius: 4px;

        &:hover {
            color: #039dda;
            border-color: #039dda;
        }
    }

    &__more {
        padding: 8px 5px;
        background: transparent;
        border: none;
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: #f7f7f7;
        }
    }
}

.popup {
    position: absolute;
    top: 105%;
    right: 20px;
    z-index: 10;
    background: #fff;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
    min-width: 300px;

    &__main {
        padding: 15px;
        padding-bottom: 0;

        &__code {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            margin-bottom: 10px;
            color: #717171;
        }

        &__info {
            display: flex;
            flex-direction: column;
            
            button {
                text-align: left;
                border: none;
                background-color: #fff;
                outline: none;
                padding: 10px 0px;
                border-top: 1px solid rgb(221, 221, 221);

                &:hover {
                    background: #f7f7f7;
                }
            }
        }
    }

    &__btn-cancel {
        margin: 0;
        display: block;
        padding: 10px 15px;
        color: #000;
        text-decoration: none;
        width: 100%;
        background: rgb(221, 221, 221);
    }
}

.status-header {
    color: #008bc2;
}
</style>