<template>
    <div class="top-header">
        <div class="top-header__right">
            <div class="top-header__right__go-back">
                <nuxt-link to="/hosting" class="top-header__right__go-back__link">
                    <b-icon icon="chevron-left" class="icon"></b-icon>
                </nuxt-link>
            </div>
            <div class="top-header__right__title">
                <h1>Reservations</h1>
            </div>
        </div>
        <div class="top-header__left">
            <div class="top-header__left__btn-container">
                <button class="top-header__left__btn-container__btn">
                    <span class="top-header__left__btn-container__btn__content">
                        <img src="~/assets/icons/sliders-solid.svg" alt="">
                        <span>Filter</span>
                    </span>
                </button>
            </div>
            <div class="top-header__left__btn-container">
                <button class="top-header__left__btn-container__btn">
                    <span class="top-header__left__btn-container__btn__content">
                        <span>Export</span>
                        <b-icon icon="chevron-down" class="icon has-text"></b-icon>
                    </span>
                </button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class TopHeader extends Vue {
    
}
</script>

<style lang="scss" scoped>
.has-text{
    margin-left: 8px;
}
.icon {
    stroke: currentColor;
    stroke-width: 1;
}
.top-header{
    &__right {
        display: inline-block;

        &__go-back {
            display: flex;
            align-items: center;
            height: 64px;

            &__link {
                border-radius: 50%;
                background: transparent;
                cursor: pointer;
                margin: 0;
                border: none;
                transition: transform 0.25s ease;
                color: #222222;
                width: 40px;
                height: 40px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: -20px;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    z-index: -1;
                }
            
                &:hover::before {
                    background: rgb(252, 252, 252);
                }
            }
        }

        &__title {
            padding-top: 12px;
            padding-bottom: 24px;
            font-size: 32px;
            line-height: 36px;
            font-weight: 600;
            color: #222222;

            h1 {
                color: inherit;
                font-size: 1em;
                font-weight: inherit;
                line-height: inherit;
                margin: 0;
                padding: 0;
            }
        }
    }

    &__left {
        display: flex;
        align-items: center;
        height: 64px;
        float: right;

        &__btn-container {
            float: left;
            margin-right: 8px;

            &__btn {
                display: inline-block;
                margin: 0;
                position: relative;
                text-align: center;
                text-decoration: none;
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                border-radius: 8px;
                border: 1px solid #222222;
                outline: none;
                padding: 7px 15px;
                background: transparent;
                color: #222222;

                &:hover {
                    border-color: #000;
                    background: #f7f7f7;
                    color: #222222;
                }

                &__content {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        margin-right: 8px;
                        height: 16px;
                        width: 16px;
                    }
                }
            }
        }
    }
}
</style>