<template>
    <div class="cancel">
        <div class="cancel__container">
            <div class="cancel__container__header">
                <img class="cancel__container__header__logo" src="~/assets/img/logo.png" alt="">
                <h1 class="cancel__container__header__title">Your reservation was canceled successfully</h1>
                <div class="cancel__container__header__desc"></div>
            </div>
            <section class="cancel__container__main">
                <nuxt-link to="/" class="cancel__container__main__btn-search">Search new home</nuxt-link>
                <nuxt-link to="/users/trips" class="cancel__container__main__btn-view">View Your Trips</nuxt-link>
            </section>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class RequestBookingPopup extends Vue {
}
</script>

<style lang="scss" scoped>
.cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__container {
        position: absolute;
        background: #fff;
        border-radius: 12px;
        width: 50%;
        z-index: 201;
        top: 120px;
        right: 25%;
        display: flex;
        flex-direction: column;
        min-height: 0;
        max-height: 100vh;
        overflow: auto;
        padding: 40px 60px;

        &__header {
            text-align: center;
            margin-bottom: 50px;

            &__logo {
                margin-bottom: -20px;
                margin-top: -40px;
                width: 200px;
            }

            &__title {
                font-size: 30px;
                line-height: 34px;
                font-weight: 800;
            }

            &__desc {
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                width: 75%;
                margin: 0 auto;
            }
        }

        &__main {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__btn-search {
                display: inline-block;
                text-align: center;
                background: #fff;
                appearance: none;
                color: #008689;
                font-size: 18px;
                line-height: 24px;
                font-weight: 600;
                border-radius: 8px;
                padding: 16px 32px;
                outline: none;
                text-decoration: none;
                border: 2px solid #008689;
        
                &:hover {
                    color: #01aeb1;
                }
            }

            &__btn-view {
                display: inline-block;
                text-align: center;
                background: linear-gradient(to right, #008689 0%,
                        #01aeb1 100%,
                        #01aeb1 50%);
                appearance: none;
                color: #fff;
                font-size: 18px;
                line-height: 24px;
                font-weight: 600;
                border-radius: 8px;
                padding: 16px 32px;
                outline: none;
                color: #fff;
                text-decoration: none;

                &:hover {
                    background: linear-gradient(to left, #008689 0%,
                            #01aeb1 100%,
                            #01aeb1 50%);
                }
            }
        }
    }
}
</style>