<template>
    <div class="confirm-cancel">
        <h1 class="confirm-cancel__title">Does this look right?</h1>
        <div class="confirm-cancel__price-detail">
            <div class="confirm-cancel__price-detail__flex">
                <div class="confirm-cancel__price-detail__flex__label">
                    <span>Nightly price</span>
                    <span class="confirm-cancel__price-detail__flex__label__refund" v-if="booking.refund">Full refund</span>
                </div>
                <div class="confirm-cancel__price-detail__flex__value">${{booking.pricePerDay}}</div>
            </div>
            <div class="confirm-cancel__price-detail__flex bold">
                <div class="confirm-cancel__price-detail__flex__label">
                    <span>Total refund</span>
                </div>
                <div class="confirm-cancel__price-detail__flex__value" v-if="booking.refund">${{booking.priceForStay}}</div>
                <div class="confirm-cancel__price-detail__flex__value" v-else>$0</div>
            </div>
        </div>
        <div class="confirm-cancel__desc">
            Your reservation will be canceled immediately 
            <span v-if="booking.refund">and you'll be refunded within 10 business days.</span>
            <span v-else>and you will NOT be refunded</span>
        </div>
        <div class="confirm-cancel__btn-container">
            <nuxt-link class="confirm-cancel__btn-container__btn-back" to="/users/trips">Keep reservation</nuxt-link>
            <button class="confirm-cancel__btn-container__btn-confirm" @click="cancelBooking">Yes, cancel</button>
        </div>

        <full-modal v-if="isCancelSuccess">
            <cancel-success-popup/>
        </full-modal>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import FullModal from '~/argon-component/FullModal.vue';
import CancelSuccessPopup from '~/components/Trips/CancelTrip/CancelSuccessPopup.vue'
import { Booking } from '~/modals/Booking/Booking';

@Component({
    components: {
        FullModal, CancelSuccessPopup,
    }
})
export default class ConfirmCancel extends Vue {
    @Prop({ type: String }) reason!: String;
    @Prop({ type: Booking }) booking!: any;
    isCancelSuccess: Boolean = false;

    async cancelBooking() {
        try {
            const res = await this.$api.booking.cancelBookingByClient(this.$route.params.slug, this.reason);
            this.isCancelSuccess = true;
            // console.log(res.data.data);
            
        } catch (error) {
            console.log(error);
        }
    }
}
</script>

<style lang="scss" scoped>
.bold {
    font-weight: 600 !important;
}
.confirm-cancel {
    width: 40%;
    margin: 0 80px 0 150px;

    &__title {
        font-size: 32px;
        line-height: 36px;
        font-weight: 800;
    }

    &__price-detail {
        margin-top: 60px;
        margin-bottom: 30px;

        &__flex {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 20px 0;
            border-bottom: 1px solid rgb(221, 221, 221);
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;

            &:last-child {
                border: none;
            }

            &__label {
                display: flex;
                flex-direction: column;

                &__refund {
                    font-size: 14px;
                    line-height: 18px;
                    color: #717171;
                    margin-top: 8px;
                }
            }
        }
    }

    &__desc {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 20px;
        color: #222222;
    }

    &__btn-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__btn-back {
            display: inline-block;
            text-decoration: none;
            text-align: center;
            background: #fff;
            appearance: none;
            color: #008689;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            border-radius: 8px;
            padding: 10px 18px;
            outline: none;
            text-decoration: none;
            border: 2px solid #008689;
    
            &:hover {
                color: #01aeb1;
            }
        }

        &__btn-confirm {
            border: none;
            padding: 10px 18px;
            background: #008689;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            border-radius: 4px;
            font-weight: 600;
        }
    }

}
</style>