<template>
    <div class="info-booking">
        <div class="info-booking__home">
            <div class="info-booking__home__info">
                <div class="info-booking__home__info__nights">{{ nights }} nights in {{booking.home?.address}}</div>
                <div class="info-booking__home__info__type">Entire {{home.category?.title}}</div>
            </div>
            <div class="info-booking__home__img">
                <img v-if="home.listImages" :src="home.listImages[0]" alt="" width="100px" height="60px">
            </div>
        </div>
        <hr>
        <div class="info-booking__general">
            <div class="info-booking__general__guest">
                <b-icon icon="person" scale="1.2"></b-icon>
                <span>{{(Number(booking.numOfAdults) + Number(booking.numOfChildren) + Number(booking.numOfBabies))}} guest</span>
            </div>
            <div class="info-booking__general__date">
                <b-icon icon="calendar4" scale="1.2"></b-icon>
                <span>{{changeDateFormat(booking.checkIn, 'ddd, MMM DD')}}</span>
                <b-icon icon="arrow-right"></b-icon>
                <span>{{changeDateFormat(booking.checkOut, 'ddd, MMM DD')}}</span>
            </div>
        </div>
        <hr>
        <div class="info-booking__price">
            <div class="info-booking__price__item">
                <span>Original total</span>
                <span>${{(Number(booking.pricePerDay) * Number(nights))}}</span>
            </div>
            <div class="info-booking__price__item">
                <span>Service fees</span>
                <span>${{home.priceService}}</span>
            </div>
        </div>
        <hr>
        <div class="info-booking__refund" v-if="booking.refund">
            <span>Total refund</span>
            <span>${{booking.priceForStay}}</span>
        </div>
        <div class="info-booking__refund" v-else>
            <span>No refund</span>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import moment from 'moment';
import { Home } from '~/modals/Home/Home';
import { plainToClass } from 'class-transformer';
import getNumOfNight from 'num-of-nights'

@Component
export default class InfoBookingCard extends Vue {
    @Prop({ type: Object }) booking!: any;
    home : Home = {}

    changeDateFormat(date, type) {
        return moment(date).format(type)
    }

    async created() {
        try {
            const response = await this.$api.home.getHomeDetail(this.booking.home?.id);
            this.home = plainToClass(Home, response.data.data)
        } catch (error) {
            console.log(error);
        }
    }

    get nights() {
        if (this.booking.checkOut && this.booking.checkIn) {
            var time = new Date(this.booking.checkOut).getTime() - new Date(this.booking.checkIn).getTime()
            return getNumOfNight(time)
        }
        return 0;
    }
}
</script>

<style lang="scss" scoped>
.info-booking {
    border: 1px solid rgb(221, 221, 221);
    padding: 20px;
    width: 35%;
    height: fit-content;

    @media screen and (min-width: 1600px) {
        width: 25%;
    }

    &__home {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__info {
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            color: #222222;

            &__type {
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                color: #717171;
                margin-top: 5px;
            }
        }

        &__img {
            img {
                object-fit: cover;
            }
        }
    }

    &__general {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;

        &__guest {
            margin-bottom: 15px;

            span {
                margin-left: 8px;
            }
        }

        &__date {
            span {
                margin: 0 8px;
            }
        }
    }

    &__price {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #222222;

        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 0;
        }
    }

    &__refund {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
    }
}
</style>