<template>
    <div class="reason-cancel">
        <h2 class="reason-cancel__title">Why do you need to cancel?</h2>
        <div class="reason-cancel__label">Please select a reason</div>
        <div class="reason-cancel__choice" :class="isFocus && 'focus'"
                v-click-outside="() => isFocus = false">
            <select id="reason" class="reason-cancel__choice__selection" name="reason" v-model="selectedReason" @focus="() => isFocus = true">
                <option v-for="reason in listReason" :key="reason.id" :value="reason.id" >{{reason.value}}</option>
            </select>
            <div class="reason-cancel__choice__icon">
                <b-icon icon="chevron-down" :class="isFocus && 'icon'"></b-icon>
            </div>
        </div>
        <button class="reason-cancel__btn" @click="goToStepTwo">Continue</button>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class ReasonCancel extends Vue {
    @Prop({ type: Array }) listReason!: Array<any>;
    isFocus = false
    selectedReason = '0'

    goToStepTwo() {
        this.$emit('change-step', { value: true, reason: this.selectedReason });
    }
}
</script>

<style lang="scss" scoped>
.focus {
    box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset !important;
}

.icon {
    stroke: currentColor;
    stroke-width: 1;
}

.reason-cancel {
    width : 50%;
    margin-right: 80px;
    padding-top: 40px;

    &__title {
        font-size: 24px;
        line-height: 28px;
        font-weight: 800;
        margin-bottom: 25px;
    }

    &__label {
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__choice {
        position: relative;
        display: flex;
        width: 100%;
        margin: 0px;
        border: none;
        color: rgb(34, 34, 34);
        background: #fff;
        border-radius: 8px;
        box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;

        &__selection {
            min-height: 56px;
            width: 100%;
            border: none;
            outline: none;
            margin: 0;
            padding: 18px 36px 18px 12px;
            background: transparent;
            color: inherit;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            appearance: none;
        }

        &__icon {
            position: absolute;
            right: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            max-width: 50%;
            min-width: 36px;
            padding-right: 12px;
            color: rgb(34, 34, 34);
        }
    }

    &__btn {
        color: #00787a;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        padding: 8px 15px;
        border: 2px solid #00787a;
        border-radius: 4px;
        background: transparent;
        margin-top: 50px;
    
        &:hover {
            color: #008689;
            border-color: #008689;
        }
    }
}
</style>