<template>
    <div class="top-steps">
        <nuxt-link to="/" class="top-steps__logo">
            <img src="~/assets/img/logo.png" alt="">
        </nuxt-link>
        <div class="top-steps__steps">
            <button class="top-steps__steps__one active" @click="goToStepOne">1. Select reason</button>
            <b-icon icon="chevron-right" scale="0.8"></b-icon>
            <button class="top-steps__steps__two" :class="isStepTwo && 'active'">2. Confirm cancellation</button>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class TopSteps extends Vue {
    @Prop({ type: Boolean }) isStepTwo!: Boolean;

    goToStepOne() {
        this.$emit('change-step', { value: false, reason: '' });
    }
}
</script>

<style lang="scss" scoped>
.active {
    color: #222222 !important;
    font-weight: 600 !important;
}
.top-steps {
    display: inline-flex;
    align-items: center;
    width: 80%;
    margin: 30px 90px;

    &__logo {
        display: inline;
        margin-right: 20px;

        img {
            height: 100px;
        }
    }

    &__steps {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #717171;

        &__one {
            margin-right: 15px;
            border: none;
            background: transparent;


        }

        &__two {
            margin-left: 15px;
            border: none;
            background: transparent;
        }
    }
}
</style>