@font-face {
  font-family: Catamaran;
  src: url("../font/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: Catamaran;
  src: url("../font/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: Catamaran;
  src: url("../font/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: Catamaran;
  src: url("../font/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Catamaran;
  src: url("../font/Poppins//Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Catamaran;
  src: url("../font/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}

*:focus {
  outline: 0;
}

html,
body {
  font-family: "Poppins" !important;
  font-weight: 400;
  color: #2e2f30;
  letter-spacing: 0.5px;
  margin: 0;
}
body {
  // background: #ced4da !important;
  background: #ffffff !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}