<template>
    <div class="container">
        <header-for-account-setting-item title="Profile photos" header="Profile" :header_link = "localePath({ name: 'users-show-slug', params: { slug: $auth.$state.user.id } })" />
        <div class="panel"> 
            <div class="panel__header">
                <h1 class="panel__header__title">Profile Photo</h1>
            </div>
            <div class="panel__body">
                <div class="panel__body__photo">
                    <div class="panel__body__photo__container col-lg-4">
                        <div class="panel__body__photo__container__card">
                            <div class="panel__body__photo__container__card__img">
                                <img v-if="$auth.$state.user.user_info.avatar" :src="$auth.$state.user.user_info.avatar" alt="">
                                <img v-else src="https://a0.muscache.com/defaults/user_pic-225x225.png?v=3" alt="">
                            </div>
                            <button v-if="$auth.$state.user.user_info.avatar" class="panel__body__photo__container__card__btn-remove">
                                <b-icon icon="trash-fill" variant="light"></b-icon>
                            </button>
                        </div>
                    </div>
                    <div class="panel__body__photo__action col-lg-8">
                        <p>A profile photo that shows your face can help other hosts and guests get to know you.
                            Airbnb requires all hosts to have a profile photo. We don’t require guests to have a profile photo, but hosts
                            can. If
                            you’re a guest, even if a host requires you to have a photo, they won’t be able to see it until your booking is
                            confirmed.</p>
                        <button class="panel__body__photo__action__btn-upload">Upload a file from your computer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HeaderForAccountSettingItem from '../../../components/HeaderForAccountSettingItem.vue'

@Component({
    middleware: ['protect-author'],
    components: {
        HeaderForAccountSettingItem
    }
})
export default class EditPhoto extends Vue {
    
}
</script>

<style lang="scss" scoped>
.panel {
    margin-bottom: 24px;
    border: 1px solid #dce0e0;
    border-radius: 0;
    width: 75%;

    @media screen and (max-width: 774px) {
        width: 100%;
    }

    &__header {
        background: #edefed;
        color: #484848;
        font-size: 16px;
        padding: 12px 20px;
        border-bottom: 1px solid #dce0e0;

        &__title {
            font-size: 16px;
            margin: 0;
            padding: 0;
        }
    }

    &__body {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 20px;
        height: fit-content;

        &__photo {
            margin-right: -12px;
            margin-bottom: -12px;

            &__container {
                width: 33.33%;
                float: left;
                position: relative;

                @media screen and (max-width: 1200px) {
                    width: 100%;
                    float: none;
                }

                &__card {
                    display: inline-block;
                    position: relative;

                    &__img {
                        position: relative;
                        display: inline-block;
                        vertical-align: bottom;
                        overflow: hidden;
                        background-color: #bbb;
                
                        img {
                            height: 225px;
                            width: 225px;
                            border: 0;
                            vertical-align: middle;
                            object-fit: cover;
                        }
                    }

                    &__btn-remove {
                        display: block;
                        height: 24px;
                        margin: 0;
                        width: 24px;
                        position: absolute;
                        top: 2px;
                        right: 2px;
                        background: #000;
                        border: 0;
                        border-radius: 2px;
                        opacity: .7;

                        &:hover {
                            opacity: .9;
                        }
                    }
                }
            }

            &__action {
                width: 66.67%;
                float: left;
                padding-right: 12px;

                @media screen and (max-width: 1200px) {
                    width: 100%;
                    float: none;
                    margin-top: 10px;
                }

                &__btn-upload {
                    display: block;
                    width: 100%;
                    font-weight: bold;
                    white-space: normal;
                    border-color: #c4c4c4;
                    background-color: #fff;
                    color: #484848;
                    padding: 9px 27px;
                    font-size: 16px;
                    border-radius: 4px;
                    border: 1px solid;
                    line-height: 1.43;

                    &:hover {
                        border-color: #aaa;
                    }
                }
            }
        }
    }
}
</style>