<template>
  <ValidationProvider v-slot="{ errors }" :rules="rules" :name="$attrs.name" class="input-validator">
    <div class="label">
      <label :for="$attrs.idInput" class="mb-0">{{ $attrs.label }}</label>
      <span v-if="$attrs.obligate" style="color: #f46414">*</span>
    </div>
    <base-input v-model="innerValue" class="input mt-2" :placeholder="$attrs.placeholder" />
    <small style="color: #f46414">{{ errors[0] }}</small>
  </ValidationProvider>
</template>

<script lang="ts">
import BaseInput from '../Base/BaseInput.vue';
import { Vue, Component, Prop, Watch } from 'nuxt-property-decorator';
import { ValidationProvider } from 'vee-validate';
@Component({
  components: {
    ValidationProvider,
    BaseInput
  }
})
export default class InputWithValidation extends Vue {
  // @Prop({type: String, required: false, default: ''}) label!: string;
  @Prop({ type: [Object, String], default: '' }) rules;
  @Prop({ type: String, required: false, default: '' }) valueInit!: string;
  @Prop({ type: [String], default: '' }) value;

  innerValue = ''
  @Watch('innerValue')
  oninnerValueChange(){
    this.$emit('input', this.innerValue);
  }
}
</script>

<style lang="scss" scoped>
.input-validator {
  display: flex;
  flex-direction: column;

  .label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    label {
      font-size: 18px;
      line-height: 20px;
      font-weight: 600;
    }
  }
}
</style>