<template>
  <ValidationProvider v-slot="{ errors }" :rules="rules" :name="$attrs.name" class="selectbox-validator">
    <div class="label">
      <label :for="$attrs.idInput" class="mb-0">{{ $attrs.label }}</label>
      <span v-if="$attrs.obligate" style="color: #f46414">*</span>
    </div>
    <client-only>
      <v-select label="title"
        placeholder="Select one" :options="listCategories" multiple  :searchable="false" :allow-empty="false">
      </v-select>
    </client-only>
    <small style="color: #f46414">{{ errors[0] }}</small>
  </ValidationProvider>
</template>

<script lang="ts">
import { ValidationProvider } from 'vee-validate';
import BaseSelectBox from '../Base/BaseSelectBox.vue';
import { Vue, Component, Prop, Watch } from 'nuxt-property-decorator';

@Component({
  components: {
    BaseSelectBox,
    ValidationProvider
  }
})
export default class SelectBoxWithValidator extends Vue {
  @Prop({ type: [Object, String], default: '' }) rules;
  @Prop({ type: String, required: false, default: '' }) valueInit!: string;
  @Prop({ type: Array, required: false, default: '' }) listCategories!: Array<string>;

  valueI = '';
  // innerValue = this.listCategories[0];
  // @Watch('innerValue')
  // onInnerValueChange(newVal, oldVal){
  //   if(this.innerValue){
  //     this.$emit('input', (this.innerValue as any).id)
  //   }

  // }
  mounted() {
    // this.$emit('input', (this.innerValue as any).id)
  }
}
</script>

<style lang="scss" scoped>
.selectbox-validator {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  .label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    label {
      font-size: 18px;
      line-height: 20px;
      font-weight: 600;
    }
  }
}
</style>