<template>
  <ValidationProvider v-slot="{ errors }" :rules="rules" :name="$attrs.name" class="textarea-validator">
    <div class="label">
      <label :for="$attrs.idInput" class="mb-0">{{ $attrs.label }}</label>
      <span v-if="$attrs.obligate" style="color: #f46414">*</span>
    </div>
    <base-text-area v-model="innerValue" class="text-area mt-2" :placeholder="$attrs.placeholder" />
    <small style="color: #f46414">{{ errors[0] }}</small>
  </ValidationProvider>
</template>

<script lang="ts">
import { ValidationProvider } from 'vee-validate';
import BaseTextArea from '../Base/BaseTextArea.vue';
import { Vue, Component, Prop, Watch } from 'nuxt-property-decorator';

@Component({
  components: {
    ValidationProvider,
    BaseTextArea
  }
})
export default class TextAreaWithValidation extends Vue {
  @Prop({ type: [Object, String], default: '' }) rules;
  @Prop({ type: String, required: false, default: '' }) valueInit!: string;

  innerValue = ''

  @Watch('innerValue')
  onInnerValueChange(newVal, oldVal){
    this.$emit('input', newVal)
  }

}
</script>

<style lang="scss" scoped>
.textarea-validator {
  display: flex;
  flex-direction: column;

  .label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    label {
      font-size: 18px;
      line-height: 20px;
      font-weight: 600;
    }
  }
}
</style>