<template>
  <div class="currency">
    <div v-for="item in languages" :key="item.id" class="currency-item"
      :class="{ 'isActive': item.code == currentCode }" :disable="!item.enable" @click="updateCurrencyCode(item)">
      <div class="currency-item__region">
        {{ item.region }}
      </div>
      <div class="currency-item__unit">
        {{ item.unit }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'language',
  data() {
    return {
      currentCode: 'vnd',
      languages: [
        {
          id: 1,
          unit: 'USD – $',
          region: 'United States dollar',
          code: 'usd',
          enable: true
        },
        {
          id: 2,
          unit: 'VND - vnd',
          region: 'Vietnam',
          code: 'vnd',
          enable: true
        },
        {
          id: 3,
          unit: 'EUR – €',
          region: 'Euro',
          code: 'euro',
          enable: false
        },
        {
          id: 4,
          unit: 'THB – ฿',
          region: 'Thai baht',
          code: 'bath',
          enable: false
        }
      ]
    }
  },
  methods: {
    updateCurrencyCode(item) {
      if (item.code != this.currentCode) {
        this.currentCode = item.code;
      }

    }
  }
}
</script>

<style lang="scss" scoped>
.currency {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px 40px;
  grid-gap: 20px;

  .currency-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px 10px;
    border: 1px solid $second-bg;
    border-radius: 10px;
    user-select: none;

    &__unit {
      color: #717171;
    }

    &:hover {
      background: $bg-hover;
    }

    &.isActive {
      border: 1px solid #717171;

      &:hover {
        background: $second-bg;
      }
    }
  }
}
</style>