<template>
  <div class="language">
    <div v-for="item in languages" :key="item.id" class="language-item"
     :class="{ 'isActive': item.code == currentCode }" :disable="!item.enable"
      @click="updateLanguageCode(item)">
      <div class="language-item__language">
        {{ item.name }}
      </div>
      <div class="language-item__region">
        {{ item.region }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'language',
  data() {
    return {
      currentCode: 'vi',
      languages: [
        {
          id: 1,
          name: 'English',
          region: 'England',
          code: 'en',
          enable: true
        },
        {
          id: 2,
          name: 'Vietnamese',
          region: 'Vietnam',
          code: 'vi',
          enable: true
        },
        {
          id: 3,
          name: 'French',
          region: 'France',
          code: 'fr',
          enable: false
        },
        {
          id: 4,
          name: 'Lao language',
          region: 'Laos',
          code: 'la',
          enable: false
        }
      ]
    }
  },
  mounted(){
    this.currentCode = this.$i18n.locale;
  },

  methods: {
    updateLanguageCode(item) {
      if (item.code != this.currentCode) {
        this.currentCode = item.code;
      }

    }
  }
}
</script>

<style lang="scss" scoped>
.language {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px 40px;
  grid-gap: 20px;

  .language-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px 10px;
    border: 1px solid $second-bg;
    border-radius: 10px;
    user-select: none;

    &__region{
      color: #717171;
    }

    &:hover{
      background: $bg-hover;
    }

    &.isActive {
      border: 1px solid #717171;
      &:hover{
        background: $second-bg;
      }
    }
  }
}
</style>