<template>
  <div class="modal-switch-language">
    <div class="modal-switch-language__container" v-click-outside="closeModal">
      <div class="container-nav">
        <div class="container-nav__left">
          <div class="container-nav__left__language d-inline-block"
            :class="{ 'isActive': currentComponent == 'language' }" @click="changeComponent">
            Language and Region
          </div>
          <div class="container-nav__left__currency d-inline-block"
            :class="{ 'isActive': currentComponent == 'currency' }" @click="changeComponent">
            Currency
          </div>
        </div>
        <div class="container-nav__right">
          <div class="container-nav__right__close" @click="closeModal">
            <img src="~/assets/icons/close.svg" alt="">
          </div>
        </div>
      </div>

      <div class="container-body">
        <component v-bind:is="currentComponent" ref="component">
        </component>
      </div>

      <div class="container-footer">
        <div class="button" @click="onSave">
          Save
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import Language from './LanguageBody.vue';
import Currency from './CurrencyBody.vue';
@Component({
  components: {
    Language,
    Currency
  }
})
export default class ModalSwitchLanguage extends Vue {

  currentComponent = 'language';
  closeModal() {
    this.$emit('close-modal', true)
  }

  changeComponent() {
    if (this.currentComponent == 'language') {
      this.currentComponent = 'currency';
    }
    else {
      this.currentComponent = 'language';
    }
  }

  onSave() {
    if (this.currentComponent == 'language') {
      let codeLanguage = (this.$refs.component as Vue).$data.currentCode
      this.$i18n.setLocale(codeLanguage);
      this.closeModal();
    }

  }
}
</script>

<style lang="scss" scoped>
.modal-switch-language {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;

  &__container {
    position: absolute;
    transform: translateY(70%);
    opacity: 1;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    background-color: $second-bg;
    animation: showToggle .4s ease-out;

    @keyframes showToggle {
      0% {
        transform: translateY(200%);
        opacity: 1;
      }

      100% {
        transform: translateY(70%);
        opacity: 1;
      }
    }

    .container-nav {
      margin: 10px 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #717171;

      &__left {
        font-size: 18px;
        line-height: 100%;
        font-weight: 500;
        user-select: none;

        &__language {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          position: relative;
          padding: 15px 12px;
          margin-bottom: 5px;
          border-radius: 6px;

          &:hover {
            background-color: $bg-hover;
          }
        }

        &__currency {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          position: relative;
          padding: 15px 12px;
          margin-bottom: 5px;
          border-radius: 6px;

          &:hover {
            background-color: $bg-hover;
          }
        }

        .isActive {
          font-weight: 600;
          &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            z-index: 9999;
            display: inline-block;
            width: 100%;
            background-color: black;
            height: 2px;
          }
        }
      }

      &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        &__close {
          margin-right: 5px;
          padding: 3px 7px;
          width: 30px;
          height: 30px;
          border-radius: 100%;
          cursor: pointer;

          &:hover {
            background-color: $bg-hover;

          }

          img {
            max-height: 100%;
            max-width: 100%;
          }
        }
      }
    }

    .container-footer {
      position: absolute;
      padding: 12px;
      width: 100%;
      bottom: 0;
      margin-top: auto;
      display: flex;
      justify-content: center;
      background-color: $bg-hover;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      .button {
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        line-height: 100%;
        border-radius: 10px;
        color: $primary-bg;
        display: flex;
        justify-content: center;
        padding: 15px 0px;
        background: linear-gradient(to right, #008689 0%, #01aeb1 100%, #01aeb1 50%);
        width: 100%;

        &:hover {
          background: linear-gradient(to right, #008689 100%, #01aeb1 0%, #01aeb1 50%);
        }
      }
    }
  }
}
</style>