<template>
    <div class="book-room_container">
        <top-header />
        <div class="book-room_container__main">
            <div class="book-room_container__main__left">
                <div class="book-room_container__main__left__info">
                    <h2 class="book-room_container__main__left__info__item header-text">Your trip</h2>
                    <div class="book-room_container__main__left__info__item">
                        <div class="book-room_container__main__left__info__item__detail">
                            <h3 class="book-room_container__main__left__info__item__detail__label">Dates</h3>
                            <span class="book-room_container__main__left__info__item__detail__value">{{getDateLabel}}</span>
                        </div>
                        <button class="btn-underline" @click="showCalendar">Edit</button>
                    </div>
                    <div class="book-room_container__main__left__info__item">
                        <div class="book-room_container__main__left__info__item__detail">
                            <h3 class="book-room_container__main__left__info__item__detail__label">Guests</h3>
                            <span class="book-room_container__main__left__info__item__detail__value">{{guestLabel}}</span>
                        </div>
                        <button class="btn-underline" @click="showDropdownGuest">Edit</button>
                    </div>
                </div>
                <hr>
                <div v-if="$auth.loggedIn">
                    <!-- <div class="book-room_container__main__left__pay">
                        <div class="book-room_container__main__left__pay__method">
                            <h2 class="book-room_container__main__left__pay__method__header header-text">Pay with</h2>
                            <div class="book-room_container__main__left__pay__method__logo">
                                <img src="~assets/img/momo-logo.png" alt="" height="30">
                            </div>
                        </div>
                        <div class="book-room_container__main__left__pay__dropdown">
                            <button class="book-room_container__main__left__pay__dropdown__btn">
                                <div class="book-room_container__main__left__pay__dropdown__btn__inside">
                                    <img src="~assets/img/momo-logo.png" alt="" height="24px"
                                        class="book-room_container__main__left__pay__dropdown__btn__inside__img">
                                    <span class="book-room_container__main__left__pay__dropdown__btn__inside__label">Momo pay</span>
                                    <b-icon class="book-room_container__main__left__pay__dropdown__btn__inside__icon" icon="chevron-down">
                                    </b-icon>
                                </div>
                            </button>
                        </div>
                    </div>
                    <button class="book-room_container__main__left__coupon btn-underline">Enter a coupon</button>
                    <hr> -->
                    <div class="book-room_container__main__left__message">
                        <h2 class="book-room_container__main__left__message__header header-text">Required for your trip</h2>
                        <div class="book-room_container__main__left__message__section">
                            <p class="book-room_container__main__left__message__section__title">Message the Host</p>
                            <p>Let the Host know why you're traveling and when you'll check in.</p>
                            <div class="book-room_container__main__left__message__section__host">
                                <div class="book-room_container__main__left__message__section__host__container">
                                    <div class="book-room_container__main__left__message__section__host__container__img">
                                        <img v-if="home.user?.avatar" :src="home.user?.avatar" alt="">
                                        <img v-else src="https://a0.muscache.com/defaults/user_pic-225x225.png?v=3" alt="">
                                    </div>
                                    <div class="book-room_container__main__left__message__section__host__container__info">
                                        <div class="book-room_container__main__left__message__section__host__container__info__name">
                                            {{home.user?.name}}</div>
                                        <div class="book-room_container__main__left__message__section__host__container__info__date">Joined in 2021</div>
                                    </div>
                                </div>
                            </div>
                            <textarea rows="5" class="book-room_container__main__left__message__section__content"></textarea>
                        </div>
                    </div>
                    <hr>
                    <div class="book-room_container__main__left__cancel-book">
                        <h2 class="book-room_container__main__left__cancel-book__header header-text">Cancellation policy</h2>
                        <p class="book-room_container__main__left__cancel-book__info">
                            <strong>Free cancellation before Oct 31.</strong>
                            <span>Cancel before check-in on Nov 5 for a partial refund.</span>
                            <button class="book-room_container__main__left__cancel-book__btn btn-underline">Learn more</button>
                        </p>
                    </div>
                    <hr>
                    <div class="book-room_container__main__left__confirm-rules">
                        By selecting the button below, I agree to the <span>Host's House Rules</span>, <span>Europhia's Rebooking and Refund
                            Policy</span>, and that Airbnb can <span>charge my payment method</span> if I’m responsible for damage.
                    </div>
                    <div class="book-room_container__main__left__confirm-pay">
                        <button class="book-room_container__main__left__confirm-pay__btn-pay"
                            @click="bookRoom">Confirm and pay</button>
                    </div>
                </div>
                <div v-else>
                    <h2 class="header-text">Log in to book</h2>
                    <login-signup-body :isLogin="true" :showTitle=false class="login" />
                </div>
            </div>
            <div class="book-room_container__main__right">
                <div class="book-room_container__main__right__room">
                    <div class="book-room_container__main__right__room__img-container">
                        <img class="book-room_container__main__right__room__img-container__img" v-if="home?.listImages?.length" :src="home.listImages[0]" alt="">
                    </div>
                    <div class="book-room_container__main__right__room__info">
                        <div class="book-room_container__main__right__room__info__general">
                            <p class="book-room_container__main__right__room__info__general__type">Entire {{home.category?.title}}</p>
                            <p class="book-room_container__main__right__room__info__general__title">{{home.name}}</p>
                        </div>
                        <div class="book-room_container__main__right__room__info__rating">
                            <b-icon icon="star-fill"></b-icon>
                            <span v-if="rating.reviewResponses?.length !== 0">
                                <span class="book-room_container__main__right__room__info__rating__point">{{ ratingTotal.toFixed(2) }}</span>
                                <span class="book-room_container__main__right__room__info__rating__review">({{rating.reviewResponses?.length}})</span>
                            </span>
                            <span v-else>New</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="book-room_container__main__right__secure">
                    <p class="book-room_container__main__right__secure__title">
                        Your booking is protected by 
                        <span>
                            <img src="~/assets/img/logo.png" alt="" width="120px" height="80px">
                        </span>
                    </p>
                </div>
                <hr>
                <div class="book-room_container__main__right__price">
                    <h2 class="book-room_container__main__right__price__title header-text">Price details</h2>
                    <div class="book-room_container__main__right__price__detail flex-box">
                        <div class="book-room_container__main__right__price__detail__label">${{home.price}} x {{nights}} nights</div>
                        <div class="book-room_container__main__right__price__detail__money">${{ calBookPrice }}</div>
                    </div>
                    <!-- <div class="book-room_container__main__right__price__fee flex-box">
                        <div class="book-room_container__main__right__price__fee__label">Sevice fee</div>
                        <div class="book-room_container__main__right__price__fee__money">${{home.priceService}}</div>
                    </div> -->
                    <hr>
                    <div class="book-room_container__main__right__price__total flex-box">
                        <div class="book-room_container__main__right__price__total__label">Total</div>
                        <div class="book-room_container__main__right__price__total__money">${{ calTotalPrice }}</div>
                    </div>
                </div>
            </div>
        </div>
        <full-modal v-if="isShowCalendar" v-scroll-lock="isShowCalendar">
            <div class="popover-calendar" >
                <div v-click-outside="showCalendar">
                    <button class="popover-calendar__btn-close" @click="showCalendar">
                        <b-icon icon="x-lg" scale="0.8"></b-icon>
                    </button>
                    <Calendar class="popover-calendar__calendar-container" :isPopup="true" :isShowCalendar="isShowCalendar"
                        :range="range" @show-calendar="showCalendar" @send-date="onDateChange" btnText="Save" />
                </div>
            </div>
        </full-modal>
        
        <full-modal v-if="isShowDropdownGuest" v-scroll-lock="isShowDropdownGuest">
            <div class="popover-calendar" >
                <div v-click-outside="showDropdownGuest">
                    <button class="popover-calendar__btn-close position-left" @click="showDropdownGuest">
                        <b-icon icon="x-lg" scale="0.8"></b-icon>
                    </button>
                    <div class="guest-popup">
                        <h2 class="header-text">Guests</h2>
                        <p class="guest-popup__info">This place has a maximum of 6 guests, not including infants.</p>
                        <div class="guest-popup__group">
                            <div class="guest-popup__group__left">
                                <span class="guest-popup__group__left__title">Adults</span>
                                <span>Age 13+</span>
                            </div>
                            <div class="guest-popup__group__right">
                                <button class="guest-popup__group__right__button" :class="guests.adults === 1 ? 'disabled' : ''"
                                    @click="handleGuest('adult', '-')">
                                    <b-icon icon="dash" font-scale="1.25"></b-icon>
                                </button>
                                <span class="guest-popup__group__right__num">{{guests.adults}}</span>
                                <button class="guest-popup__group__right__button" @click="handleGuest('adult', '+')">
                                    <b-icon icon="plus" font-scale="1.25"></b-icon>
                                </button>
                            </div>
                        </div>
                        <div class="guest-popup__group">
                            <div class="guest-popup__group__left">
                                <span class="guest-popup__group__left__title">Children</span>
                                <span>Ages 2-12</span>
                            </div>
                            <div class="guest-popup__group__right">
                                <button class="guest-popup__group__right__button" :class="guests.children === 0 ? 'disabled' : ''"
                                    @click="handleGuest('children', '-')">
                                    <b-icon icon="dash" font-scale="1.25"></b-icon>
                                </button>
                                <span class="guest-popup__group__right__num">{{guests.children}}</span>
                                <button class="guest-popup__group__right__button" @click="handleGuest('children', '+')">
                                    <b-icon icon="plus" font-scale="1.25"></b-icon>
                                </button>
                            </div>
                        </div>
                        <div class="guest-popup__group">
                            <div class="guest-popup__group__left">
                                <span class="guest-popup__group__left__title">Infants</span>
                                <span>Under 2</span>
                            </div>
                            <div class="guest-popup__group__right">
                                <button class="guest-popup__group__right__button" :class="guests.infants === 0 ? 'disabled' : ''"
                                    @click="handleGuest('infant', '-')">
                                    <b-icon icon="dash" font-scale="1.25"></b-icon>
                                </button>
                                <span class="guest-popup__group__right__num">{{guests.infants}}</span>
                                <button class="guest-popup__group__right__button" @click="handleGuest('infant', '+')">
                                    <b-icon icon="plus" font-scale="1.25"></b-icon>
                                </button>
                            </div>
                        </div>
                        <div class="guest-popup__group">
                            <div class="guest-popup__group__left">
                                <span class="guest-popup__group__left__title">Pets</span>
                                <span>Bringing a service animal?</span>
                            </div>
                            <div class="guest-popup__group__right">
                                <button class="guest-popup__group__right__button" :class="guests.pets === 0 ? 'disabled' : ''"
                                    @click="handleGuest('pet', '-')">
                                    <b-icon icon="dash" font-scale="1.25"></b-icon>
                                </button>
                                <span class="guest-popup__group__right__num">{{guests.pets}}</span>
                                <button class="guest-popup__group__right__button" @click="handleGuest('pet', '+')">
                                    <b-icon icon="plus" font-scale="1.25"></b-icon>
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div class="guest-popup__btn-container">
                            <button class="guest-popup__btn-container__cancel btn-underline"
                                @click="showDropdownGuest">Cancel</button>
                            <button class="guest-popup__btn-container__save btn-primary" @click="changeGuestLabel">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </full-modal>
        
        <full-modal v-if="isRequestSent && booking" v-scroll-lock="toggleRequestSuccess">
            <request-booking-popup :booking="booking" />
        </full-modal>
    </div>
</template>

<script lang="ts">
import Calendar from '../../../components/Calendar.vue';
import FullModal from '~/argon-component/FullModal.vue';

import { Vue, Component, Prop } from 'nuxt-property-decorator';

import { Home } from '~/modals/Home/Home'
import { plainToClass } from 'class-transformer';
import { Booking } from '~/modals/Booking/Booking';
import TopHeader from '../../../components/Booking/TopHeader.vue'
import RequestBookingPopup from '../../../components/Booking/RequestBookingPopup.vue'
import LoginSignupBody from '../../../components/LoginSignupBody.vue'
import moment from 'moment'
import { Rating } from '~/modals/Home/Rating';

@Component({
    layout: "logo-only",
    components: {
        Calendar, FullModal, TopHeader, RequestBookingPopup, LoginSignupBody
    }
})
export default class BookingPage extends Vue {
    range = { start: new Date(), end: new Date() }
    isShowCalendar = false
    isShowDropdownGuest = false
    guests = {
        adults: 1,
        children: 0,
        infants: 0,
        pets: 0,
    }
    guestLabel = ''
    home: Home = {}
    booking: Booking = {}
    isRequestSent = false
    rating: Rating = {} 

    created() {
        let checkin = this.$route.query.checkin
        let checkout = this.$route.query.checkout
        
        this.range = {
            start: new Date(String(checkin)),
            end: new Date(String(checkout))
        }

        this.guests.adults = Number(this.$route.query.numberOfAdults)
        this.guests.children = Number(this.$route.query.numberOfChildren)
        this.guests.infants = Number(this.$route.query.numberOfInfants)
        this.guests.pets = Number(this.$route.query.numberOfPets)
        
        this.guestLabel = this.setGuestLabel
    }

    get ratingTotal() {
        return (Number(this.rating.cleanliness) + Number(this.rating.accuracy) + Number(this.rating.communication) + Number(this.rating.location) + Number(this.rating.checkIn) + Number(this.rating.value)) / Number(this.rating.reviewResponses?.length) / 6
    }

    changeDateFormat(date, type) {
        return moment(date).format(type)
    }

    get getDateLabel() {
        if (!this.range.start && !this.range.end) return '';
        return `${this.changeDateFormat(this.range.start, "MMM DD")} - ${this.changeDateFormat(this.range.end, "MMM DD")}`;
    }

    async asyncData({ $api, params, error }) {
        let home: Home = {}
        let rating: Rating = {}

        try {
            const response = await $api.home.getHomeDetail(params.slug)
            home = plainToClass(Home, response.data.data)
            const res = await $api.rating.getRatingHome(params.slug)
            rating = plainToClass(Rating, res.data.data)
        } catch (err) {
            error({ statusCode: 404, message: 'Not Found' })
            console.log(err);
        }
        return { home, rating }
    }

    get nights() {
        var time = new Date(this.range.end).getTime() - new Date(this.range.start).getTime()
        return (time / (1000 * 3600 * 24)).toFixed(0)
    }

    get calBookPrice() {
        return Number(this.home?.price) * Number(this.nights);
    }

    get calTotalPrice() {
        return Number(this.calBookPrice) + Number(this.home.priceService);
    }

    showCalendar() {
        this.isShowCalendar = !this.isShowCalendar;
    }

    onDateChange(dates) {
        this.range = dates
    }

    showDropdownGuest() {
        this.isShowDropdownGuest = !this.isShowDropdownGuest;
    }

    changeGuestLabel() {
        this.isShowDropdownGuest = false;
        this.guestLabel = this.setGuestLabel
    }

    calculate(value, operation) {
        if (operation === "+") return ++value;
        if (operation === "-") return --value;
    }

    handleGuest(guest, operation) {
        if (guest === 'adult') {
            this.guests.adults = Number(this.calculate(this.guests.adults, operation))
        } else if (guest === 'children') {
            this.guests.children = Number(this.calculate(this.guests.children, operation))
        } else if (guest === 'infant') {
            this.guests.infants = Number(this.calculate(this.guests.infants, operation))
        } else if (guest === 'pet') {
            this.guests.pets = Number(this.calculate(this.guests.pets, operation))
        }
    }

    get setGuestLabel() {
        let label = '1 guest';
        let guestNum = this.guests.adults + this.guests.children;

        if (guestNum > 1) label = `${guestNum} guests`;
        if (this.guests.infants != 0) {
            if (this.guests.infants === 1) label += `, ${this.guests.infants} infant`;
            else label += `, ${this.guests.infants} infants`;
        }
        if (this.guests.pets != 0) {
            if (this.guests.pets === 1) label += `, ${this.guests.pets} pet`;
            else label += `, ${this.guests.pets} pets`;
        }
        return label
    }

    async bookRoom() {
        const data = {
            home_id: this.home.id,
            check_in_date: this.changeDateFormat(this.range.start, "YYYY-MM-DD"),
            check_out_date: this.changeDateFormat(this.range.end, "YYYY-MM-DD"),
            num_of_adults: this.guests.adults,
            num_of_children: this.guests.children,
            num_of_babies: this.guests.infants,
            num_of_pets: this.guests.pets,
            return_url: '/'
        }

        try {
            const response = await this.$api.booking.bookingRoom(data);
            this.booking = plainToClass(Booking, response.data.data);
            // this.toggleRequestSuccess();
            // console.log(this.booking);
        } catch (err) {
            console.log(err);
        } 
    }

    toggleRequestSuccess() {
        if (this.booking) {
            this.isRequestSent = true
        } else {
            this.isRequestSent = false
        }
    }

}
</script>

<style lang="scss" scoped>
.login {
    margin-top: 30px !important;
    padding: 0 !important;
}
.guest-popup {
    position: absolute;
    background: #fff;
    border-radius: 12px;
    padding: 64px 32px 16px;
    width: 450px;
    z-index: 201;
    top: 74px;
    right: 432px;
    min-height: 530px;

    &__info {
        font-size: 14px;
        line-height: 16px;
        margin: 24px 0;
        color: rgb(113, 113, 113);
    }

    &__group {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 15px;
        margin-top: 8px;

        &__left {
            display: flex;
            flex-direction: column;
            width: 50%;

            &__title {
                font-weight: 600;
                font-size: 17px;
                margin-bottom: 5px;
            }
        }

        &__right {
            &__button {
                background-color: transparent;
                border-radius: 50%;
                border: 1px solid rgb(176, 176, 176);
                height: 32px;
                width: 32px;
                padding: 5px;

                &:hover {
                    border-color: rgb(34, 34, 34);
                }

                &:focus {
                    border-color: rgb(34, 34, 34);
                }
            }

            .disabled {
                cursor: not-allowed;
                color: rgb(235, 235, 235);
                border-color: rgb(235, 235, 235);
            }

            &__num {
                display: inline-block;
                font-size: 20px;
                margin: 0 5px;
                width: 10px;
            }
        }
    }

    &__btn-container {
        display: flex;
        padding: 16px 0;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        line-height: 20px;
        font-weight: 600;

        &__save {
            margin: 0;
            text-align: center;
            text-decoration: none;
            border-radius: 8px;
            outline: none;
            border: none;
            padding: 14px 24px;
            color: #fff;
            background: #222222;

            &:hover {
                background: #000;
            }
        }
    }
}

.popover-calendar{
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__btn-close {
        position: absolute;
        left: 377px;
        top: 94px;
        z-index: 202;
        appearance: none;
        border-radius: 50%;
        border: none;
        outline: none;
        margin: 0px;
        color: rgb(34, 34, 34);
        background: transparent;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: rgb(247, 247, 247);
        }
    }

    &__calendar-container{
        position: absolute;
        background: #fff;
        border-radius: 12px;
        padding: 64px 32px 16px;
        width: 680px;
        z-index: 201;
        top: 74px;
        right: 332px;
        min-height: 530px;
    }
}

.position-left {
    left: 507px;
    top: 94px;
}

.header-text {
    font-size: 25px;
    line-height: 26px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.book-room_container{
    color: rgb(34, 34, 34);
    font-size: 16px;
    line-height: 20px;
    padding: 80px 100px;

    &__main {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 12px;

        &__left {
            position: relative;
            width: 50%;
            margin-left: 0%;
            margin-right: 0%;

            &__info {
                &__item {
                    padding-bottom: 24px;
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;

                    &__detail {
                        &__label {
                            font-weight: 600;
                            font-size: 18px;
                            line-height: inherit;
                            margin: 0;
                            padding: 0;
                        }

                        &__value {
                            display: block;
                            margin-top: 8px;
                        }
                    }
                }
            }

            &__pay {
                margin-top: 34px;
                margin-bottom: 24px;

                &__method {
                    display: flex;
                    margin-bottom: 24px;

                    &__header {
                        margin-right: 24px;
                    }

                    &__logo {
                        flex: 1 1 0%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }
                }

                &__dropdown {
                    position: relative;
                    z-index: 3;

                    &__btn {
                        width: 100%;
                        background: #fff;
                        margin: 0;
                        padding: 0;
                        text-align: left;
                        outline: none;
                        transition: border 150ms ease-out 0s;
                        border-radius: 8px;
                        border: 1px solid rgb(176, 176, 176);

                        &:hover {
                            border: 1px solid rgb(216, 216, 216);
                        }

                        &__inside{
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: normal;
                            color: rgb(72, 72, 72);
                            padding: 16px 40px 16px 16px;
                            font-weight: normal;
                            cursor: pointer;
                            display: block;
                            position: relative;
                            text-align: left;
                            width: 100%;
                            overflow-wrap: break-word;

                            &__img {
                                float: left;
                                margin-right: 16px;
                            }

                            &__label {
                                width: 100%;
                                vertical-align: middle;
                            }

                            &__icon {
                                position: absolute;
                                top: 0;
                                right: 20px;
                                height: 100%;
                            }
                        }
                    }
                }
            }

            &__coupon {
                padding-bottom: 24px;
            }

            &__message {
                padding-top: 32px;
                padding-bottom: 24px;

                &__header{
                    margin-bottom: 16px;
                }

                &__section {
                    &__title {
                        font-weight: 600;
                        margin: 0;
                        margin-bottom: 5px;
                    }

                    &__content {
                        display: block;
                        min-width: 100%;
                        max-width: 100%;
                        box-sizing: border-box;
                        background-color: transparent;
                        padding: 12px;
                        line-height: 18px;
                        font-weight: 400;
                        box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
                        color: rgb(34, 34, 34);
                        border-radius: 8px;
                        border: none;
                        appearance: none;

                        &:focus {
                            box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset;
                        }
                    }

                    &__host {
                        font-size: 14px;
                        line-height: 18px;
                        color: rgb(34, 34, 34);
                        padding: 16px 0 32px;

                        &__container {
                            display: flex;

                            &__img {
                                border-radius: 50%;
                                width: 42px;
                                height: 42px;
                                flex-grow: 0;
                                flex-shrink: 0;
                                overflow: hidden;
                                min-height: 1px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    vertical-align: bottom;
                                }
                            }

                            &__info {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                padding-left: 16px;
                                overflow-wrap: anywhere;
                                font-size: 16px;
                                line-height: 20px;

                                &__name {
                                    font-weight: 600;
                                }

                                &__date {
                                    white-space: pre-wrap;
                                    font-size: 14px;
                                    line-height: 18px;
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }
            }

            &__cancel-book {
                margin-top: 32px;
                margin-bottom: 32px;

                &__header{
                    margin-bottom: 24px;
                }
            }

            &__confirm-rules {
                padding-top: 32px;
                margin-top: 8px;
                margin-bottom: 8px;
                line-height: 16px;
                font-size: 14px;

                span {
                    text-decoration: underline;
                    font-weight: 600;
                    text-align: start;
                    outline: none;
                    background: transparent;
                    border: 0;
                    cursor: pointer;
                }
            }

            &__confirm-pay {
                padding-top: 24px;
                padding-bottom: 24px;

                &__btn-pay {
                    background: linear-gradient(to right, #008689 0%,
                        #01aeb1 100%,
                        #01aeb1 50%);
                    border: none;
                    color: #fff;
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: 600;
                    border-radius: 8px;
                    padding: 16px 32px;

                    &:hover {
                        background: linear-gradient(to left, #008689 0%,
                            #01aeb1 100%,
                            #01aeb1 50%);
                    }
                }
            }
        }

        &__right {
            position: sticky;
            top: 80px;
            z-index: 1;
            width: 40%;
            margin-left: 8.3%;
            margin-right: 0%;
            display: inline-block;
            padding: 24px;
            border: 1px solid rgb(221, 221, 221);
            border-radius: 12px;
            height: fit-content;

            &__room {
                display: flex;

                &__img-container {
                    width: 180px;
                    height: 106px;
                    border-radius: 8px;

                    &__img {
                        object-fit: cover;
                        vertical-align: bottom;
                        height: 100%;
                        width: 100%;
                        border-radius: 8px;
                    }
                }

                &__info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-left: 12px;

                    &__general {
                        &__type {
                            font-size: 13px;
                            line-height: 16px;
                            color: rgb(113, 113, 113);
                            padding: 0;
                            margin: 0;
                        }

                        &__title {
                            font-size: 15px;
                            line-height: 18px;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            word-break: break-word;
                            margin-top: 4px;
                        }
                    }

                    &__rating {
                        font-size: 15px;
                        line-height: 16px;
                        font-weight: 400;

                        &__point {
                            color: rgb(34 34 34);
                            padding-left: 4px;
                            font-weight: 600;
                        }

                        &__review {
                            color: rgb(113, 113, 113);
                        }
                    }
                }
            }

            &__secure {
                
                &__title {
                    font-size: 17px;
                    line-height: 20px;
                    padding: 0;
                    margin: 0;

                    img {
                        margin-top: -5px;
                    }
                }
            }

            &__price {
                font-size: 18px;
                line-height: 20px;
                color: rgb(34 34 34);

                &__title {
                    margin-bottom: 20px;
                }

                &__fee {
                    margin-bottom: 26px;

                    &__label {
                        font-weight: 400 !important;
                    }
                }

                &__total {
                    font-weight: 600;
                    margin-top: 26px;
                    margin-bottom: 0;
                }
            }
        }
    }

}

.host-img {
    height: 56px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;

    img {
        object-fit: cover;
        vertical-align: bottom;
        height: 100%;
        width: 100%;
        position: static;
        border-radius: 50%;
    }
}

</style>