<template>
    <div class="card-container">
        <nuxt-link :to="card.link" class="card-container__link">
            <div class="card-container__link__content">
                <div class="card-container__link__content__icon">
                    <img :src="require(`~/assets/icons/${card.icon}`)" height="32" width="32" alt="">
                </div>
                <div class="card-container__link__content__info">
                    <h6 class="card-container__link__content__info__title">{{card.label}}</h6>
                    <p class="card-container__link__content__info__desc">{{card.description}}</p>
                </div>
            </div>
        </nuxt-link>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';

@Component({

})
export default class AccountSettingCard extends Vue {
    @Prop({ type: Object, required: false, default: () => ([]) }) card!: Object;
}
</script>

<style lang="scss" scoped>
.card-container {
    padding: 0 8px;
    width: 33.3%;

    &__link {
        background: transparent;
        color: #222222;
        margin: 0;
        padding: 0;
        text-decoration: none;
        width: 100%;
        height: 100%;

        &__content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            min-height: 156px;
            box-shadow: 0px 6px 16px rgb(0 0 0 / 12%);
            margin: 8px 0;
            padding: 16px;
            border-radius: 12px;
            text-decoration: none;

            &__icon {
                margin-bottom: 20px;
            }

            &__info {
                &__title {
                    font-size: 17px;
                    line-height: 20px;
                    font-weight: 600;
                    height: auto;
                    margin-bottom: 8px;
                }

                &__desc{
                    font-size: 15px;
                    line-height: 18px;
                    color: #717171;
                    font-weight: 400;
                }
            }
        }
    }
}
</style>