<template>
    <div>
        <div class="popup-calendar__info">
            <div class="popup-calendar__info__detail" v-if="Number(nights) > 0">
                <span class="popup-calendar__info__detail__night">{{nights}} nights <span v-if="!isPopup">in {{ addressDetail }}</span></span>
                <span class="popup-calendar__info__detail__date">
                    {{startDateLabelType2}} - {{endDateLabelType2}}
                </span>
            </div>
            <div class="popup-calendar__info__detail" v-else>
                <span class="popup-calendar__info__detail__night">Select dates</span>
                <span class="popup-calendar__info__detail__date">
                    Add your travel dates for exact pricing
                </span>
            </div>
            <div class="popup-calendar__info__dateinput" v-if="isPopup">
                <button @click="$emit('show-calendar', isShowCalendar)">
                    <div class="date-checkin">
                        <div class="uppercase">check-in</div>
                        <input
                            :value="startDateLabelType1"
                            placeholder="Add date"
                            readonly
                        />
                    </div>
                </button>
                <button @click="$emit('show-calendar', isShowCalendar)">
                    <div>
                        <div class="uppercase">checkout</div>
                        <input
                            :value="endDateLabelType1"
                            placeholder="Add date"
                            readonly
                        />
                    </div>
                </button>
            </div>
        </div>
        <vc-date-picker
            v-model="range"
            is-expanded
            is-range
            :columns=2
            @input="onDateChange"
        ></vc-date-picker>
        <div class="popup-calendar__bottom">
            <button v-if="btnText === 'Close'" class="popup-calendar__bottom__btn-clear" @click="clearDates">Clear dates</button>
            <button class="popup-calendar__bottom__btn-close btn-primary" @click="handleCloseSave" v-if="isPopup">{{btnText}}</button>
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import moment from 'moment'
import getNumOfNight from 'num-of-nights'

@Component({
    components: {
    }
})
export default class Calendar extends Vue {
    @Prop({ type: Boolean}) isPopup!: Boolean;
    @Prop({ type: Boolean }) isShowCalendar!: Boolean;
    @Prop({ type: Object }) range!: any;
    @Prop({ type: String }) btnText!: String;
    @Prop({ type: String }) address!: String;

    changeDateFormat(date, type) {
        return moment(date).format(type)
    }

    get addressDetail() {
        return this.address.split(',')[0]
    }

    get startDateLabelType1() {
        if (!this.range.start) return '';
        return this.changeDateFormat(this.range.start, "DD/MM/YYYY");
    }

    get endDateLabelType1() {
        if (!this.range.end) return '';
        return this.changeDateFormat(this.range.end, "DD/MM/YYYY");
    }

    get startDateLabelType2() {
        if (!this.range.start) return '';
        return this.changeDateFormat(this.range.start, "MMM DD, YYYY");
    }

    get endDateLabelType2() {
        if (!this.range.end) return '';
        return this.changeDateFormat(this.range.end, "MMM DD, YYYY");
    }

    get nights() {
        var time = new Date(this.range.end).getTime() - new Date(this.range.start).getTime()
        return getNumOfNight(time)
    }

    clearDates() {
        this.range.start = new Date();
        this.range.end = new Date();
        this.$emit('date-change', this.range); 
    }

    onDateChange() {
        this.$emit('date-change', this.range);
    }

    handleCloseSave() {
        if (this.btnText === "Close") {
            this.$emit('show-calendar', this.isShowCalendar)
        }
        if (this.btnText === 'Save') {
            this.$emit('send-date', this.range);
            this.$emit('show-calendar', this.isShowCalendar)
        }
    }
}
</script>

<style lang="scss" scoped>
.uppercase {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
}
.popup-calendar{
    position: absolute;
    right: -10px;
    top: 60px;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 20%) 0 6px 20px;
    padding: 24px 32px 16px;
    width: 700px;
    z-index: 1;
    min-height: 460px;
    border-radius: 16px;

    &__info {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 24px;
        
        &__detail {
            display: flex;
            flex-direction: column;

            &__night {
                font-weight: 600;
                font-size: 1.5rem;
                margin-bottom: 10px;
            }
        }

        &__dateinput {
            display: flex;
            justify-content: flex-end;
            width: 51%;

            button {
                display: flex;
                width: 100%;
                text-align: left;
                padding: 10px;
                background: transparent;
                border: 2px solid rgb(0, 0, 0);

                &:first-child {
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    border-right: none;
                }

                &:last-child {
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                    border-left: 1px solid rgba(0, 0, 0, 0.3);;
                }

                input {
                    border: none;
                    width: 100%;
                    cursor: pointer;
                }
            }
        }
    }

    &__bottom {
        float: right;
        margin-top: 24px;

        &__btn-close {
            border: none;
            background-color: #222222;
            color: #fff;
            padding: 8px 16px;
            border-radius: 8px;

            &:hover {
                background-color: #000;
            }
        }

        &__btn-clear {
            border: none;
            background-color: transparent;
            padding: 8px 16px;
            text-decoration: underline;
            color: #222222;

            &:hover {
                color: #000;
            }
        }
    }
}
</style>