<template>
  <nuxt-link :to="onGoToDetail(item)" class="card-item" v-if="!isLoading">
    <div @mouseover="handleHover" @mouseleave="handleLeave">
      <b-carousel class="card-item__carousel" ref="carousel1" v-model="slide" :interval="0" :indicators="isHover"
        :controls="isHover" background="#ababab" img-width="300" img-height="300"
        style="text-shadow: 1px 1px 2px #333; border-radius: 15px; overflow: hidden;" @sliding-start="onSlideStart"
        @sliding-end="onSlideEnd">
    
        <!-- Slides with image only -->
        <!-- <b-carousel-slide class="bg-design" :img-height="300" v-for="img in item.images1" :key="img.id" :img-src="img.image">
            </b-carousel-slide> -->
        <b-carousel-slide v-if="item?.listImages?.length === 0">
          <template #img>
            <img class="img-carousel d-block w-100" width="1024" height="300" src="https://upload.wikimedia.org/wikipedia/commons/f/fc/No_picture_available.png" alt="image slot">
          </template>
        </b-carousel-slide>
        <b-carousel-slide v-else v-for="(img, index) in item.listImages" :key="index">
          <template #img>
            <img class="img-carousel d-block w-100" width="1024" height="300" :src="img" alt="image slot">
          </template>
        </b-carousel-slide>
      </b-carousel>
    </div>
    <div class="card-item__info d-flex flex-row justify-content-between position-relative">
      <div class="card-item__info__left d-flex flex-column justify-content-between">
        <div class="card-item__info__left__title">
          <span>{{item.address}}</span>
        </div>
        <div class="card-item__info__left__distance">
          <span>4000 kilometers</span>
        </div>
        <div class="card-item__info__left__time">
          <span>{{changeDate(item.startAt)}} - {{changeDate(item.endAt)}}</span>
        </div>
        <div class="card-item__info__left__price">
          <span>${{item.price}}</span>
          <span>night</span>
        </div>
      </div>
    
      <div class="card-item__info__right d-flex flex-row">
        <img class="card-item__info__right__icon-star" src="~/assets/icons/star-solid.svg" alt="">
        <div class="card-item__info__right__vote"><span>New</span></div>
      </div>
    
      <div class="card-item__like" @click.prevent="handleLike">
        <img src="~/assets/icons/heart-solid.svg" alt="" v-if="isLiked">
        <img src="~/assets/icons/heart-regular.svg" alt="" v-else>
      </div>
    </div>
  </nuxt-link>
</template>

<script lang="ts">
import moment from 'moment'
import { Vue, Component, Prop } from 'nuxt-property-decorator';

import {Home} from '~/modals/Home/Home'
@Component({

})
export default class CardItem extends Vue {
  @Prop({ type: Home, required: false}) item!: Home;
  slide: Number = 0;
  sliding: Boolean = false
  isHover: Boolean = false;
  isLiked: Boolean = false;
  isLoading: Boolean = false;

  changeDateFormat(date, type) {
    return moment(date).format(type)
  }

  changeDate(date) {
    if (!date) return '';
    return this.changeDateFormat(date, "MMM DD");
  }

  mounted(){
    this.isLoading = true;
    this.$nextTick(() => {
      setTimeout(() => {
        this.isLoading = false;
      }, 1000)
    })
  }

  onSlideStart(slide) {
    this.sliding = true
  }
  onSlideEnd(slide) {
    this.sliding = false
  }
  handleHover(e) {
    this.isHover = true;
  }

  handleLeave(e) {
    this.isHover = false;
  }

  handleLike() {
    this.isLiked = !this.isLiked;
  }

  onGoToDetail(item) {
    return this.localePath({ name: 'rooms-slug', params: { slug: item.id } })
  }
 
     
}
</script>

<style lang="scss" scoped>
.card-item {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  cursor: pointer;
  height: 100%;
  max-width: 1fr;
  flex: 0 0 100%;

  &__carousel {
    margin-bottom: 12px;
  }

  &__like {
    position: absolute;
    height: 20px;
    width: 20px;
    bottom: 8px;
    right: 0px;
  }

  &__info {

    &__left {
      &__title {
        font-size: 17px;
        line-height: 24px;
        font-weight: 700;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        word-break: break-all;
        overflow: clip;
      }

      &__distance {
        font-size: 17px;
        line-height: 24px;
        font-weight: 500;
      }

      &__time {
        font-size: 17px;
        line-height: 24px;
        font-weight: 500;
      }

      &__price {

        span {
          &:first-child {
            font-size: 19px;
            line-height: 24px;
            font-weight: 600;
          }

          &:last-child {
            font-size: 17px;
            line-height: 24px;
            font-weight: 500;
          }
        }
      }
    }

    &__right {
      display: flex;
      flex-direction: row;

      &__icon-star {
        width: 14px;
        height: 24px;
        margin-right: 4px;
      }

      &__vote {
        font-size: 17px;
        line-height: 24px;
        font-weight: 500;
      }
    }
  }
}
.img-carousel{
  object-fit: cover
}
</style>
