<template>
  <div class="footer">
    <div class="footer-bar container">
      <div class="footer-bar__left">
        <span class="footer-bar__left__author">© 2022 Airbnb, Inc.</span>
        <img class="dot-separate" src="~/assets/icons/circle-solid.svg" alt="">
        <span class="footer-bar__left__privacy"> Privacy</span>
        <img class="dot-separate" src="~/assets/icons/circle-solid.svg" alt="">
        <span class="footer-bar__left__terms"> Terms</span>
      </div>

      <div class="footer-bar__right">
        <div class="footer-bar__right__choose-language">
          <img class="footer-bar__right__choose-language__img" src="~/assets/icons/globe-solid.svg" alt="">
          <nuxt-link class="footer-bar__right__choose-language__link" to="/">English (US)</nuxt-link>
        </div>
        <div class="footer-bar__right__currency">
          <img class="footer-bar__right__currency__img" src="~/assets/icons/dollar-sign-solid.svg" alt="">
          <nuxt-link class="footer-bar__right__currency__link" to="/">USD</nuxt-link>
        </div>

        <div class="footer-bar__right__support">
          <nuxt-link class="footer-bar__right__currency__link" to="/">Support & resources</nuxt-link>
          <img class="footer-bar__right__currency__img" src="~/assets/icons/angle-up-solid.svg" alt="">
        </div>
      </div>
    </div>
  </div>

</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';

@Component({

})
export default class FooterBar extends Vue {

}
</script>

<style lang="scss" scoped>
.footer {
  position: fixed !important;
  bottom: 0;
  height: 50px;
  background-color: #ffffff;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  z-index: 200;
  border-top: 1px solid rgb(235, 235, 235);

  .footer-bar {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    &__left {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;


      &__author {}

      &__privacy {}

      &__terms {}
    }

    &__right {
      display: flex;
      flex-direction: row;

      &__choose-language {
        padding: 10px;

        &__img {
          cursor: pointer;
          width: 20px;
          height: 20px;
        }

        &__link {}
      }

      &__currency {
        padding: 10px;

        &__img {
          cursor: pointer;
          width: 20px;
          height: 20px;
        }

        &__link {}
      }

      &__support {
        padding: 10px;

        &__img {
          cursor: pointer;
          width: 20px;
          height: 20px;
        }

        &__link {}
      }
    }
  }
}


.dot-separate {
  height: 5px;
  width: 5px;
  margin: 0px 8px;
}
</style>
