<template>
    <div class="header-container">
        <div class="header-container__nav">
            <nuxt-link :to="header_link" class="header-container__nav__account">{{header}}</nuxt-link>
            <b-icon icon="chevron-right" scale="0.8" class="header-container__nav__icon"></b-icon>
            <span class="header-container__nav__title">{{title}}</span>
        </div>
        <h1 class="header-container__title">{{title}}</h1>
    </div>
</template>

<script lang="ts">
    import { Component, Vue, Prop } from 'nuxt-property-decorator';

    @Component
    export default class HeaderForAccountSettingItem extends Vue {
        @Prop({ type: String, required: true }) title!: String;
        @Prop({ type: String, required: true }) header!: String;
        @Prop({ type: String, required: true }) header_link!: String;
    }
</script>

<style lang="scss" scoped>
.header-container {
    margin: 40px 0;
    
    &__nav {
        font-weight: 600;
        line-height: 1.28571rem;
        color: rgb(72, 72, 72);

        &__account {
            color: inherit;
        }

        &__icon {
            margin: 0 16px;
        }
    }

    &__title {
        margin-top: 20px;
        padding: 0;
        font-size: 32px;
        font-weight: 700;
        line-height: 1.125rem;
        color: rgb(72, 72, 72);
    }
}
</style>