<template>
    <nuxt-link :to="localePath({ name: 'rooms-slug', params: { slug: home.id || '' } })" class="home-container">
        <div class="home-container__img-container" v-if="home.listImages">
            <img :src="home.listImages[0]" alt="" class="home-container__img-container__img"/>
        </div>
        <p v-if="home.rating > 0" class="home-container__rating">
            <b-icon icon="star-fill"></b-icon>
            <span class="home-container__rating__point">{{home.rating}}</span>
            <span class="home-container__rating__review">({{home.reviews}})</span>
        </p>
        <p v-else class="home-container__rating">
            <b-icon icon="star-fill"></b-icon>
            <span class="home-container__rating__point">New</span>
        </p>
        <p class="home-container__type">
            Entire {{home.category?.title}}
        </p>
        <p class="home-container__name">{{home.name}}</p>
    </nuxt-link>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import { Home } from '~/modals/Home/Home';
@Component({
    components: {

    }
})
export default class HomeItem extends Vue {
    @Prop({ type: Object, required: true, default: () => ([]) }) home!: Home;
}
</script>

<style lang="scss" scoped>
p {
    margin: 0;
    padding: 0;
}
.home-container{
    border-width: 0 20px 0 0;
    border-style: solid;
    border-color: transparent;
    width: 45%;
    color: #222222;
    text-decoration: none;

    &__img-container {
        margin-bottom: 10px;

        &__img {
            object-fit: cover;
            border-radius: 12px;
            width: 100%;
            height: 200px;
        }
    }

    &__rating {
        &__point {
            font-size: 17px;
        }
        &__review {
            font-size: 17px;
            color: rgba($color: #000000, $alpha: 0.6);
        }
    }

    &__type {
        font-size: 17.5px;
    }

    &__name {
        font-size: 17.5px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
}
</style>