<template>
    <div  v-if="homeListings.length > 0" class="home-listings-container">
        <hr>
        <h2 class="header">{{name}}'s listings</h2>
        <div class="home-listings-container__home">
            <home-item v-for="home in homeShow" :key="home.id" :home="home" />
        </div>
        <button class="home-listings-container__left btn-round" @click="changeIndex('dec')" v-if="index !== 0">
            <b-icon icon="chevron-left"></b-icon>
        </button>
        <button class="home-listings-container__right btn-round" @click="changeIndex('inc')" v-if="(homeListings.length > 2 && index < homeListings.length-2)">
            <b-icon icon="chevron-right"></b-icon>
        </button>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import HomeItem from './HomeItem.vue';
import { Home } from '~/modals/Home/Home';
@Component({
    components: {
        HomeItem
    }
})
export default class HomeListings extends Vue {
    @Prop({ type: String }) name!: String;
    @Prop({ type: Array }) listHomes!: Home[];

    // homeListings = [
    //     {
    //         id: 1,
    //         name: 'Hottub~5 Acres~River~Pet Friendly~Blue Banks Lodge',
    //         img: 'https://a0.muscache.com/im/pictures/da48b324-e035-4b45-9172-9b69ea37e3c4.jpg?im_w=720',
    //         type: 'Cabin',
    //         rating: 4.15,
    //         reviews: 7
    //     },
    //     {
    //         id: 2,
    //         name: '5min to Cavern~15min to Shenandoah NP~Blue Pearl',
    //         img: 'https://a0.muscache.com/im/pictures/miso/Hosting-730623220582615032/original/838d5251-019e-4e5c-b421-498c5cc69388.jpeg?im_w=720',
    //         type: 'House',
    //         rating: 0,
    //         reviews: 0
    //     },
    //     {
    //         id: 3,
    //         name: '1 Block to Beach~1 Min to SeaWall~Aquarium House',
    //         img: 'https://a0.muscache.com/im/pictures/miso/Hosting-711922684422599279/original/1230fa42-627d-4201-820f-ac9fb17db3a2.jpeg?im_w=720',
    //         type: 'House',
    //         rating: 4.83,
    //         reviews: 10,
    //     },
    //     {
    //         id: 4,
    //         name: 'Pet Friendly🐕 Fenced Yard🏞️Near River❤️ZEN',
    //         img: 'https://a0.muscache.com/im/pictures/miso/Hosting-49081438/original/4f1d2dfb-2b42-4860-8501-2a0879b17655.jpeg?im_w=720',
    //         type: 'Cabin',
    //         rating: 0,
    //         reviews: 0
    //     },
    //     {
    //         id: 5,
    //         name: 'Lakeside Retreat w Pool ~ Next to Golf Course',
    //         img: 'https://a0.muscache.com/im/pictures/ca2772ff-3c6b-4e56-be83-f3c40e9d0256.jpg?im_w=720',
    //         type: 'House',
    //         rating: 0,
    //         reviews: 0
    //     },
    // ];
    homeListings = this.listHomes
    index = 0;
    homeShow = [this.homeListings[this.index]];

    mounted() {
        if (this.homeListings.length > 1)
            this.homeShow = [this.homeListings[this.index], this.homeListings[this.index + 1]]
    }

    changeIndex(type) {
        if (type === "dec") {
            this.index -= 2;
        }
        if (type === "inc") {
            this.index += 2;
        }
        if (this.index === this.homeListings.length - 1) {
            this.homeShow = [this.homeListings[this.index]]
        }
        else {
            this.homeShow = [this.homeListings[this.index], this.homeListings[this.index + 1]]
        }
    }
}
</script>

<style lang="scss" scoped>
.home-listings-container{
    position: relative;

    &__home {
        display: flex;
    }

    &__left {
        position: absolute;
        top: 170px;
        left: -19px;
    }

    &__right {
        position: absolute;
        top: 170px;
        right: 73px;
    }
}

.btn-round {
    border-radius: 50%;
    outline: none;
    margin: 0;
    padding-top: 5px;
    color: #222222;
    background-color: rgba($color: #fff, $alpha: 0.9);
    border: 1px solid rgba($color: #000000, $alpha: 0.08);
    box-shadow: 0px 0px 0px 1px transparent,
        0px 0px 0px 4px transparent,
        0px 2px 4px rgb(0 0 0 / 18%);
    width: 32px;
    height: 32px;
    text-align: center;

    &:hover {
        border-color: rgba($color: #000000, $alpha: 0.08);
        background-color: #fff;
        box-shadow: none;
        transform: scale(1);
    }
}
</style>