<template>
    <div class="list-review-container">
        <div class="list-review-container__buttons">
            <button :class="isGuest ? 'list-review-container__buttons__item active' : 'list-review-container__buttons__item'" @click="setIsGuest">From guests (10)</button>
            <button :class="isGuest ? 'list-review-container__buttons__item' : 'list-review-container__buttons__item active'" @click="setIsGuest">From hosts (10)</button>
        </div>
        <hr>
        <div v-if="isGuest">
            <review-card v-for="review in reviewListGuest" :key="review.id" :review="review"  :isGuest="isGuest" />
            <button class="list-review-container__btn-show" v-if="reviewListGuest.length !== reviewGuest.length" @click="showMoreReview">Show more reviews</button>
        </div>
        <div v-else>
            <review-card v-for="review in reviewListHost" :key="review.id" :review="review"  :isGuest="isGuest" />
            <button class="list-review-container__btn-show" v-if="reviewListHost.length !== reviewHost.length" @click="showMoreReview">Show more reviews</button>
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import ReviewCard from './ReviewCard.vue';

@Component({
    components: {
        ReviewCard
    }
})
export default class ListReviewCard extends Vue {
    reviewGuest = [
        {
            id: 1,
            home: {
                name: "Pet Friendly🐕 Fenced Yard🏞️Near River❤️ZEN",
                img: "https://a0.muscache.com/im/pictures/miso/Hosting-49081438/original/4f1d2dfb-2b42-4860-8501-2a0879b17655.jpeg?aki_policy=small",
            },
            date_review: "October 2022",
            review: "Very clean, comes as listed. Even though it was near freezing outside, the heating inside was wonderful and we felt right at home. There's nothing at all to nitpick; the Zen Garden was a wonderful stay and I know that if I need to stay overnight at Shenandoah again, it will be my go-to choice.",
            user: {
                img: 'https://a0.muscache.com/im/pictures/user/8ad4bd4b-08b9-49fa-a534-6a9257b539fe.jpg?aki_policy=profile_x_medium',
                name: "Jake",
                date_join: "2022"
            }
        },
        {
            id: 2,
            home: {
                name: "5min to Cavern~15min to Shenandoah NP~Blue Pearl",
                img: "https://a0.muscache.com/im/pictures/miso/Hosting-730623220582615032/original/838d5251-019e-4e5c-b421-498c5cc69388.jpeg?aki_policy=small",
            },
            date_review: "October 2022",
            review: "Good location. Very comfortable bed. Great communication with the host.",
            user: {
                img: 'https://a0.muscache.com/im/pictures/user/c4622181-2df9-4410-95de-0cbd1bf1e83a.jpg?aki_policy=profile_x_medium',
                name: "Hyung Mee, Cliffside Park, NJ",
                date_join: "2016"
            }
        },
        {
            id: 3,
            home: {
                name: "1 Block to Beach~1 Min to SeaWall~Aquarium House",
                img: "https://a0.muscache.com/im/pictures/miso/Hosting-711922684422599279/original/1230fa42-627d-4201-820f-ac9fb17db3a2.jpeg?aki_policy=small",
            },
            date_review: "October 2022",
            review: "Definitely a spot to continue visiting. Everything was close by walking distance. Pleasant and beautiful place. Even was able to watch the sun rise off the balcony.",
            user: {
                img: 'https://a0.muscache.com/im/pictures/user/09ca6dd1-4a50-4f2d-992f-80855ba0f0b5.jpg?aki_policy=profile_x_medium',
                name: "Phebe, Houston, TX",
                date_join: "2016"
            }
        },
        {
            id: 4,
            home: {
                name: "In Resort🏊‍♂️Game Room🕹️Play House⭐️5BR Retreat",
                img: "https://a0.muscache.com/im/pictures/miso/Hosting-569122175987523242/original/298a847d-23d9-493a-a788-8468914203c1.png?aki_policy=small",
            },
            date_review: "October 2022",
            review: "It was the great stay, the only reason for four stars is that we couldn't use the fireplace. The one in the living room had the gas turned off, and the one in the game room was not recommended to use, unsure why. Other than that I would definitely give 5 stars.",
            user: {
                img: 'https://a0.muscache.com/im/users/27484234/profile_pic/1423521138/original.jpg?aki_policy=profile_x_medium',
                name: "Darya, Virginia Beach, VA",
                date_join: "2016"
            }
        },
    ]
    reviewHost = [
        {
            id: 34,
            date_review: "October 2022",
            review: "We enjoyed hosting Jason and his group! Very nice and took good care of the space.",
            user: {
                img: 'https://a0.muscache.com/im/pictures/user/11f5b1a2-fbaa-4697-a592-193a2babf4b5.jpg?aki_policy=profile_x_medium',
                name: "Erin, Takoma Park, MD",
                date_join: "2022"
            }
        },
        {
            id: 35,
            date_review: "October 2022",
            review: "Jason was an excellent guest! He had perfect communication and was extremely respectful of the homes amenities. Upon checkout he left the home very clean. I highly recommend Jason to any other Airbnb hosts that he may book with in the future. He is welcome back anytime!! A+++++ guest!!",
            user: {
                img: 'https://a0.muscache.com/im/pictures/user/0c8a6a00-614a-478b-b087-c95c65f52dec.jpg?aki_policy=profile_x_medium',
                name: "Mark, Penn Laird, VA",
                date_join: "2016"
            }
        },
        {
            id: 36,
            date_review: "October 2022",
            review: "This is Jason's second time staying at my condo and just like last time he treated the place like it was his home. Easy to communicate with, would recommend as a guest.",
            user: {
                img: 'https://a0.muscache.com/im/pictures/user/3e44053e-bedb-405c-af01-6881d1665c25.jpg?aki_policy=profile_x_medium',
                name: "Michael, Washington, DC",
                date_join: "2016"
            }
        },
        {
            id: 37,
            date_review: "October 2022",
            review: "Sunny and her group were lovely guests. I hope they are able to return to the Bungalow in the very near future. Take care!",
            user: {
                img: 'https://a0.muscache.com/im/pictures/user/f04adecd-40ec-4fd6-b562-6e93961ac73c.jpg?aki_policy=profile_x_medium',
                name: "Julia, Woodside, CA",
                date_join: "2016"
            }
        },
        {
            id: 38,
            date_review: "October 2022",
            review: "Jason and his wife are great. They have the qualities that any host would like on a guest. Plus they are fabulous people with a contagious positive energy. It was good to have a chance to meet them and they will always be welcome to come back.",
            user: {
                img: 'https://a0.muscache.com/im/pictures/user/ce99bfb9-87af-4bea-9feb-02bd3aa3ec6c.jpg?aki_policy=profile_x_medium',
                name: "Gabriel, San Diego, CA",
                date_join: "2016"
            }
        },
        {
            id: 39,
            date_review: "October 2022",
            review: "We enjoyed hosting Jason and his group! Very nice and took good care of the space.",
            user: {
                img: 'https://a0.muscache.com/im/pictures/user/11f5b1a2-fbaa-4697-a592-193a2babf4b5.jpg?aki_policy=profile_x_medium',
                name: "Erin, Takoma Park, MD",
                date_join: "2022"
            }
        },
    ]

    index = 0;
    reviewListGuest = this.reviewGuest;
    reviewListHost = this.reviewHost;

    mounted() {
        if (this.reviewGuest.length > 3) {
            this.reviewListGuest = this.reviewGuest.slice(this.index, this.index + 3);
        }
        if (this.reviewHost.length > 3) {
            this.reviewListHost = this.reviewHost.slice(this.index, this.index + 3);
        }
    }

    isGuest: boolean = true;

    setIsGuest() {
        this.isGuest = !this.isGuest;
    }

    getMoreReview(reviewList, reviewListTemp) {
        if (this.index + 3 > reviewList.length) {
            reviewListTemp = reviewList.slice(0, reviewList.length);
        }
        else {
            reviewListTemp = reviewList.slice(0, this.index + 3);
        }
        return reviewListTemp;
    }

    showMoreReview() {
        this.index += 3;
        if (this.isGuest) {
            this.reviewListGuest = this.getMoreReview(this.reviewGuest, this.reviewListGuest);
        } else {
            this.reviewListHost = this.getMoreReview(this.reviewHost, this.reviewListHost);
        }
    }
}
</script>

<style lang="scss" scoped>
hr {
    margin: 0;
}
.list-review-container{
    color: #222222;

    &__buttons {
        display: flex;

        .active {
            color: #222222;

            &::after {
                content: "";
                position: absolute;
                background-color: #222222;
                bottom: -6px;
                left: 0;
                width: 100%;
                height: 2px;
            }
        }

        &__item {
            font-size: 16px;
            line-height: 18px;
            font-weight: 600;
            border-radius: 8px;
            border: none;
            background: transparent;
            color: #717171;
            padding: 10px 0;
            margin: 0 40px 6px 0;
            outline: none;
            position: relative;

            &:hover {
                background: #f7f7f7;
            }
        }
    }

    &__btn-show {
        margin-top: 12px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        line-height: 20px;
        font-weight: 600;
        border-radius: 8px;
        border: 1px solid #222222;
        outline: none;
        padding: 13px 23px;
        background: #fff;
        color: #222222;
    }
}
</style>