<template>
  <div>
    <div class="list-card-item">
      <div class="list-card-item-container container">
        <card-item v-for="item in listHomes" :key="item.id" :item='item' />
      </div>
    </div>

  </div>

</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import CardItem from './CardItem.vue';
import VueInfiniteLoading from './VueInfiniteLoading.vue';
import SkeletonHome from './SkeletonHome.vue';
import { Home } from '~/modals/Home/Home'

@Component({
  components: {
    CardItem,
    VueInfiniteLoading,
    SkeletonHome
  }
})
export default class ListCardItem extends Vue {
  @Prop({ type: Array, required: false }) listHomes!: Home[];
  isLoading = true;
  mounted() {
  }
}
</script>

<style lang="scss" scoped>
.list-card-item {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;

  .list-card-item-container {
    display: inline-grid;
    margin-bottom: 50px;
    padding: 0px;
    grid-template-columns: repeat(5, minmax(0,1fr));
    grid-gap: 30px;
    z-index: 1;

    @media screen and (max-width: 1440px) {
      grid-template-columns: repeat(4, minmax(0,1fr));
    }

    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(3, minmax(0,1fr));
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, minmax(0,1fr));
    }
  }

}

.skeleton {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow: hidden;
}
</style>
