<template>
    <div class="main">
        <div class="container" v-click-outside="closeLoginSignup">
            <button class="container__close-btn" @click="closeLoginSignup">
                <b-icon icon="x-lg" scale="0.8"></b-icon>
            </button>
            <header class="container__header">
                <h1 class="container__header__heading">{{isLogin ? 'Log in' : 'Sign up'}}</h1>
            </header>
            <login-signup-body :isLogin="isLogin" @close-login-signup="closeLoginSignup" :showTitle=true @change-to-signup="changeToSignup" />
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import { ValidationProvider, ValidationObserver } from 'vee-validate';
import LoginSignupBody from './LoginSignupBody.vue';

@Component({
    components: {
        ValidationProvider,
        ValidationObserver,
        LoginSignupBody,
    }
})
export default class LoginSignup extends Vue {
    @Prop({ type: Boolean, required: true, default: () => ([]) }) isLogin!: Boolean;

    closeLoginSignup() {
        this.$emit('close-login-signup');
    }

    changeToSignup(value) {
        this.$emit("change-to-signup", value);
    }
}
</script>

<style lang="scss" scoped>
.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding: 0;
    width: 42%;
    max-width: 568px;
    max-height: 600px;
    border-radius: 12px;
    background-color: #fff;
    position: relative;
    z-index: 2000;
    top: -5px;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px;

    &__close-btn {
        appearance: none;
        display: inline-block;
        border-radius: 50%;
        border: none;
        outline: none;
        margin: 0;
        padding: 0;
        color: rgb(34, 34, 34);
        cursor: pointer;
        position: absolute;
        top: 16px;
        left: 15px;
        background: transparent;
        width: 32px;
        height: 32px;

        &:hover {
            background: rgb(247, 247, 247);
        }
    }

    &__header{
        width: 100%;
        min-height: 64px;
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgb(235, 235, 235);
        
        &__heading{
            font-size: 16px;
            line-height: 20px;
            font-weight: 800;
            color: rgb(34, 34, 34);
        }
    }
}
</style>