<template>
    <div class="container__content">
        <h3 class="container__content__heading" v-if="showTitle">Welcome to Euphoria</h3>
        <ValidationObserver ref="checkRegister" tag="form">
            <div class="account-info">
                <div class="input-group">
                    <ValidationProvider v-slot="{ errors }" :rules="'required|email'" name="email">
                        <div class="input-container">
                            <input type="email" name="email" v-model="email" placeholder="Email address">
                        </div>
                        <small class="text-danger small show_name_validate">{{ errors[0] }}</small>
                    </ValidationProvider>
                </div>
                <div class="input-group">
                    <ValidationProvider v-slot="{ errors }" rules="required|min:8|max:32" name="password" vid="confirm">
                        <div class="input-container input-group__confirm">
                            <input :type="isShowPassword ? 'text' : 'password'" name="password"
                                placeholder="Password(Minimum 8 characters)" v-model="password" ref="password">
                        </div>
                        <div v-if="isShowPassword" class="input-group__icon-eye" @click="isShowPassword = !isShowPassword">
                            <b-icon icon="eye-slash"></b-icon>
                        </div>
                        <div v-else class="input-group__icon-eye" @click="isShowPassword = !isShowPassword">
                            <b-icon icon="eye"></b-icon>
                        </div>
                        <small class="text-danger small show_name_validate">{{ errors[0] }}</small>
                    </ValidationProvider>
                </div>
                <div class="input-group" v-if="!isLogin">
                    <ValidationProvider v-slot="{ errors }" rules="required|confirmed:confirm" name="confirm new password">
                        <div class="input-container input-group__confirm">
                            <input :type="isShowConfirmPassword ? 'text' : 'password'" name="confirmPassword"
                                v-model="confirmPassword" placeholder="Confirm password">
                        </div>
                        <div v-if="isShowConfirmPassword" class="input-group__icon-eye"
                            @click="isShowConfirmPassword = !isShowConfirmPassword">
                            <b-icon icon="eye-slash"></b-icon>
                        </div>
                        <div v-else class="input-group__icon-eye" @click="isShowConfirmPassword = !isShowConfirmPassword">
                            <b-icon icon="eye"></b-icon>
                        </div>
                        <small class="text-danger small show_name_validate">{{ errors[0] }}</small>
                    </ValidationProvider>
                </div>
            </div>
        </ValidationObserver>
        
        <button class="container__content__continue-btn" @click="handleRegister">Continue</button>
        <div class="container__content__btn-container" v-if="isLogin && showTitle">
            <button @click="changeToSignup" class="container__content__btn-container__btn">Don't have an account?</button>
            <nuxt-link :to="goToForgotPassword" class="container__content__btn-container__link">Forgot password?</nuxt-link>
        </div>
        <div class="container__content__btn-container center" v-if="!isLogin && showTitle">
            <button @click="changeToLogin" class="container__content__btn-container__btn">Already have an account?</button>
        </div>
        <div class="container__content__or">or</div>
        <div class="container__content__google-btn">
            <span>Continue with Google</span>
            <svg version="1.1" viewBox="0 0 16 16" class="is-absolute svg-icon svg-fill">
                <g fill="none">
                    <path pid="0" fill="#557EBF"
                        d="M15.85 8.2c0-.55-.05-1.1-.15-1.65H8.15v3.1h4.3c-.2 1-.75 1.85-1.6 2.4v2h2.6c1.5-1.4 2.4-3.45 2.4-5.85z">
                    </path>
                    <path pid="1" fill="#36A852"
                        d="M8.15 16c2.15 0 3.95-.7 5.3-1.95l-2.6-2c-.7.5-1.65.75-2.7.75-2.1 0-3.85-1.4-4.5-3.3H1v2.05C2.35 14.2 5.05 16 8.15 16z">
                    </path>
                    <path pid="2" fill="#F9BC15"
                        d="M3.7 9.5c-.15-.5-.25-1-.25-1.5s.1-1.05.25-1.5V4.4H1C.45 5.5.15 6.7.15 8c0 1.3.3 2.5.85 3.6l2.7-2.1z">
                    </path>
                    <path pid="3" fill="#EA4535"
                        d="M8.15 3.2c1.15 0 2.25.4 3.05 1.2l2.3-2.3C12.15.8 10.3 0 8.15 0 5.05 0 2.35 1.8 1 4.4l2.7 2.1c.6-1.9 2.4-3.3 4.45-3.3z">
                    </path>
                </g>
            </svg>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { ValidationProvider, ValidationObserver } from 'vee-validate';

@Component({
    components: {
        ValidationProvider,
        ValidationObserver
    }
})
export default class LoginSignupBody extends Vue {
    @Prop({ type: Boolean, required: true, default: () => ([]) }) isLogin!: Boolean;
    @Prop({ type: Boolean, required: true, default: () => ([]) }) showTitle!: Boolean;

    email = ''
    password = ''
    confirmPassword = ''
    isShowPassword = false;
    isShowConfirmPassword = false;

    async handleRegister() {
        const result = await (this.$refs.checkRegister as any).validate();
        if (result) {
            try {
                switch (this.isLogin) {
                    case true:
                        const data1 = {
                            email: this.email,
                            password: this.password,
                        }
                        this.$auth.loginWith("local", { data: { email: this.email, password: this.password } }).then((res) => {
                            if (this.$auth.loggedIn) {
                                if (this.showTitle) {
                                    this.$emit('close-login-signup', true);
                                }
                                if (this.$auth.$state.user.role === 'ROLE_OWNER') {
                                    this.$router.push((this as any).localePath('/hosting'));
                                }
                                else {
                                    this.$router.push((this as any).localePath('/'));
                                }
                            }
                        })

                        break;
                    case false:
                        const data2 = {
                            email: this.email,
                            password: this.password,
                            confirmation_password: this.confirmPassword,
                            role: 3,
                            language: this.$i18n.locale,
                        }
                        // const res = await this.$axios.post('/auth/signup', data2);
                        const res = await this.$api.auth.signup(data2)

                        break;
                }
            } catch (error) {
                console.log(error);
            }
        }
    }

    goToForgotPassword() {
        this.$emit('close-login-signup');
        return this.localePath('/account-settings/forgot_password');
    }

    changeToSignup() {
        if (this.showTitle) {
            this.$emit("change-to-signup", false);
        }    
    }

    changeToLogin() {
        if (this.showTitle) {
            this.$emit("change-to-signup", true);
        }
    }
}
</script>

<style lang="scss" scoped>
.account-info {

    .input-group {
        display: block;
        margin-bottom: 1rem;

        &__confirm {
            position: relative;
        }

        &__icon-eye {
            position: absolute;
            top: 11px;
            right: 13px;
            height: 30px;
            width: 30px;
            align-items: center;
            display: flex;
            justify-content: center;
            border-radius: 100%;

            &:hover {
                cursor: pointer;
                background-color: rgba(245, 245, 245, 0.9);
            }

            img {
                width: 15px;
                height: 15px;
            }
        }

        label {
            width: 100%;
            font-weight: 600;
        }

        input {
            height: 3rem;
            border: 1px solid #e6e6e6;
            transition: all .3s;
            font-size: 14px;
            width: 100%;
            border-radius: 8px;
            overflow: visible;
            line-height: 1.15;
            padding: 0 20px;

            &:focus {
                border-color: #008689;
                box-shadow: 0 0 5px 0 rgba(4, 79, 141, 0.5);
                outline: none;
            }
        }

        .icon {
            position: absolute;
            top: 43px;
            right: 20px;
            font-size: 1.5rem;
        }

        .gray {
            color: #999;
            font-weight: normal;
        }
    }

}

.center {
    display: block !important;
    text-align: center;
}
.container__content {
    max-height: 650px;
    overflow-y: auto;
    padding: 30px 25px;

    &__heading {
        margin-top: 8px;
        margin-bottom: 24px;
        font-size: 25px;
        line-height: 26px;
        color: rgb(34, 34, 34);
        font-weight: 600;
    }

    &__country {
        border-radius: 8px 8px 0px 0px;
        position: relative;
        width: 100%;
        border: 1px solid rgb(182, 180, 180);
        border-bottom: none;
        color: rgb(34, 34, 34);
        line-height: 20px;
        font-weight: 400;

        &__label {
            padding: 0;
            margin: 0;
            position: absolute;
            top: 9px;
            left: 12px;
            color: rgb(113, 113, 113);
            font-size: 14px;
            line-height: inherit;
            font-weight: inherit;
        }

        &__select {
            min-height: 56px;
            width: 100%;
            border: none;
            outline: none;
            border-radius: inherit;
            margin: 0;
            color: inherit;
            font-size: 18px;
            font-weight: inherit;
            line-height: inherit;
            appearance: none;
            padding: 26px 36px 10px 12px;

            &:focus {
                border: 1px solid rgb(0, 0, 0);
            }
        }

        &__btn-down {
            position: absolute;
            right: 0px;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            max-width: 50%;
            min-width: 36px;
            padding-right: 12px;
        }
    }

    &__item {
        border-radius: 8px;
        width: 100%;
        border: 1px solid rgb(182, 180, 180);
        margin-bottom: 10px;
    }

    &__btn-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;

        &__btn {
            border: none;
            background: transparent;
            outline: none;
            color: #008689;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            padding: 0;
            margin: 0;

            &:hover {
                text-decoration: underline;
            }
        }

        &__link {
            outline: none;
            color: #008689;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            padding: 0;
            margin: 0;
        }
    }

    &__continue-btn {
        background: linear-gradient(to right, #008689 0%,
                #01aeb1 100%,
                #01aeb1 50%);
        transition: none 0s ease 0s;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        border-radius: 8px;
        outline: none;
        padding: 14px 24px;
        border: none;
        color: #fff;
        width: 100%;

        &:hover {
            background: linear-gradient(to left, #008689 0%,
                    #01aeb1 100%,
                    #01aeb1 50%);
        }
    }

    &__or {
        display: flex;
        align-items: center;
        margin: 16px 0;
        font-size: 13px;

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: rgb(221, 221, 221);
            margin-right: 16px;
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: rgb(221, 221, 221);
            margin-left: 16px;
        }
    }

    &__google-btn {
        display: inline-block;
        margin: 0;
        position: relative;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        border-radius: 8px;
        border: 1px solid #222222;
        background-color: transparent;
        width: 100%;
        padding: 13px 23px;
        cursor: pointer;

        &:hover {
            background-color: #f7f7f7;
        }
    }
}

.svg-icon {
    display: inline-block;
    position: absolute;
    width: 1.25em;
    height: auto;
    color: inherit;
    left: 23px;
    bottom: 12px;
}
</style>