<template>
  <client-only>
    <div id="app">
      <quill-editor v-model.lazy="editedContent" ref="editor" :option="editorOption" />
    </div>
  </client-only>

</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';
@Component({})
export default class QuillEditor extends Vue {
  @Prop({ type: String, required: false, default:'' }) title!: string;
  editedContent = ''
  editorOption = {
    theme: 'snow', // 可換
    modules: {
      toolbar: {
        // container這裡是個大坑，[]表分群
        container: [
          ['bold', 'italic', 'underline', 'strike', 'code'],
          ['blockquote', 'code-block'],
          [{ header: [1, 2, 3, 4, 5, 6, false] }],
          [{ list: 'ordered' }, { list: 'bullet' }],
          [{ script: 'sub' }, { script: 'super' }],
          [{ indent: '-1' }, { indent: '+1' }],
          [{ size: ['small', false, 'large', 'huge'] }],
          [{ color: [] }, { background: [] }],
          [{ align: [] }],
          ['clean'],
          ['link', 'image', 'video'],
        ],
        // 客製化圖片上傳功能用的
        handlers: {
          // image: this.uploadImage,
        },
      },
    },
  }
}
</script>
  
<style lang="scss" scoped>
.quill-editor {
  min-height: 300px;
  max-height: 70vh;
  overflow-y: auto;
  & :deep(.ql-toolbar) {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
  }
  & :deep(.ql-editor) {
    min-height: 300px;
    font-family: Roboto;
    font-size: 1rem;
  }
}
.editor--border {
  border: 1px solid #ccc;
}
</style>