<template>
    <div>
        <div class="card-container">
            <div class="card-container__content">
                <div class="card-container__content__home" v-if="isGuest">
                    <div class="card-container__content__home__info">
                        <span class="card-container__content__home__info__name">{{review.home.name}}</span>
                        <span class="card-container__content__home__info__date-review">{{review.date_review}}</span>
                    </div>
                    <img class="card-container__content__home__img" :src="review.home.img" alt="">
                </div>
                <div class="card-container__content__home" v-else>
                    <div class="card-container__content__home__info">
                        <span class="card-container__content__home__info__date-review">{{review.date_review}}</span>
                    </div>
                </div>

                <div class="card-container__content__review" v-if="review.review.length < 250">
                    <span class="card-container__content__review__text">{{review.review}}</span>
                </div>
                <div class="card-container__content__review" v-if="review.review.length > 250 && isExpand">
                    <span class="card-container__content__review__text">{{review.review.slice(0, 250)}} ...</span>
                    <button class="btn-underline" @click="setIsExpand">read more</button>
                </div>
                <div class="card-container__content__review" v-if="review.review.length > 250 && !isExpand">
                    <span class="card-container__content__review__text">{{review.review}}</span>
                    <button class="btn-underline" @click="setIsExpand">read less</button>
                </div>
            </div>
            <div class="card-container__user">
                <div class="card-container__user__img-container">
                    <a href="" >
                        <img class="card-container__user__img-container__img" :src="review.user.img"
                            alt="">
                    </a>
                </div>
                <div class="card-container__user__info">
                    <span class="card-container__user__info__name">{{review.user.name}}</span>
                    <span class="card-container__user__info__date">Joined in {{review.user.date_join}}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';
@Component({
    components: {

    }
})
export default class ReviewCard extends Vue {
    @Prop({ type: Object, required: true, default: () => ([]) }) review!: Object;
    @Prop({ type: Boolean, required: true, default: () => (true) }) isGuest!: Object;
    isExpand: boolean = true;

    setIsExpand() {
        this.isExpand = !this.isExpand;
    }
}
</script>

<style lang="scss" scoped>
.card-container {
    margin-top: 24px;
    margin-bottom: 48px;

    &__content {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 16px;

        &__home {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;

            &__info {
                display: flex;
                flex-direction: column;

                &__name {
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: 600;
                }

                &__date-review {
                    font-size: 14px;
                    line-height: 18px;
                    color: #717171;
                    font-weight: 400;
                    margin-top: 2px;
                }
            }

            &__img {
                border-radius: 14%;
                height: 48px;
                width: 70px;
                object-fit: cover;
            }
        }
    }

    &__user {
        margin-top: 8px;
        display: flex;
        align-items: flex-start;
        margin-bottom: 16px;

        &__img-container {
            display: block;
            position: relative;
            height: 56px;
            width: 56px;

            &__img {
                object-fit: cover;
                vertical-align: bottom;
                height: 100%;
                width: 100%;
                position: static;
                border-radius: 50%;
            }
        }

        &__info {
            font-weight: 800;
            margin-left: 12px;
            display: flex;
            flex-direction: column;

            &__date {
                font-size: 14px;
                line-height: 18px;
                color: #717171;
                font-weight: 400;
                margin-top: 4px;
            }
        }
    }
}
</style>