<template>
  <div class="base">
    <base-skeleton :options="{height: '350px', width: '15vw', radius: '6px'}"/>
  </div>
</template>

<script>
import BaseSkeleton from './Base/BaseSkeleton.vue';
export default {
  components: {
    BaseSkeleton
  }
}
</script>

<style lang="scss" scoped>
.base{
  max-width: 100%;
  max-height: 100%;
  margin-right: 30px;
}
</style>>