<template>
  <div class="tab-main shadow-sm p-3 mb-4 bg-white rounded px-0">
    <div class="tab-category container d-flex flex-row px-0">

      <div class="tab-category__list-item col-11 px-0" id="custom-behavior-scroll">
        <div class="tab-category__list-item__item" :class="{'active': item.title == currentCategory}" @click="updateRouteHash(item.title ?? '', item.id ?? '')" v-for="item in categories"
          :key="item.id">
          <img class="tab-category__list-item__item__img" :src="item.icon" alt="">
          <div class="tab-category__list-item__item__title"><span>{{ item.title }}</span></div>
        </div>
      </div>


      <div class="tab-category__filter col-1">
        <img class="tab-category__filter__img" src="~/assets/icons/sliders-solid.svg" alt="">
        <span class="tab-category__filter__text">Filter</span>
      </div>
    </div>
  </div>

</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'nuxt-property-decorator';
import { Category } from '~/modals/Home/Category';
import listcate from '../assets/listcate.json'
@Component({

})
export default class TabCategory extends Vue {
  @Prop({ type: String, required: false }) currentCategory!: string;
  categories: Category[] = [];
  dataCate = listcate.data;

  async asyncData({$axios}){
    try{
      
    }catch(e){

    }
  }

  created(){
    this.categories = this.$store.state.category.categories;
  }

  mounted() {
    // console.log("list", listcate)
  }

  @Watch('$route.hash')
  onChangeHashTab(newVal: string, oldVal: string) {
    console.log('newvalue', newVal)
  }

  updateRouteHash(nextTab: string, id: String) {
    let nextHash: string = `#${nextTab}`;
    this.$router.push(
      (this as any).localePath({
        name: "forums",
        hash: nextHash
      })
    );
    this.$emit('category-id', id);
    // if (nextTab == this.currentTab) {
    //   window.scrollTo({
    //     top: 0,
    //     behavior: 'smooth'
    //   })
    // }
  }
}
</script>

<style lang="scss" scoped>
.tab-main {
  width: 100%;
  border-bottom: 1px solid #D7D7D7;
  position: sticky;
  top: 80px;
  height: 80px;
  align-items: center;
  z-index: 9;
  background-color: #ffffff;
  max-width: 100%;
  padding: 0 !important;

  .tab-category {
    height: 100%;
    max-height: 100%;
    align-items: center;

    &__list-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      padding-top: 20px;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-right: 32px;
        cursor: pointer;

        &__img {
          width: 25px;
          height: 25px;
        }

        &__title {
          text-align: center;
          white-space: nowrap;
        }

        &.active{
          border-bottom: 2px solid black;
          color: green;
        }
      }
    }


    &__filter {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      padding: 7px 16px;
      height: 46px;
      align-items: center;
      max-width: 100px;
      border: 1px solid #D7D7D7;
      border-radius: 15px;
      margin-left: 12px;

      &__img {
        height: 14px;
        width: 14px;
        margin-right: 12px;
      }
    }
  }
}

#custom-behavior-scroll {
  &::-webkit-scrollbar-track {
    background-color: none;
  }

  &::-webkit-scrollbar {
    height: 6px;
    background-color: none;

    // display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    transition: background-color 1000ms linear;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #CFCFCF;
    }
  }
}
</style>
