<template>
  <div class="top-nav">
    <div class="top-nav-bar container d-flex flex-row justify-content-between">
      <nuxt-link class="top-nav-bar__logo" to="/">
        <img class="top-nav-bar__logo__img" src="~/assets/img/logo.png" alt="Image">
      </nuxt-link>
      <div class="top-nav-bar__middle d-flex flex-row" v-if="$route.path == localePath('/')">
        <div class="top-nav-bar__middle__address">
          <span>AnyWhere</span>
        </div>
        <div class="top-nav-bar__middle__time">
          <span>Any Week</span>
        </div>
        <div class="top-nav-bar__middle__add-guests">
          <span>Add Guests</span>
        </div>
        <div class="top-nav-bar__middle__search">
          <img class="top-nav-bar__middle__search__img" width="12" height="12"
            src="~/assets/icons/magnifying-glass-solid.svg" alt="">
        </div>
      </div>

      <div class="top-nav-bar__right d-flex flex-row">
        <div v-if="$auth.loggedIn" class="top-nav-bar__right__switch-host" @click="goToHosting">
          <span>Switching to hosting</span>
        </div>
        <div v-else class="top-nav-bar__right__switch-host" @click="goToHostHome">
          <span>Become a host</span>
        </div>
        <div class="top-nav-bar__right__switch-language" @click="openSwitchLanguage">
          <img class="top-nav-bar__right__switch-language__img" src="~/assets/icons/globe-solid.svg" alt="">
        </div>
        <div class="top-nav-bar__right__settings" @click="openDropDown" v-click-outside="() => isOpenDropdown = false">
          <img class="top-nav-bar__right__settings__bars" src="~/assets/icons/bars-solid.svg" alt="">

          <div class="top-nav-bar__right__settings__user position-relative">
            <img class="top-nav-bar__right__settings__user__img" :src="$auth.$state.user.user_info.avatar" alt="" v-if="$auth.loggedIn && $auth.$state.user.user_info.avatar">
            <img class="top-nav-bar__right__settings__user__img" src="https://a0.muscache.com/defaults/user_pic-225x225.png?v=3"
              style="background-color: aquamarine;" alt="" v-else>
            <span class="top-nav-bar__right__settings__user__notifications">2</span>
          </div>
        </div>
        <div class="top-nav-bar__right__dropdown" v-show="isOpenDropdown && $auth.loggedIn">
          <div class="top-nav-bar__right__dropdown__top">
            <span>Messages</span>
            <span>Notifications</span>
            <span @click="goToTrips">Trips</span>
            <span @click="goToWishlists">Wishlists</span>
          </div>
          <div class="top-nav-bar__right__dropdown__middle">
            <span>Manage listings</span>
            <span>Host an experiance</span>
            <span @click="onGoToDetailAccount">
              Account
            </span>
          </div>
          <div class="top-nav-bar__right__dropdown__bottom">
            <span>Help</span>
            <span @click="goToLogOut">Log out</span>
          </div>
        </div>

        <div class="top-nav-bar__right__dropdown" v-show="isOpenDropdown && !$auth.loggedIn">
          <div class="top-nav-bar__right__dropdown__top">
            <span @click="goToLogin">Login</span>
            <span @click="goToSignUp">Sign up</span>
          </div>
          <div class="top-nav-bar__right__dropdown__middle">
            <span>Host your name</span>
            <span>Host an experiance</span>
            <span>Help</span>
          </div>
        </div>
      </div>
    </div>
    <full-modal v-if="isShowLoginSignUp" v-scroll-lock="openDropDown">
      <login-signup @close-login-signup="closeLoginSignup" :isLogin="isLogin" @change-to-signup="changeToSignup" />
    </full-modal>
    <transition>
      <full-modal v-if="isShowChangeLanguage">
        <modal-switch-language @close-modal="openSwitchLanguage" />
      </full-modal>
    </transition>

  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import LoginSignup from './LoginSignup.vue'
import FullModal from '~/argon-component/FullModal.vue';
import ModalSwitchLanguage from './Home/ModalSwitchLanguage.vue';
@Component({
  components: {
    LoginSignup, FullModal, ModalSwitchLanguage
  }
})
export default class TopNavBar extends Vue {

  isShowPopover = false;
  isOpenDropdown = false;
  isShowLoginSignUp = false;
  isLogin = false;
  isShowChangeLanguage = false;

  changeToSignup(value) {
    this.isLogin = value;
  }

  openDropDown() {
    this.isOpenDropdown = !this.isOpenDropdown;
  }

  openSwitchLanguage(value) {
    console.log(value)
    this.isShowChangeLanguage = !this.isShowChangeLanguage;
  }

  goToLogin() {
    this.isOpenDropdown = false
    this.isShowLoginSignUp = true
    this.isLogin = true
    // this.$router.push(this.localePath('/login'))
  }

  goToSignUp() {
    this.isOpenDropdown = false
    this.isShowLoginSignUp = true
    this.isLogin = false
    // this.$router.push(this.localePath('/register'))
  }

  goToTrips() {
    this.isOpenDropdown = false;
    this.$router.push(this.localePath('/users/trips'))
  }

  goToWishlists() {
    this.isOpenDropdown = false;
    this.$router.push(this.localePath('/users/wishlists'))
  }

  goToHosting() {
    this.isOpenDropdown = false;
    this.$router.push(this.localePath('/hosting'))
  }

  goToHostHome() {
    this.isOpenDropdown = false;
    this.$router.push(this.localePath('/host/home'))
  }

  closeLoginSignup() {
    this.isShowLoginSignUp = false
  }

  goToLogOut() {
    this.isOpenDropdown = false;
    this.$auth.logout().then(() => {
      this.clearStorage(this.$auth);
      this.$router.push(this.localePath('/'))
    })
  }

  clearStorage(auth) {
    //auth._token_expiration.local
    const tokenKey = '_token.' + auth.strategy.name;
    const refreshTokenKey = '_refresh_token.' + auth.strategy.name;
    const tokenExpiresAt = '_token_expiration.' + auth.strategy.name;
    const refreshTokenExpiresAt = '_refresh_token_expiration.' + auth.strategy.name;
    auth.$storage.removeUniversal(tokenKey);
    auth.$storage.removeUniversal(refreshTokenKey);
    auth.$storage.removeUniversal(tokenExpiresAt);
    auth.$storage.removeUniversal(refreshTokenExpiresAt);
    auth.$storage.removeUniversal('strategy');
  }

  onGoToDetailAccount() {
    this.isOpenDropdown = false;
    this.$router.push((this as any).localePath({
      name: 'account-settings',
    }))
  }

  mounted() {
  }
}
</script>

<style lang="scss" scoped>
.top-nav {
  position: sticky;
  top: 0;
  width: 100%;
  align-items: center;
  height: 80px;
  padding: 0 !important;
  margin-bottom: 0px !important;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #D7D7D7;
  background-color: #ffffff;

  .top-nav-bar {
    align-items: center;
    height: 100%;

    &__logo {
      align-items: center;
      height: 100px;


      color: green;

      &__img {
        height: 100%;
        margin-left: -100px;
      }
    }

    &__middle {
      height: 48px;
      align-items: center;
      box-shadow: 0px 3px 7px 0px rgb(223, 221, 221);
      border-radius: 40px;

      &:hover {
        box-shadow: 0px 3px 7px 2px rgb(223, 221, 221);
      }

      &__address {
        position: relative;
        cursor: pointer;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        padding: 12px 16px;

        &::after {
          content: "";
          height: 24px;
          width: 2px;
          position: absolute;
          right: 0;
          top: 10px;
          background-color: #cdd6df;
        }
      }

      &__time {
        position: relative;
        cursor: pointer;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        padding: 12px 16px;

        &::after {
          content: "";
          height: 24px;
          width: 2px;
          position: absolute;
          right: 0;
          top: 10px;
          background-color: #cdd6df;
        }
      }

      &__add-guests {
        cursor: pointer;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        padding: 12px 16px;
        color: #d5d5d5;
      }

      &__search {
        cursor: pointer;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background-color: #FF385C;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 7px 7px 7px 0px;
      }
    }

    &__right {
      align-items: center;

      &__switch-host {
        cursor: pointer;
        font-size: 14px;
        line-height: 23px;
        font-weight: 600;
        padding: 12px;
        border-radius: 30px;

        &:hover {
          background-color: #F7F7F7;
        }
      }

      &__switch-language {
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 100%;

        &:hover {
          background-color: #F7F7F7;
        }

        &__img {
          width: 15px;
          height: 15px
        }
      }

      &__settings {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 5px 5px 12px;
        border: 1px solid #D7D7D7;
        border-radius: 45px;

        &:hover {
          box-shadow: 1px 3px 5px 0px rgb(223, 221, 221);
        }

        &__bars {
          width: 15px;
          height: 15px
        }

        &__user {
          position: relative;

          &__img {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            margin-left: 12px;
          }

          &__notifications {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            padding-right: 4px;
            background-color: #FF385C;
            height: 16px;
            width: 16px;
            border-radius: 100%;
            top: -5px;
            right: -8px;
            border: 2px solid #ffffff;
            font-size: 10px;
            line-height: 14px;
            font-weight: 500;
            color: #ffffff
          }
        }
      }

      &__dropdown {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        z-index: 10000;
        top: 65px;
        width: 250px;
        box-shadow: 1px 3px 5px 0px rgb(223, 221, 221);
        border-radius: 10px;
        border: 1px solid #eeeeee;

        @media screen and (min-width: 1200px) {
          right: 73px;
        }

        @media screen and (min-width: 1800px) {
          right: 68px;
        }

        &__top {
          margin-top: 8px;
          padding-bottom: 8px;
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid #D7D7D7;
          font-weight: 600;

          span {
            cursor: pointer;
            padding: 10px 16px;

            &:hover {
              background-color: #eeeeee;
            }
          }
        }

        &__middle {
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid #D7D7D7;
          margin-top: 8px;
          padding-bottom: 8px;

          span {
            cursor: pointer;
            padding: 10px 16px;

            &:hover {
              background-color: #eeeeee;
            }
          }
        }

        &__bottom {
          display: flex;
          flex-direction: column;
          margin-top: 8px;
          padding-bottom: 8px;

          span {
            cursor: pointer;
            padding: 10px 16px;

            &:hover {
              background-color: #eeeeee;
            }
          }
        }
      }
    }

    .menu-icon {
      cursor: pointer;
      position: absolute;
      top: 32px;
      right: 25px;
      width: 20px;
    }

    .mask {
      content: "";
      position: fixed;
      background: rgba(0, 0, 0, .8);
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

    .mobile-nav {
      padding: 1.25rem;
      width: 20rem;
      display: flex;
      flex-direction: column;
      position: fixed;
      z-index: 100;
      background-color: #fff;
      top: 0;
      left: 0;
      bottom: 0;
      overflow-y: auto;
      align-items: flex-start;
      justify-content: flex-start;
      transition: transform .5s cubic-bezier(.7, 0, .3, 1) 0s;

      ul {
        list-style: none;

        .menu-item {
          display: flex;
          flex-direction: column;
          margin: 5px 0;
          color: #000;
          width: 17rem;

          .menu-link {
            line-height: 2.5rem;
            font-weight: 500;
            font-size: 1rem;
          }

          .is-become-host {
            font-weight: 700;

            &::before {
              right: 220px;
              top: 10px;
            }
          }

          .btn-dropdown {
            height: 3rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &::before {
              right: 45px;
              top: 235px;
            }

            span {
              padding: 10px;
              font-size: larger;
            }
          }

          .popover {
            top: 17rem;
            left: 7rem;
          }
        }

        .menu-close {
          position: absolute;
          right: 0;
          top: 0;
          padding: 1.25rem;
          cursor: pointer;
        }
      }
    }
  }
}
</style>
