<template>
  <infinite-loading v-if="items.length" spinner="bubbles" @infinite="infiniteScroll"></infinite-loading>
</template>

<script>
export default {
  props: {
    options: {
      type: Object,
      require: false,
      default(rawProps) {
        return {
          root: null,
          threshold: "0",
          rootMargin: '100px',
        }
      }
    }
  },
  data() {
    return {
      observer: null,
    }
  },
  mounted() {
    
  },
  beforeDestroy() {

  },

  methods: {
    infiniteScroll($state) {
      setTimeout(() => {
        this.page++; // next page
        axios.get(this.url).then(resp => {
          if (resp.data.length > 1) { // check if any left
            resp.data.forEach(item => this.items.push(item)); // push it into the items array so we can display the data
            $state.loaded();
          } else {
            $state.complete();
          }
        })
          .catch(err => {
            console.log(err);
          });
      }, 500);
    }
  }
}
</script>

<style lang="scss" scoped>
.infinite-loading {
  position: absolute;
  background-color: aqua;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100px;
}
</style>