<template>
    <div class="container">
        <header-for-account-setting-item title="Personal info" header="Account" header_link="/account-settings" />
        <ValidationObserver ref="checkUserInfo">
            <div class="info-container">
                <!-- name -->
                <div class="info-container__item" :class="(isEdit && !isActive.name) && 'not-allow'">
                    <div class="info-container__item__info">
                        <span class="info-container__item__info__label" :class="(isEdit && !isActive.name) && 'not-allow'">Legal
                            name</span>
                        <span class="info-container__item__info__value" v-if="isActive.name">This is the name on your travel
                            document, which could be a license or a passport.</span>
                        <span class="info-container__item__info__value" :class="(isEdit && !isActive.name) && 'not-allow'" v-else>{{
                        $auth.$state.user.user_info.name }}</span>
            
                    </div>
                    <button class="info-container__item__btn btn-underline not-allow" disabled v-if="isEdit && !isActive.name"
                        @click="setIsEdit('email')">{{ (isEdit &&
                        isActive.name) ? 'Cancel' : 'Edit'}}</button>
                    <button class="info-container__item__btn btn-underline" v-else @click="setIsEdit('name')">{{ (isEdit &&
                    isActive.name) ? 'Cancel' : 'Edit'}}</button>
                </div>
                <div v-if="isEdit && isActive.name">
                    <ValidationProvider v-slot="{ errors }" :rules="'required|max:30'" name="name">
                        <div class="info-container__item__form-container">
                            <div class="info-container__item__form-container__form-input">
                                <label for="firstName" class="info-container__item__form-container__form-input__label">Name</label>
                                <input type="text" id="firstName" class="info-container__item__form-container__form-input__input"
                                    v-model="user_info.name">
                            </div>
                            <!-- <div class="info-container__item__form-container__form-input">
                                <label for="lastName" class="info-container__item__form-container__form-input__label">Last name</label>
                                <input type="text" id="lastName" class="info-container__item__form-container__form-input__input">
                            </div> -->
                        </div>
                        <small class="text-danger small show_name_validate error">{{ errors[0] }}</small>
                    </ValidationProvider>
                    
                    <button class="btn-primary">Save</button>
                </div>
                <hr>
            
                <!-- gender -->
                <!-- <div class="info-container__item">
                            <div class="info-container__item__info">
                                <span class="info-container__item__info__label">Gender</span>
                                <span class="info-container__item__info__value">Not specified</span>
                            </div>
                            <button class="info-container__item__btn btn-underline" >Edit</button>
                        </div>
                        <hr> -->
            
                <!-- email -->
                <div class="info-container__item" :class="(isEdit && !isActive.email) && 'not-allow'">
                    <div class="info-container__item__info">
                        <span class="info-container__item__info__label" :class="(isEdit && !isActive.email) && 'not-allow'">Email
                            address</span>
                        <span class="info-container__item__info__value" v-if="isActive.email">Use an address you’ll always have
                            access to.</span>
                        <span class="info-container__item__info__value" :class="(isEdit && !isActive.email) && 'not-allow'"
                            v-else>{{$auth.$state.user.email}}</span>
            
                    </div>
                    <button class="info-container__item__btn btn-underline not-allow" disabled v-if="isEdit && !isActive.email"
                        @click="setIsEdit('email')">{{ (isEdit &&
                        isActive.email) ? 'Cancel' : 'Edit'}}</button>
                    <button class="info-container__item__btn btn-underline" v-else @click="setIsEdit('email')">{{ (isEdit &&
                    isActive.email) ? 'Cancel' : 'Edit'}}</button>
                </div>
                <div v-if="isEdit && isActive.email">
                    <ValidationProvider v-slot="{ errors }" :rules="'required|email'" name="email">
                        <div class="info-container__item__form-container">
                            <div class="info-container__item__form-container__form-input">
                                <label for="email" class="info-container__item__form-container__form-input__label">Email address</label>
                                <input type="email" id="email" class="info-container__item__form-container__form-input__input"
                                    v-model="user_info.email">
                            </div>
                        </div>
                        <small class="text-danger small show_name_validate error">{{ errors[0] }}</small>
                    </ValidationProvider>
                    <button class="btn-primary">Save</button>
                </div>
                <hr>
            
                <!-- phone -->
                <div class="info-container__item" :class="(isEdit && !isActive.phone) && 'not-allow'">
                    <div class="info-container__item__info">
                        <span class="info-container__item__info__label" :class="(isEdit && !isActive.phone) && 'not-allow'">Phone
                            number</span>
                        <span class="info-container__item__info__value" v-if="isActive.phone">Your contact number is shared with
                            confirmed guests and Euphoria. You can add other numbers and choose how they’re used.</span>
                        <span class="info-container__item__info__value" :class="(isEdit && !isActive.phone) && 'not-allow'"
                            v-else>{{$auth.$state.user.user_info.phone}}</span>
            
                    </div>
                    <button class="info-container__item__btn btn-underline not-allow" disabled v-if="isEdit && !isActive.phone"
                        @click="setIsEdit('phone')">{{ (isEdit &&
                        isActive.phone) ? 'Cancel' : 'Edit'}}</button>
                    <button class="info-container__item__btn btn-underline" v-else @click="setIsEdit('phone')">{{ (isEdit &&
                    isActive.phone) ? 'Cancel' : 'Edit'}}</button>
                </div>
                <div v-if="isEdit && isActive.phone">
                    <ValidationProvider v-slot="{ errors }" :rules="'required|max:10|numeric'" name="phone number">
                        <div class="info-container__item__form-container">
                            <div class="info-container__item__form-container__form-input">
                                <label for="phone" class="info-container__item__form-container__form-input__label">Phone number</label>
                                <input type="text" id="phone" class="info-container__item__form-container__form-input__input"
                                    v-model="user_info.phone">
                            </div>
                        </div>
                        <small class="text-danger small show_name_validate error">{{ errors[0] }}</small>
                    </ValidationProvider>
                    
                    <button class="btn-primary">Save</button>
                </div>
                <hr>
            
                <!-- address -->
                <div class="info-container__item" :class="(isEdit && !isActive.address) && 'not-allow'">
                    <div class="info-container__item__info">
                        <span class="info-container__item__info__label"
                            :class="(isEdit && !isActive.address) && 'not-allow'">Address</span>
                        <span class="info-container__item__info__value" v-if="isActive.address">Use a permanent address where you
                            can receive mail.</span>
                        <span class="info-container__item__info__value" :class="(isEdit && !isActive.address) && 'not-allow'"
                            v-else>{{ $auth.$state.user.user_info.address || 'Not provided'}}</span>
            
                    </div>
                    <button class="info-container__item__btn btn-underline not-allow" disabled v-if="isEdit && !isActive.address"
                        @click="setIsEdit('address')">{{ (isEdit &&
                        isActive.address) ? 'Cancel' : 'Edit'}}</button>
                    <button class="info-container__item__btn btn-underline" v-else @click="setIsEdit('address')">{{ (isEdit &&
                    isActive.address) ? 'Cancel' : 'Edit'}}</button>
                </div>
                <div v-if="isEdit && isActive.address">
                    <ValidationProvider v-slot="{ errors }" :rules="'required|max:50'" name="address">
                        <div class="info-container__item__form-container">
                            <div class="info-container__item__form-container__form-input">
                                <label for="address" class="info-container__item__form-container__form-input__label">Address</label>
                                <input type="text" id="address" class="info-container__item__form-container__form-input__input"
                                    v-model="user_info.address">
                            </div>
                        </div>
                        <small class="text-danger small show_name_validate error">{{ errors[0] }}</small>
                    </ValidationProvider>
                    <button class="btn-primary">Save</button>
                </div>
                <hr>
            </div>
        </ValidationObserver>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import HeaderForAccountSettingItem from '~/components/HeaderForAccountSettingItem.vue';
    import { ValidationProvider, ValidationObserver } from 'vee-validate';

    @Component({    
        middleware: ['protect-author'],
        components: {
            HeaderForAccountSettingItem,
            ValidationObserver,
            ValidationProvider
        }
    })
    export default class PersonalInfo extends Vue {
        isEdit: Boolean = false
        isActive = {
            name: false,
            gender: false,
            email: false,
            phone: false,
            address: false
        }
        user_info = {
            name: this.$auth.$state.user.user_info.name,
            email: this.$auth.$state.user.email,
            phone: this.$auth.$state.user.user_info.phone,
            address: this.$auth.$state.user.user_info.address
        }

        setIsEdit(current) {
            this.isEdit = !this.isEdit
            this.isActive[current] = !this.isActive[current]
        }

        async updateUserInfo() {
            const result = await (this.$refs.checkUserInfo as any).validate();

            if (result) {
                console.log(this.user_info);
                
            }
        }
    }
</script>

<style lang="scss" scoped>
.error {
    margin-bottom: 10px;
    display: block;
}
.info-container {
    width: 60%;
    float: left;
    margin-bottom: 60px;

    &__item {
        margin: 24px 0;
        border-radius: 1px;
        display: flex;

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex: 1;
            width: 100%;

            &__label {
                color: #222222;
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 5px;
            }

            &__value {
                color: #717171;
                margin-top: 4px;
                font-size: 16px;
                line-height: 18px;
                margin-right: 20px;
            }
        }

        &__form-container {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: calc(100% + 16px);
            margin-bottom: 16px;
            margin-left: -8px;
            margin-right: -8px;

            &__form-input { 
                position: relative;
                cursor: text;
                display: flex;
                margin-left: 8px;
                margin-right: 8px;
                min-height: 56px;
                width: 47.5%;
                flex: 1 1 0%;
                border: none;
                color: rgb(34, 34, 34);
                background-color: #fff;
                border-radius: 8px;
                box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;

                &__label {
                    position: absolute;
                    top: 15px;
                    left: 3px;
                    margin: 0px;
                    padding: 0px;
                    color: rgb(113, 113, 113);
                    font-size: 17px;
                    line-height: 20px;
                    transform: translateY(-8px) scale(0.75);
                }

                &__input {
                    width: 100%;
                    border: none;
                    outline: none;
                    padding: 0;
                    margin: 26px 12px 6px;
                    min-height: 1px;
                    background-color: transparent;
                    appearance: none;
                }
            }
        }
    }
}
.not-allow {
    cursor: not-allowed;
    color: rgb(221, 221, 221) !important;
}
</style>