<template>
    <div class="host-home">
        <div>
            <div class="host-home__top">
                <img src="~/assets/img/logo.png" alt="">
                <div class="host-home__top__setup">
                    <div class="host-home__top__setup__subtitle">Ready to become a host?</div>
                    <button @click="() => isShowLoginSignUp = true">
                        <b-icon icon="house" shift-h="10" scale="1.2" class="icon"></b-icon>
                        <b-icon icon="plus" shift-h="-10" scale="0.9" class="icon"></b-icon>
                        <span>Setup</span>
                    </button>
                </div>
            </div>
            <div class="host-home__main">
                <h2 class="host-home__main__title">Make it easy with Euphoria Setup</h2>
                <div class="host-home__main__img">
                    <img src="https://a0.muscache.com/im/pictures/65214d06-ffb4-4b70-93c0-01d368e76649.jpg?im_w=2560&im_q=highq"
                        alt="">
                </div>
                <div class="host-home__main__content">
                    <div class="host-home__main__content__item">
                        <h3>One-to-one guidance from a Superhost</h3>
                        <div class="host-home__main__content__item__desc">We’ll match you with a Superhost in your area, who’ll
                            guide you from your first question to your first guest—by phone,
                            video call, or chat.</div>
                    </div>
                    <div class="host-home__main__content__item">
                        <h3>An experienced guest for your first booking</h3>
                        <div class="host-home__main__content__item__desc">For your first booking, you can choose to welcome an
                            experienced guest who has at least three stays and a good track
                            record on Euphoria.</div>
                    </div>
                    <div class="host-home__main__content__item">
                        <h3>Specialized support from Euphoria</h3>
                        <div class="host-home__main__content__item__desc">New Hosts get one-tap access to specially trained
                            Community Support agents who can help with everything from account
                            issues to billing support.</div>
                    </div>
                </div>
            </div>
        </div>
        <full-modal v-if="isShowLoginSignUp" v-scroll-lock="closeLoginSignup">
            <login-signup @close-login-signup="closeLoginSignup" :isLogin="isLogin" @change-to-signup="changeToSignup" />
        </full-modal>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import LoginSignup from '~/components/LoginSignup.vue';
import FullModal from '~/argon-component/FullModal.vue';

@Component({
    layout: 'empty',
    components: {
        LoginSignup, FullModal
    },
})
export default class HostHome extends Vue {
    isShowLoginSignUp = false;
    isLogin = true;

    changeToSignup(value) {
        this.isLogin = value;
    }

    closeLoginSignup() {
        this.isShowLoginSignUp = false
    }
}
</script>

<style lang="scss" scoped>
.icon {
    stroke: currentColor;
    stroke-width: 0.5;
}
.host-home{

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 0 auto;

        img {
            width: 200px;
        }

        &__setup {
            display: flex;
            align-items: center;
            justify-content: center;

            &__subtitle {
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
            }

            button {
                margin-left: 30px;
                border: none;
                padding: 10px 70px 10px 10px;
                border-radius: 4px;
                font-size: 20px;
                line-height: 24px;
                font-weight: 600;
                color: #fff;
                background: linear-gradient(to right, #008689 0%,
                            #01aeb1 100%,
                            #01aeb1 50%);
                position: relative;

                &:hover {
                    background: linear-gradient(to left, #008689 0%,
                            #01aeb1 100%,
                            #01aeb1 50%);
                }

                span {
                    position: absolute;
                    top: 9px;
                    right: 20px;
                }
            }
        }
    }

    &__main {
        margin: 0 auto;
        padding-right: 80px;
        padding-left: 80px;
        width: 75%;
        margin-top: 50px;

        &__title {
            text-align: start;
            margin-top: 0;
            margin-bottom: 32px;
            padding-right: 24px;
            padding-left: 24px;
            color: #222222;
            font-size: 26px;
            line-height: 30px;
            font-weight: 600; 

            @media screen and (min-width: 1128px) {
                text-align: center;
                margin-bottom: 40px;
                font-size: 40px;
                line-height: 44px;

            }
            @media screen and (min-width: 744px) {
                padding-right: 40px;
                padding-left: 40px;
                font-size: 36px;
                line-height: 40px;
            }
        }

        &__img {
            display: inline-block;
            vertical-align: bottom;
            height: 100%;
            width: 100%;
            min-height: 1px;
            background-position: 50% 50%;
            background-repeat: no-repeat;

            img {
                height: 100%;
                width: 100%;
                position: static;
                object-fit: cover;
                object-position: center top;
                vertical-align: bottom;
            }
        }

        &__content {
            margin-top: 40px;
            padding: 0 24px;

            @media screen and (min-width: 744px) {
                padding: 0 40px;
            }

            @media screen and (min-width: 1128px) {
                display: flex;
                flex-wrap: wrap;
                gap: 32px;
            }

            &__item {
                margin-bottom: 32px;
                flex: 0 1 calc(33% - 19px);

                @media screen and (min-width: 1128px) {
                    margin-bottom: 0;
                }
                @media screen and (min-width: 744px) {
                    margin-bottom: 24px;
                }
                @media screen and (min-width: 375px) {
                    margin-bottom: 40px;
                }

                h3 {
                    margin-top: 0;
                    margin-bottom: 8px;
                    color: #222222;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 600;

                    @media screen and (min-width: 744px) {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }

                &__desc {
                    color: #717171;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;

                    @media screen and (min-width: 375px) {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}
</style>