<template>
    <div class="manage-container">
        <div class="manage-container__content">
            <div class="manage-container__content__icon">
                <img src="~/assets/icons/reservation.svg" alt="">
            </div>
            <div class="manage-container__content__text">{{message}}</div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue, Prop } from 'vue-property-decorator';

    @Component
    export default class ReservationsManage extends Vue {
        @Prop({ type: String }) message!: String;
    }
</script>

<style lang="scss" scoped>
.manage-container{
    background: rgb(247, 247, 247);
    height: 272px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 744px) {
        height: 200px;
    }

    &__content {
        max-width: 200px;
        text-align: center;

        &__icon {
            display: inline-block;
            margin-bottom: 24px;

            img {
                display: block;
                height: 32px;
                width: 32px;
                fill: rgb(34, 34, 34)
            }
        }

        &__text {
            white-space: pre-line;
            max-width: 100%;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            color: #222222;
        }
    }
}
</style>