<template>
    <div class="menu-container">
        <div class="menu-container__main">
            <div class="menu-container__main__scroll">
                <ul class="menu-container__main__scroll__detail">
                    <div class="menu-container__main__scroll__detail__header">Menu</div>
                    <nuxt-link :to="item.path" class="menu-container__main__scroll__detail__option" v-for="item in listMenu" :key="item.id">
                        <div class="menu-container__main__scroll__detail__option__icon">
                            <img :src="require(`~/assets/icons/${item.icon}.svg`)" alt="">
                        </div>
                        <div class="menu-container__main__scroll__detail__option__label">{{item.name}}</div>
                    </nuxt-link>
                    <hr>
                    <div class="menu-container__main__scroll__detail__header">Account</div>
                    <nuxt-link :to="item.path" class="menu-container__main__scroll__detail__option" v-for="item in listAccountMenu" :key="item.id">
                        <div class="menu-container__main__scroll__detail__option__icon">
                            <img :src="require(`~/assets/icons/${item.icon}.svg`)" alt="">
                        </div>
                        <div class="menu-container__main__scroll__detail__option__label">{{item.name}}</div>
                    </nuxt-link>
                    <hr>
                    <div class="menu-container__main__scroll__detail__header">Settings</div>
                    <nuxt-link :to="item.path" class="menu-container__main__scroll__detail__option" v-for="item in listSettingsMenu" :key="item.id">
                        <div class="menu-container__main__scroll__detail__option__icon">
                            <img :src="require(`~/assets/icons/${item.icon}.svg`)" alt="">
                        </div>
                        <div class="menu-container__main__scroll__detail__option__label">{{item.name}}</div>
                    </nuxt-link>
                    <hr>
                    <div class="menu-container__main__scroll__detail__btn-container">
                        <button @click="goBackHome">Switch to traveling</button>
                    </div>
                    <div class="menu-container__main__scroll__detail__btn-container">
                        <button @click="goToLogOut">Log out</button>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue, Prop } from 'vue-property-decorator';

    @Component
    export default class ResponsiveMenu extends Vue {
        listMenu = [
            {
                id: 1,
                name: 'Today',
                icon: 'today',
                path: '/hosting',
            },
            {
                id: 2,
                name: 'Inbox',
                icon: 'inbox',
                path: '/',
            },
            {
                id: 3,
                name: 'Calendar',
                icon: 'calendar',
                path: '/',
            },
            {
                id: 4,
                name: 'Insights',
                icon: 'insights',
                path: '/hosting',
            },
            {
                id: 5,
                name: 'Listings',
                icon: 'listings',
                path: '/hosting',
            },
            {
                id: 6,
                name: 'Reservations',
                icon: 'reservations',
                path: '/hosting',
            },
            {
                id: 7,
                name: 'Transaction history',
                icon: 'transaction',
                path: '/hosting',
            },
        ]

        listAccountMenu = [
            {
                id: 8,
                name: 'Your profile',
                icon: 'profile',
                path: `/users/show/${this.$auth.$state.user.id}`,
            },
            {
                id: 9,
                name: 'Account settings',
                icon: 'settings',
                path: '/account-settings',
            },
            {
                id: 10,
                name: 'Notifications',
                icon: 'notification',
                path: '/',
            },
            {
                id: 11,
                name: 'Create a new listing',
                icon: 'new-listing',
                path: '/',
            },
        ]
        listSettingsMenu = [
            {
                id: 12,
                name: 'Language and transition',
                icon: 'globe-solid',
                path: `/`,
            },
            {
                id: 13,
                name: '$ USD',
                icon: 'currency',
                path: '/',
            },
        ]

        clearStorage(auth) {
            //auth._token_expiration.local
            const tokenKey = '_token.' + auth.strategy.name;
            const refreshTokenKey = '_refresh_token.' + auth.strategy.name;
            const tokenExpiresAt = '_token_expiration.' + auth.strategy.name;
            const refreshTokenExpiresAt = '_refresh_token_expiration.' + auth.strategy.name;
            auth.$storage.removeUniversal(tokenKey);
            auth.$storage.removeUniversal(refreshTokenKey);
            auth.$storage.removeUniversal(tokenExpiresAt);
            auth.$storage.removeUniversal(refreshTokenExpiresAt);
            auth.$storage.removeUniversal('strategy');
        }

        goToLogOut() {
            this.$auth.logout().then(() => {
                this.clearStorage(this.$auth);
                this.$router.push(this.localePath('/'))
            })
        }

        goBackHome() {
            this.$router.push(this.localePath('/'))
        }
    }
</script>

<style lang="scss" scoped>
.menu-container{
    position: fixed;
    z-index: -1000;
    left: 0;
    width: 100%;
    height: 100%;

    @media screen and (min-width: 1128px){
        display: none;
    }

    &__main {
        box-shadow: rgb(0 0 0 / 12%);
        top: 70px;
        overflow: hidden;
        position: absolute;
        bottom: 0px;
        transition: -ms-transform 0.4s ease 0s,
            -webkit-transform 0.4s ease 0s,
            transform 0.4s ease 0s;
        width: 100%;
        z-index: 2999;
        background-color: #fff;
        transform: translateY(0px);

        &__scroll {
            height: 100%;
            overflow-y: auto;

            &__detail {
                padding-bottom: 80px;
                padding-left: 24px;
                padding-right: 24px;
                background: #fff;
                list-style: none;
                margin: 0;

                &__header {
                    color: rgb(113, 113, 113);
                    text-transform: uppercase;
                    font-weight: 800;
                    margin-top: 40px;
                    margin-bottom: 12px;
                    font-size: 12px;
                    line-height: 16px;
                }

                &__option{
                    appearance: none;
                    background: transparent;
                    border: 0;
                    color: rgb(34, 34, 34);
                    display: flex;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 18px;
                    margin: 0;
                    outline: none;
                    overflow: visible;
                    padding: 8px 0px;
                    text-align: inherit;
                    text-decoration: none;
                    white-space: nowrap;
                    width: 100%;
                    align-items: center;

                    &:hover {
                        background-color: rgb(247, 247, 247);
                    }

                    &__icon {
                        padding-right: 8px;
                        position: relative;

                        img {
                            display: block;
                            height: 24px;
                            width: 24px;
                            fill: currentColor;
                        }
                    }
                }

                hr {
                    margin: 40px 0;
                }

                &__btn-container {
                    margin-bottom: 16px;

                    button {
                        display: inline-block;
                        margin: 0;
                        position: relative;
                        text-align: center;
                        font-size: 14px;
                        line-height: 18px;
                        font-weight: 600;
                        border-radius: 8px;
                        border: 1px solid #222222;
                        outline: none;
                        padding: 7px 15px;
                        background: #fff;
                        color: #222222;
                        width: 100%;

                        &:hover {
                            background: #f7f7f7;
                            border-color: #000;
                        }
                    }
                }
            }
        }
    }
}
</style>