<template>
    <div class="top-nav">
        <nav class="top-nav__container">
            <div class="top-nav__container__logo">
                <nuxt-link to="/" class="top-nav__container__logo__link">
                    <img src="~/assets/img/logo.png" alt="logo">
                </nuxt-link>
            </div>
            <div class="top-nav__container__nav">
                <div class="top-nav__container__nav__bar">
                    <div class="top-nav__container__nav__bar__item">
                        <nuxt-link :to="goToHosting()" class="top-nav__container__nav__bar__item__link">
                            <div class="top-nav__container__nav__bar__item__link__title" :class="getCurrentActive === 'today' && 'is-active'">Today</div>
                        </nuxt-link>
                    </div>
                    <div class="top-nav__container__nav__bar__item">
                        <nuxt-link to="/hosting" class="top-nav__container__nav__bar__item__link">
                            <div class="top-nav__container__nav__bar__item__link__title">Inbox</div>
                        </nuxt-link>
                    </div>
                    <div class="top-nav__container__nav__bar__item">
                        <nuxt-link to="/hosting" class="top-nav__container__nav__bar__item__link">
                            <div class="top-nav__container__nav__bar__item__link__title">Calendar</div>
                        </nuxt-link>
                    </div>
                    <div class="top-nav__container__nav__bar__item">
                        <nuxt-link to="/hosting" class="top-nav__container__nav__bar__item__link">
                            <div class="top-nav__container__nav__bar__item__link__title">Insights</div>
                        </nuxt-link>
                    </div>
                    <div class="top-nav__container__nav__bar__item">
                        <button class="top-nav__container__nav__bar__item__link" :class="isOpenMenuDropdown && getCurrentActive === 'menu' && 'btn-menu-active'" @click="toggleMenuDropdown">
                            <div class="top-nav__container__nav__bar__item__link__title">Menu <b-icon icon="caret-down-fill" scale="0.9"></b-icon></div>
                        </button>
                        <div class="top-nav-bar__right__dropdown menu" v-click-outside="() => isOpenMenuDropdown = false"
                            v-if="isOpenMenuDropdown && $auth.loggedIn">
                            <div class="top-nav-bar__right__dropdown__top">
                                <span @click="goToListings()">Listings</span>
                                <span @click="goToReservations()">Reservations</span>
                                <span>Create a new listing</span>
                                <span>Transaction history</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-nav__container__btn">
                <div class="top-nav__container__btn__notifications">
                    <button class="top-nav__container__btn__notifications__show-noti" ><img src="~/assets/icons/notification.svg" alt=""></button>
                </div>
                <div class="top-nav__container__btn__avatar">
                    <button class="top-nav__container__btn__avatar__show-options" @click="toggleRightDropdown">
                        <div class="top-nav__container__btn__avatar__show-options__img-container">
                            <img :src="$auth.$state.user.user_info.avatar" alt=""
                                v-if="$auth.loggedIn && $auth.$state.user.user_info.avatar">
                            <img src="https://a0.muscache.com/defaults/user_pic-225x225.png?v=3"
                                style="background-color: aquamarine;" alt="" v-else>
                        </div>
                    </button>
                    <div class="top-nav-bar__right__dropdown" v-click-outside="() => isOpenRightDropdown = false" v-if="isOpenRightDropdown && $auth.loggedIn">
                        <div class="top-nav-bar__right__dropdown__top">
                            <span @click="goToProfile">Profile</span>
                            <span @click="goToAccount">Account</span>
                            <span>Visit the Help Center</span>
                        </div>
                        <div class="top-nav-bar__right__dropdown__middle">
                            <span>Language and translation</span>
                            <span>$ USD</span>
                        </div>
                        <div class="top-nav-bar__right__dropdown__bottom">
                            <span @click="goBackHome">Switch to traveling</span>
                            <span @click="goToLogOut">Log out</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-nav__container__btn responsive">
                <div class="top-nav__container__btn__notifications">
                    <button class="top-nav__container__btn__notifications__show-noti" @click="toggleMenuResponsive">
                        <img src="~/assets/icons/menu.svg" alt="" v-if="!isOpenMenuRes">
                        <img src="~/assets/icons/close.svg" alt="" v-else>
                    </button>
                </div>
            </div>
            <responsive-menu v-if="isOpenMenuRes" v-scroll-lock="toggleMenuResponsive"/>
        </nav>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ResponsiveMenu from '~/components/Hosting/ResponsiveMenu.vue';

@Component({
    components: {
        ResponsiveMenu,
    }
})
export default class TopNavBarHost extends Vue {
    isOpenRightDropdown: Boolean = false;
    isOpenMenuDropdown: Boolean = false;
    isOpenMenuRes: Boolean = false;
    currentActive = 'today';

    toggleRightDropdown() {
        this.isOpenRightDropdown =!this.isOpenRightDropdown;
    }

    toggleMenuDropdown() {
        this.isOpenMenuDropdown =!this.isOpenMenuDropdown;
    }

    toggleMenuResponsive() {
        this.isOpenMenuRes = !this.isOpenMenuRes;
    }

    get getCurrentActive() {
        return this.currentActive;
    }

    clearStorage(auth) {
        //auth._token_expiration.local
        const tokenKey = '_token.' + auth.strategy.name;
        const refreshTokenKey = '_refresh_token.' + auth.strategy.name;
        const tokenExpiresAt = '_token_expiration.' + auth.strategy.name;
        const refreshTokenExpiresAt = '_refresh_token_expiration.' + auth.strategy.name;
        auth.$storage.removeUniversal(tokenKey);
        auth.$storage.removeUniversal(refreshTokenKey);
        auth.$storage.removeUniversal(tokenExpiresAt);
        auth.$storage.removeUniversal(refreshTokenExpiresAt);
        auth.$storage.removeUniversal('strategy');
    }

    goToLogOut() {
        this.isOpenRightDropdown = false;
        this.$auth.logout().then(() => {
            this.clearStorage(this.$auth);
            this.$router.push(this.localePath('/'))
        })
    }

    goBackHome() {
        this.isOpenRightDropdown = false;
        this.$router.push(this.localePath('/'))
    }

    goToProfile() {
        this.isOpenRightDropdown = false;
        this.$router.push(this.localePath(`/users/show/${this.$auth.$state.user.id}`))
    }

    goToAccount() {
        this.isOpenRightDropdown = false;
        this.$router.push(this.localePath(`/account-settings`))
    }

    goToHosting() {
        this.currentActive = 'today'
        return this.localePath('/hosting')
    }

    goToListings() {
        this.isOpenMenuDropdown = false;
        this.currentActive = 'menu';
        this.$router.push(this.localePath(`/hosting/listings`))
    }

    goToReservations() {
        this.isOpenMenuDropdown = false;
        this.currentActive = 'menu';
        this.$router.push(this.localePath(`/hosting/reservations`))
    }
}
</script>

<style lang="scss" scoped>
.top-nav-bar {
    &__right {
        align-items: center;

        &__dropdown {
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            z-index: 10000;
            top: 65px;
            right: 20px;
            width: 250px;
            box-shadow: 1px 3px 5px 0px rgb(223, 221, 221);
            border-radius: 10px;
            border: 1px solid #eeeeee;

            &__top {
                margin-top: 8px;
                padding-bottom: 8px;
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid #D7D7D7;
                font-weight: 600;

                span {
                    cursor: pointer;
                    padding: 10px 16px;

                    &:hover {
                        background-color: #eeeeee;
                    }
                }
            }

            &__middle {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid #D7D7D7;
                margin-top: 8px;
                padding-bottom: 8px;

                span {
                    cursor: pointer;
                    padding: 10px 16px;

                    &:hover {
                        background-color: #eeeeee;
                    }
                }
            }

            &__bottom {
                display: flex;
                flex-direction: column;
                margin-top: 8px;
                padding-bottom: 8px;

                span {
                    cursor: pointer;
                    padding: 10px 16px;

                    &:hover {
                        background-color: #eeeeee;
                    }
                }
            }
        }
    }
}
.responsive {
    display: none !important;
    margin-right: 10px !important;

    @media screen and (max-width: 1128px) {
        display: inline-flex !important;
    }
}
.is-active {
    color: #222222 !important;

    &::before {
        background: currentColor;
        border-radius: 1px;
        content: '';
        height: 2px;
        left: 50%;
        bottom: 0;
        margin-left: -9px;
        position: absolute;
        width: 18px;
        transform: scaleX(1);
    }

    &:hover::before {
        display: none;
    }
}
.top-nav {
    position: sticky;
    top: 0;
    width: 100%;
    align-items: center;
    height: 80px;
    padding: 0 !important;
    margin-bottom: 0px !important;
    top: 0;
    z-index: 999;

    &__container {
        background: #fff;
        border-bottom: 1px solid #e4e4e4;
        display: flex;

        &__logo {
            list-style: none;
            display: flex;
            flex-wrap: nowrap;
            flex-shrink: 0;
            align-items: center;
            padding-left: 21px;
            padding-right: 21px;

            &__link {
                outline: none;
                align-items: center;
                display: inline-flex;
                height: 69px;
                position: relative;
                vertical-align: middle;
                z-index: 1;

                img {
                    width: 150px;
                }
            }
        }

        &__nav {
            list-style: none;
            display: flex;
            flex-wrap: nowrap;
            flex-shrink: 0;
            align-items: center;
            height: 100%;
            flex-grow: 1;
            justify-content: center;

            @media screen and (max-width: 1128px) {
                visibility: hidden !important;
            }

            &__bar {
                display: flex;
                white-space: nowrap;
                padding-top: 15px;

                &__item {
                    display: inline-block;
                    position: relative;

                    &__link {
                        position: relative;
                        border: none;
                        border-radius: 8px;
                        outline: none;
                        text-decoration: none;
                        height: 100%;
                        background-color: #fff;

                        &__title {
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: 600;
                            padding: 10px 16px;
                            text-align: center;
                            border-radius: 40px;
                            color: #717171;
                            position: relative;

                            &:hover {
                                opacity: 1;
                                text-decoration: none;
                                background: #f7f7f7;
                            }
                        }
                    }
                }
            }
        }

        &__btn {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            flex-shrink: 0;
            justify-content: flex-end;

            @media screen and (max-width: 1128px) {
                display: none;
            }

            &__notifications {
                margin-right: 8px;
                position: relative;

                &__show-noti{
                    display: inline-flex;
                    border-radius: 50%;
                    border: none;
                    outline: none;
                    margin: 0;
                    padding: 0;
                    color: #222222;
                    position: relative;
                    background: transparent;
                    width: 40px;
                    height: 40px;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    &:before{
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 40px;
                        height: 40px;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        border: 1px solid   #dddddd;
                    }

                    &:hover::before {
                        background: #fafafa;
                    }

                    &:focus::before {
                        border: 2px solid #000;
                    }

                    img {
                        display: block;
                        fill: none;
                        height: 16px;
                        width: 16px;
                        stroke: currentColor;
                        stroke-width: 3;
                        overflow: visible;
                        position: relative;
                        z-index: 1;
                    }
                }
            }

            &__avatar {
                margin-left: 16px;
                margin-right: 24px;

                &__show-options {
                    appearance: none;
                    background: transparent;
                    border: 1px solid #dddddd;
                    color: #222222;
                    display: inline-flex;
                    margin: 0;
                    outline: none;
                    padding: 3px;
                    text-decoration: none;
                    align-items: center;
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    position: relative;
                    z-index: 1;

                    &:hover {
                        background: #fafafa;
                    }

                    &:focus {
                        border: 2px solid #000;
                    }

                    &__img-container {
                        width: 100%;
                        height: 100%;

                        img {
                            background: currentColor;
                            border-radius: 50%;
                            display: block;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.btn-menu-active {
    border: 2px solid rgb(34, 34, 34);
    color: #000;
    border-radius: 30px;
    padding: 0;
}

.menu {
    position: absolute;
    left: 10px;
    top: 50px;
}
</style>