<template>
    <main>
        <div class="section">
            <header class="section__header">
                <nuxt-link class="section__header__back-btn" to="/account-settings/login-security">
                    <b-icon icon="chevron-left"></b-icon>
                </nuxt-link>
                <h2 class="section__header__title">Forgot password?</h2>
                <div class="section__header__div"></div>
            </header>
            <div class="section__main">
                <div class="section__main__desc">Enter the email address associated with your account, and we’ll email you a
                    link to reset your password.</div>
                <ValidationObserver ref="checkEmail" tag="form">
                    <form action="" class="section__main__form-control">
                        <ValidationProvider v-slot="{ errors }" :rules="'required|email'" name="email">
                            <input type="email" placeholder="Email" class="section__main__form-control__input"
                                v-model="email">
                            <small class="text-danger small show_name_validate">{{ errors[0] }}</small>
                        </ValidationProvider>
    
                        <button class="section__main__form-control__btn" @click.prevent="handleForgetPassword">Send reset
                            link</button>
                    </form>
                </ValidationObserver>
            </div>
        </div>
    </main>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
    import { ValidationObserver, ValidationProvider } from 'vee-validate';

    @Component({
        components: {
            ValidationObserver, ValidationProvider
        },
        layout: 'logo-only',
    })
    export default class ForgotPassword extends Vue {
        email = ''

        async handleForgetPassword() {
            const result = await (this.$refs.checkEmail as any).validate();

            if (result) {
                try {
                    const res = await this.$api.auth.forgetPassword(this.email)
                    console.log('success');
                    
                } catch (err) {
                    console.log(err);
                    
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
main {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;

    .section {
        border: 1px solid rgb(176, 176, 176);
        border-radius: 12px;
        position: relative;
        max-width: 568px;
        width: 100%;
        margin-top: 32px;
        margin-bottom: 32px;
        overflow: visible;

        &__header{
            display: flex;
            flex: 0 0 auto;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgb(235, 235, 235);
            padding: 0px 24px;
            color: rgb(34, 34, 34);
            font-size: 16px;
            line-height: 20px;
            font-weight: 800;
            min-height: 64px;

            &__back-btn {
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
                appearance: none;
                background: transparent;
                border: 0px;
                margin: 0px;
                padding: 0px;
                color: rgb(34, 34, 34);
                text-decoration: none;
                outline: none;
            }

            &__title {
                flex: 0 1 auto;
                text-align: center;
                margin: 0 16px;
                font-size: 1em;
                font-weight: inherit;
                line-height: inherit;
                padding: 0px;
            }

            &__div {
                flex: 0 0 16px;
            }
        }

        &__main {
            padding: 32px;

            &__desc{
                margin-bottom: 16px;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
            }

            &__form-control {
                &__input {
                    min-height: 56px;
                    width: 100%;
                    color: rgb(34, 34, 34);
                    border-radius: 8px;
                    background-color: #fff;
                    box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 400;
                    border: none;
                    padding: 18px 12px;

                    &:focus {
                        box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset;
                    }
                }

                &__btn {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 600;
                    border-radius: 8px;
                    outline: none;
                    padding: 14px 24px;
                    border: none;
                    background-color: #222222;
                    color: #fff;
                    width: 100%;
                    margin-top: 16px;
                }
            }
        }
    }
}
</style>