<template>
  <div class="base-select-box">
    <client-only>
      <v-select v-model="value" deselect-label="Can't remove this value" track-by="name" label="name"
        placeholder="Select one" multiple  :options="['a', 'b', 'c']" :searchable="false" :allow-empty="false">

      </v-select>
    </client-only>

  </div>

</template>

<script>
export default {
  props: ['listCategories'],
  components: {
  },
  data() {
    return {
      value: [],
    };
  }
}
</script>

<style lang="scss" scoped>
.base-select-box {
  .select-box {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #CDD6DF;
  }
}
</style>