<template>
  <div class="base-select-box">
    <select v-model="selected">
      <option disabled value="">Please select one</option>
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>
  </div>

</template>

<script>
export default {
  props: ['listCategories'],
  components: {
  },
  data() {
    return {
      value: [],
    };
  }
}
</script>

<style lang="scss" scoped>
.base-select-box {
  .select-box {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #CDD6DF;
  }
}
</style>