<template>
  <div class="base-input">
    <input :type="$attrs.checkType" @input="handleChange" autocomplete="off" v-model="valueInit" :placeholder="$attrs.placeholder" :id="$attrs.idInput" :disabled="Boolean($attrs.disabled)">
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'nuxt-property-decorator';
@Component({

})
export default class BaseInput extends Vue{
  @Prop({ type: [String], default: '' }) value;
  valueInit = '';

  handleChange(){
    this.$emit('input', this.valueInit);
  }

}
</script>

<style lang="scss" scoped>
.base-input{
  input{
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #CDD6DF;

    &::placeholder{
      color: #CDD6DF;
    }
  }
}

</style>