<template>
  <div class="skeleton" :style="cssProps">
  </div>
</template>

<script>
export default {
  props: {
    options: {
      type: Object,
      required: true,
      default: {
        function(a) {
          return {
            height: '0px',
            width: '0px',
            radius: '',
          }
        }
      }
    }
  },
  computed: {
    cssProps() {
      return {
        '--height-component': this.options.height,
        '--width-component': this.options.width,
        '--radius-content': this.options.radius
      }
    }
  }
}
</script>

<style lang="scss" scoped>
$height: var(--height-component);
$width: var(--width-component);
$radius: var(--radius-content);
.skeleton {
  height: $height;
  width: $width;
  border-radius: $radius;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
</style>