<template>
    <div >
        <top-steps-review :currentActive="currentComponent" />
        <div class="main">
            <info-for-review :booking="booking" :home="home" />
            <component v-bind:is="currentComponent" ref="component" :home="home" :listRating="listRating" :review="review" @handle-change="handleChange" @go-to-next-step="changeCurrentComponent"></component>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TopStepsReview from '~/components/Reviews/Details/TopStepsReview.vue';
import InfoForReview from '~/components/Reviews/Details/InfoForReview.vue';
import StarRating from '~/components/Reviews/Details/StarRating.vue';
import PublicReview from '~/components/Reviews/Details/PublicReview.vue';
import PrivateNote from '~/components/Reviews/Details/PrivateNote.vue';
import { Booking } from '~/modals/Booking/Booking';
import { plainToClass } from 'class-transformer';
import { Home } from '~/modals/Home/Home';
import Done from '~/components/Reviews/Details/Done.vue';

@Component({
    layout: 'empty',
    middleware: ['protect-author'],
    components: {
        TopStepsReview, InfoForReview, StarRating, PublicReview, PrivateNote, Done
    }
})
export default class ReviewsDetail extends Vue {
    booking: Booking = {}
    home: Home = {}

    currentComponent = 'star-rating'

    listRating = [
        {
            label: 'cleanliness',
            value: 0
        },
        {
            label: 'accuracy',
            value: 0
        },
        {
            label: 'communication',
            value: 0
        },
        {
            label: 'checkIn',
            value: 0
        },
        {
            label: 'location',
            value: 0
        },
        {
            label: 'value',
            value: 0
        },

    ]

    review = '';

    changeCurrentComponent(value) {
        this.currentComponent = value;
    }

    handleChange(value) {
        this.review = value;
    }

    async asyncData({ $api, params }) {
        let booking: Booking = {}
        let home: Home = {}

        try {
            const response = await $api.booking.getBookingDetailsByClient(params.slug);
            booking = plainToClass(Booking, response.data.data);
            const res = await $api.home.getHomeDetail(booking.home?.id);
            home = plainToClass(Home, res.data.data);   
        } catch (error) {
            console.log(error);
        }

        return { booking, home }
    }
}
</script>

<style lang="scss" scoped>
.main {
    display: flex;
    width: 60%;
    margin: 0 auto;
    gap: 7rem;
}
</style>