<template>
  <div class="create-home container">
    <div class="create-home__header d-flex justify-content-center">
      <h1>Đăng Nhà Cho Thuê</h1>
    </div>
    <div class="create-home__container">
      <div class="create-home__container__left col-3">
        <div class="create-home__container__left__list">
          <div class="create-home__container__left__list__item" :class="{ 'isActive': item.isActive }" @click="updateComponent(item.id)"
            v-for="item in listAgents" :key="item.id">
            {{ item.title }}
          </div>
        </div>
      </div>

      <div class="create-home__container__right col-7">
        <div class="create-home__container__right__top">
          <validation-observer ref="obs">
            <keep-alive>
              <component v-bind:is="currentComponent" v-on="vOnListener">
              </component>
            </keep-alive>
          </validation-observer>
        </div>

        <div class="create-home__container__right__bottom">
          <div class="btn-cancel">
            Cancel
          </div>
          <div @click="onSave" class="btn-save">
            Save
          </div>
        </div>
      </div>
    </div>

  </div>



</template>

<script lang="ts">
import { ValidationObserver } from 'vee-validate';
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import QuillEditor from '~/components/QuillEditor.vue';
import {Home} from '~/modals/Home/Home'
import IntroCreateHome from '~/components/Home/Admin/IntroCreateHome.vue';
import UtilityComponent from '~/components/Home/Admin/UtilityComponent.vue';
import UploadImageCreateHome from '~/components/Home/Admin/UploadImageCreateHome.vue';

import listAgents from '~/assets/fake-data/listAgents.json'

@Component({
  components: {
    QuillEditor,
    ValidationObserver,
    IntroCreateHome,
    UtilityComponent,
    UploadImageCreateHome
  }
})
export default class CreateHome extends Vue {
  dataHome: Home = new Home();
  listAgents = listAgents["listAgents"];
  listCategories = [];
  vOnListener = {};
  listComponents = {
    1 : 'IntroCreateHome',
    2 : 'UtilityComponent',
    3 : 'UploadImageCreateHome'
  }

  currentComponent = 'IntroCreateHome';
  
  async fetch({ store }) {
    if (store.state.category.listOptionsHome.length == 0) {
      await store.dispatch('category/fetchListOptionHome');
    }
  }

  mounted() {
  }

  get getCategories() {
    return this.$store.state.category.categories;
  }

  updateComponent(id){
    this.currentComponent = this.listComponents[id];
    let returnArr = this.listAgents.map(item => {
      if(item.isActive == true && item.id !== id){
        item.isActive = false;
        return item;
      }
      else if(item.isActive == false && item.id == id){
        item.isActive = true;
        return item;
      }
      else return item;
    });
    this.listAgents = returnArr;
  }

  onSave(){
  }
}
</script>
  
<style lang="scss" scoped>
.create-home {

  &__header {}

  &__container {
    display: flex;
    flex-direction: row;

    &__left {

      &__list {
        display: flex;
        flex-direction: column;

        &__item {
          cursor: pointer;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          margin-top: 16px;
          padding: 5px 10px;
          border: 1px solid grey;

          &:first-child {
            margin-top: 0px;
          }

          &.isActive {
            background-color: $primary;
          }
        }
      }

    }

    &__right {

      &__top {
        border: 1px solid grey;
        height: 500px;
        padding: 24px;
        overflow-y: scroll;
      }

      &__bottom {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 24px;

        .btn-cancel {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-weight: 600;
          border-radius: 10px;
          width: 200px;
          font-size: 24px;
          line-height: 64px;
          letter-spacing: 0.05rem;
          background-color: $second-bg;
          margin-right: 24px;
        }

        .btn-save {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-weight: 600;
          color: $primary-bg;
          border-radius: 10px;
          width: 200px;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: 0.05rem;
          background-color: $primary;
        }
      }

    }
  }
}
</style>