<template>
  <transition name="modal">
    <div class="modal-mask" :class="{'not_ie': !$isIE}" :style="$device.isMobile ? 'overflow-y: scroll; -webkit-overflow-scrolling: touch;' : ''">
      <div class="modal-mask" role="dialog" aria-modal="true" aria-hidden="true" tabindex="-1" :class="{'not_ie': !$isIE}"> 
        <div class="modal-container-x">
          <slot></slot>
        </div>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";

@Component({})
export default class FullModal extends Vue {

  mounted() {
    addEventListener('keyup', (e) => {
      if(e.keyCode == 27){
        this.$emit('close-modal')
      }
    })
  }
}
</script>

<style scope>
.modal-mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: #000000B2 !important;
}
.modal-mask.not_ie {
  transition: opacity 0.01s ease;
}

.modal-container-x {
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  transition: all 0.3s ease;
}

@supports (-webkit-touch-callout: none) {
  .modal-mask {
    max-height: none !important;
    height: 101% !important;
    overflow-y: scroll !important; /*  Ensure that the modal is scroll-able */
    -webkit-overflow-scrolling: touch !important; /* Avoid having to use 2 finger scroll on iOS    */
  }
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
