<template>
  <div id="default-layout">
    <top-nav-bar/>
    <nuxt/>
    <footer-bar/>
  </div>
</template>

<script lang="ts">
import {Vue, Component, Prop} from 'nuxt-property-decorator';
import TopNavBar from '~/components/TopNavBar.vue';
import FooterBar from '~/components/FooterBar.vue';
@Component({
  components: {
    TopNavBar,
  }
})
export default class DefaultLayout extends Vue {
  head(){
    return {
      link: [{rel: 'alternate icon', type: 'image/x-icon',href: '/images/euphoria-icon.png'}],
      meta: [
        { hid: 'og:description', "property": "og:description", content: 'Euphoria Viet Nam' },
        { hid: 'twitter:description', name: "twitter:description", content: 'Euphoria Viet Nam' },
        { hid: 'og:image', "property": "og:image", content: '/images/euphoria-banner.png' },
        { hid: 'twitter:image', name: "twitter:image", content: '/images/euphoria-banner.png' }
      ],
    }
  }
}
</script>

<style lang="scss">
.container{
  margin-right: auto;
  margin-left: auto;
  align-items: center;

  @media screen and (min-width: 1200px) {
    max-width: 1140px !important;
  }

  @media screen and (min-width: 1800px) {
    max-width: 1800px !important;
  }

}

.btn-underline {
  font-size: inherit;
  appearance: none;
  background: transparent;
  border: 0;
  color: #008489;
  text-decoration: none;
  font-weight: 600;
  margin: 0;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}

.btn-primary {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  outline: none;
  padding: 14px 24px;
  border: none;
  background-color: #008489!important;
  color: #fff;
}

.lowercase {
  text-transform: lowercase;
}
</style>
