<template>
  <div class="error-page d-flex justify-content-center align-items-center flex-column">
    <img src="~/assets/icons/404 Page v02.svg" alt="">
    <div class="back" @click="backToHome"> Back To Home </div>
  </div>
</template>

<script>
export default {
  layout: "empty",
  props: ['error'],

  methods: {
    backToHome() {
      window.location = "/"
    }
  }
}
</script>

<style lang="scss">
.error-page{
  position: relative;
  img {
    width: 100%;
    max-height: 80vh;
  }
  .back{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 48px;
    background-color: $primary;
    border-radius: 16px;

    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
  }

}
</style>