<template>
    <div id="logo-only-layout">
        <div class="top-nav-bar">
            <nuxt-link class="top-nav-bar__logo" to="/">
                <img class="top-nav-bar__logo__img" src="~/assets/img/logo.png" alt="Image">
            </nuxt-link>
        </div>
        <nuxt />
        <footer-bar />
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import TopNavBar from '~/components/TopNavBar.vue';
import FooterBar from '~/components/FooterBar.vue';
@Component({
    components: {
        TopNavBar,
    }
})
export default class LogoOnlyLayout extends Vue {
    head() {
        return {
            link: [{ rel: 'alternate icon', type: 'image/x-icon', href: '/images/euphoria-icon.png' }],
            meta: [
                { hid: 'og:description', "property": "og:description", content: 'Euphoria Viet Nam' },
                { hid: 'twitter:description', name: "twitter:description", content: 'Euphoria Viet Nam' },
                { hid: 'og:image', "property": "og:image", content: '/images/euphoria-banner.png' },
                { hid: 'twitter:image', name: "twitter:image", content: '/images/euphoria-banner.png' }
            ],
        }
    }
}
</script>

<style lang="scss">
.container {
    margin-right: auto;
    margin-left: auto;
    align-items: center;

    @media screen and (min-width: 1200px) {
        max-width: 1140px !important;
    }

    @media screen and (min-width: 1800px) {
        max-width: 1800px !important;
    }

}

.footer {
    position: relative !important;
}

.top-nav-bar {
    height: 80px;
    box-shadow: rgb(235 235 235) 0px 1px 0px;

    &__logo {
        padding-left: 80px;
        display: inline-flex;
        align-items: center;
        height: 80px;
        
        img {
            height: 100px;
        }
    }
}
</style>