<template>
    <main class="main-container">
        <top-header />
        <nav-buttons  />
        <reservations-table :allBookings="allBookings" />
    </main>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TopHeader from "../../../components/Hosting/Reservations/TopHeader.vue"
import NavButtons from '~/components/Hosting/Reservations/NavButtons.vue';
import { Booking } from '~/modals/Booking/Booking';
import { plainToClass } from 'class-transformer';
import ReservationsTable from '~/components/Hosting/Reservations/ReservationsTable.vue';

@Component({
    layout: 'become-host',
    components: {
        TopHeader, NavButtons, ReservationsTable
    }
})
export default class Reservations extends Vue {
    allBookings: Booking[] = [];

    async asyncData({ $api }) {
        let allBookings: Booking[] = []
        try {
            const res = await $api.booking.getAllBookingsByOwner()
            if (res.data.data.length > 0) {
                res.data.data.map(booking => {
                    allBookings.push(plainToClass(Booking, booking));
                })
            }
        } catch (error) {
            console.log(error);
        }

        return {allBookings}
    }
}
</script>

<style lang="scss" scoped>
.main-container{
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
    max-width: 100%;
}
</style>