<template>
  <div class="forums">
    <tab-category :categories="categories" :currentCategory="currentCategory" @category-id="updateCategoryId"/>
    <list-card-item :listHomes="listHomes" v-show="!isLoading" />
    <div class="skeleton" v-show="isLoading">
      <skeleton-home v-for="(item, idx) in 5" :key="idx" />
    </div>
    <client-only>
      <infinite-loading spinner="spiral" :distance="300" @infinite="fetchHome" ref="infiniteLoading"></infinite-loading>
    </client-only>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'nuxt-property-decorator';
import TabCategory from '~/components/TabCategory.vue';
import ListCardItem from '~/components/ListCardItem.vue';
import FooterBar from '~/components/FooterBar.vue';
import VueInfiniteLoading from '~/components/VueInfiniteLoading.vue';
import { plainToClass } from "class-transformer";
import { namespace } from "vuex-class";

import FullModal from '~/argon-component/FullModal.vue';
import SkeletonHome from "~/components/SkeletonHome.vue"

import { Home } from '~/modals/Home/Home';
import { Category } from '~/modals/Home/Category';

const CategoryStore = namespace('category');

@Component({
  components: {
    TabCategory,
    ListCardItem,
    FooterBar,
    FullModal,
    SkeletonHome,
    VueInfiniteLoading
  },
})
export default class Forums extends Vue {
  @CategoryStore.State categories;
  listHomes: any = [];
  isLoading = false;
  currentCategory = 'Pension';
  isFirstFetch = false;
  page = 0;
  currentIdCategory = -1;

  async asyncData({ $axios, $api }) {
  }

  fetch() {
  }

  async created() {

  }

  mounted() {
    if (this.$route.hash == '') {
      this.currentCategory = 'Home';
      let idxCate = this.categories.findIndex(c => c.title == this.currentCategory);
      this.currentIdCategory = this.categories[idxCate < 0 ? 0 : idxCate].id;
    }
    else {
      this.currentCategory = this.$route.hash.slice(1);
    }
  }

  handleLogout() {
    this.$auth.logout();
  }

  @Watch('$route.hash')
  onRoueHashChanged(newVal: string, oldVal: string) {
    this.currentCategory = newVal.slice(1);
    this.isFirstFetch = true;
    this.listHomes = [];
    this.page = 0;
    if (this.$refs.infiniteLoading) {
      (this.$refs.infiniteLoading as any).stateChanger.reset()
    }
  }


  async fetchHome($state) {
    if(this.currentIdCategory == -1) return;
    this.page++;
    setTimeout(async () => {
      const data = await this.$api.home.getHomeByCategoryHOME(this.currentIdCategory, 5, this.page)
      if (data["data"]["data"].length > 0) {
        const data1 = data["data"]["data"]
        for (let item of data1) {
          this.listHomes.push(plainToClass(Home, item))
        }
        $state.loaded();
      }
      else {
        $state.complete();
      }
    }, 1000)

  }

  updateCategoryId(id){
    this.currentIdCategory = id;
  }

}
</script>

<style lang="scss" scoped>
.forums {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.skeleton {
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  max-width: 100%;
  overflow: hidden;
}
</style>
