<template>
    <div class="user-profile">
        <div class="user-profile__left">
            <div class="user-profile__left__photo">
                <img class="user-profile__left__photo__img" v-if="!user.avatar" src="https://a0.muscache.com/defaults/user_pic-225x225.png?v=3" alt="">
                <img class="user-profile__left__photo__img" v-else :src="user.avatar" alt=""/>

                <nuxt-link class="user-profile__left__photo__btn" to="/users/edit-photo" v-if="checkAccess">Update photo</nuxt-link>
            </div>
            <div class="user-profile__left__info">
                <div class="user-profile__left__info__detail" v-if="$auth.$state.user.role !== 'ROLE_CLIENT'">
                    <b-icon icon="star" scale="1.5"></b-icon>
                    <button class="user-profile__left__info__detail__btn">360 reviews</button>
                </div>
                <div class="user-profile__left__info__detail" v-if="profile.verified">
                    <b-icon icon="shield-check" scale="1.5"></b-icon>
                    <button class="user-profile__left__info__detail__btn">Identity verified</button>
                </div>
                <div class="user-profile__left__info__verify" v-if="!profile.verified && checkAccess">
                    <b-icon icon="shield-check" scale="1.5"></b-icon>
                    <h2 class="user-profile__left__info__verify__title">Identity verification</h2>
                    <p class="user-profile__left__info__verify__p">Show others you’re really you with the identity verification badge.</p>
                    <a href="" class="user-profile__left__info__verify__btn">Get the badge</a>
                </div>
                <hr>
                <div class="user-profile__left__info__confirmed">
                    <h1>{{user.name}} confirmed</h1>
                    <div class="user-profile__left__info__confirmed__item" v-if="profile.identity">
                        <b-icon icon="check-lg" scale="0.8"></b-icon>
                        <span class="user-profile__left__info__confirmed__item__text">Identity</span>
                    </div>
                    <div class="user-profile__left__info__confirmed__item" v-if="profile.email">
                        <b-icon icon="check-lg" scale="0.8"></b-icon>
                        <span class="user-profile__left__info__confirmed__item__text">Email address</span>
                    </div>
                    <div class="user-profile__left__info__confirmed__item" v-if="profile.phone">
                        <b-icon icon="check-lg" scale="0.8"></b-icon>
                        <span class="user-profile__left__info__confirmed__item__text">Phone number</span>
                    </div>
                </div>
                <div class="user-profile__left__info__more" v-if="!checkAccess">
                    <button class="user-profile__left__info__more__btn btn-underline">Learn more</button>
                    <span>about how confirming account info helps keep the Airbnb community secure.</span>
                </div>
            </div>
        </div>
        <div class="user-profile__right">
            <div class="user-profile__right__general">
                <h1 class="user-profile__right__general__header">Hi, I'm {{user?.name}}</h1>
                <p class="user-profile__right__general__date">Joined in 2016</p>
                <button :class="isEdit ? 'btn-underline btn-disabled' : 'btn-underline'" @click="setIsEdit" v-if="checkAccess">Edit profile</button>
            </div>
            <div class="user-profile__right__detail" v-if="!isEdit">
                <h2 class="user-profile__right__detail__about" v-if="profile.about || user.address || profile.work">About</h2>
                <p class="user-profile__right__detail__info" v-if="profile.about.length < 250">
                    {{profile.about}}
                </p>
                <p class="user-profile__right__detail__info" v-if="profile.about.length > 250 && isExpand">
                    {{profile.about.slice(0,250)}}
                    <span>...</span>
                    <button class="user-profile__right__detail__btn btn-underline" @click="showMore">read more</button>
                </p>
                <p class="user-profile__right__detail__info" v-if="profile.about.length > 250 && !isExpand">
                    {{profile.about}}
                    <button class="user-profile__right__detail__btn btn-underline" @click="showMore">read less</button>
                </p>
                <div class="user-profile__right__info" v-if="user.address">
                    <b-icon icon="house-door-fill"></b-icon>
                    <span class="user-profile__right__info__text">Lives in {{user?.address}}</span>
                </div>
                <div class="user-profile__right__info" v-if="profile.work">
                    <b-icon icon="briefcase-fill"></b-icon>
                    <span class="user-profile__right__info__text">Work: {{profile.work}}</span>
                </div>
            </div>

            <form class="user-profile__right__edit" v-else>
                <div class="user-profile__right__edit__item">
                    <label for="about" class="user-profile__right__edit__item__label">About</label>
                    <div class="user-profile__right__edit__item__box">
                        <textarea id="about" rows="4" v-model="profile.about"></textarea>
                    </div>
                </div>
                <div class="user-profile__right__edit__item">
                    <label for="location" class="user-profile__right__edit__item__label">Location</label>
                    <div class="user-profile__right__edit__item__box">
                        <input type="text" id="location">
                    </div>
                </div>
                <div class="user-profile__right__edit__item">
                    <label for="work" class="user-profile__right__edit__item__label">Work</label>
                    <div class="user-profile__right__edit__item__box">
                        <input type="text" id="work" v-model="profile.work">
                    </div>
                </div>
                <div class="user-profile__right__edit__btn-container">
                    <button class="user-profile__right__edit__btn-container__cancel btn-underline" @click="setIsEdit">Cancel</button>
                    <button class="user-profile__right__edit__btn-container__save">Save</button>
                </div>
            </form>

            <div class="user-profile__right__listing">
                <home-listings :name="user.name" :listHomes="listHomes" />
            </div>
            <div v-if="$auth.$state.user.role !== 'ROLE_CLIENT'">
                <hr>
                <div class="user-profile__right__review">
                    <h2 class="header">
                        <b-icon icon="star-fill" scale="0.6"></b-icon> 216 reviews
                    </h2>
                    <list-review-card />
                </div>
            </div>
            
            <div v-if="checkAccess">
                <hr>
                <nuxt-link to="/users/reviews" class="btn-underline">Reviews by you</nuxt-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { plainToClass } from 'class-transformer';
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import HomeListings from '../../../../components/HomeListings.vue';
import ListReviewCard from '../../../../components/ListReviewCard.vue';
import { UserInfo } from '~/modals/User/UserInfo';
import { Home } from '~/modals/Home/Home';

@Component({
    components: {
        HomeListings, ListReviewCard
    }
})
export default class Profile extends Vue {
    profile = {
        name: "Nga",
        img: '',
        verified: false,
        identity: false,
        email: false,
        phone: true,
        about: "Hi, Victoria & Jonathan here. Co-founders and critter caregivers here at Grateful Meadows. We strive to create a relaxing, clean, and memorable experience for all our guests. Two simple principles we live by are 'leave every place better than when you arrived' & 'be kind'. As much as we enjoy traveling, our favorite place to be is at Grateful Meadows.",
        address: 'Danang, Vietnam',
        work: 'Jonathan works in Real Estate & Victoria works as an Architectural Drafter',
        review: []
    }
    isExpand: boolean = true;
    isEdit: boolean = false;
    user: UserInfo = {};
    listHomes: Home[] = [];

    showMore() {
        this.isExpand = !this.isExpand;
    }

    setIsEdit() {
        this.isEdit = !this.isEdit;
    }

    get checkAccess() {
        if (this.$auth.loggedIn) {
            if (this.$auth.$state.user.id === this.$route.params.slug) {
                return true
            }
        }
        return false
    }
    
    async asyncData({ params, error, $api }) {
        let user: UserInfo = {}
        let listHomes: Home[] = []
        try {
            const response = await $api.user.getUserInfo(params.slug);
            const res = await $api.home.getAllHomeByUser(params.slug);
            user = plainToClass(UserInfo, response.data.data);
            if (res.data.data.length > 0) {
                res.data.data.map(home => {
                    listHomes.push(plainToClass(Home, home));
                })
            }
            
        } catch (err) {
            error({ statusCode: 404, message: 'Not Found' })
            console.log(err);
        }
        return { user, listHomes }
    }
}
</script>

<style lang="scss">
.btn-disabled {
    cursor: not-allowed !important;
    color: rgb(221, 221, 221) !important;
    text-decoration: underline !important;
}

.clicked {
    box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset !important;
    box-sizing: border-box !important;
    color: rgb(34, 34, 34) !important;
    padding: 4px !important;
    border-radius: 8px !important;
}

hr {
    margin-top: 32px;
    margin-bottom: 32px;
}

.header {
    font-size: 25px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 30px;
}

.btn-underline {
    font-size: inherit;
    appearance: none;
    background: transparent;
    border: 0;
    color: #222222;
    text-decoration: underline;
    font-weight: 600;
    margin: 0;
    padding: 0;

    &:hover {
        color: #000;
        text-decoration: underline;
    }
}
.user-profile {
    color: rgb(34,34,34);
    margin: 48px auto 32px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1064px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 80px;

    &__left {
        flex: 1 0 30%;
        margin-left: 0;
        margin-right: 10px;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 12px;
        max-width: 308px;
        padding: 24px;
        height: fit-content;

        &__photo {
            width: 128px;
            margin: auto auto 32px;

            &__img{
                height: 128px;
                width: 128px;
                border-radius: 50%;
                margin-bottom: 8px;
            }

            &__btn {
                margin-left: 6px;
                color: #222222;
                text-decoration: underline;
                font-weight: 600;
            }
        }

        &__info {
            &__detail{
                margin-bottom: 16px;
                &__btn{
                    color: #222222;
                    border: 0;
                    font-weight: 600;
                    outline: none;
                    background-color: transparent;
                    font-size: 18px;
                    margin-left: 5px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            &__verify {
                &__title {
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 800;
                    margin-bottom: 8px;
                    margin-top: 15px;
                }
                &__p {
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 30px;
                }
                &__btn {
                    text-align: center;
                    text-decoration: none;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 600;
                    border-radius: 8px;
                    border: 1px solid #222222;
                    outline: none;
                    padding: 10px 23px;
                    color: #222222;

                    
                }
            }
            &__confirmed {
                margin-bottom: 16px;
                h1 {
                    margin-bottom: 24px;
                    font-size: 25px;
                    line-height: 22px;
                    font-weight: 600;
                }
                &__item {
                    margin-bottom: 16px;
                    &__text {
                        font-size: 18px;
                        line-height: 20px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    &__right {
        flex: 2.5 0 60%;
        margin-left: 60px;
        margin-bottom: 60px;

        &__general {
            margin-bottom: 48px;

            &__header {
                font-size: 35px;
                line-height: 30px;
                font-weight: 600;
            }
            &__date {
                font-size: 16px;
                line-height: 18px;
                color: #717171;
                margin-bottom: 15px;
            }
        }
        &__detail {
            &__about{
                margin-bottom: 25px;
                font-size: 25px;
                line-height: 26px;
                font-weight: 600;
            }
        }
        &__info {
            margin-top: 10px;
            &__text {
                margin-left: 10px;
            }
        }

        &__edit {
            color: rgb(34,34,34);

            &__item {
                margin-bottom: 32px;
                display: flex;
                flex-direction: column;

                &__label {
                    font-size: 18px;
                    line-height: 20px;
                    font-weight: 400;
                }

                &__box {
                    margin-top: 8px;
                    box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
                    box-sizing: border-box;
                    color: rgb(34,34,34);
                    padding: 4px;
                    border-radius: 8px;

                    textarea, input {
                        width: 100%;
                        border: none;
                        color: inherit;
                        outline: none;
                        margin: 0;
                        background-color: transparent;
                        padding: 8px;
                        appearance: none;
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
            }

            &__btn-container {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__cancel {
                    font-size: 18px;

                    &:hover {
                        border: none;
                        background-color: #f7f7f7;
                        color: #000;
                    }
                }

                &__save {
                    margin: 0;
                    text-align: center;
                    text-decoration: none;
                    font-size: 18px;
                    line-height: 20px;
                    font-weight: 600;
                    border-radius: 8px;
                    outline: none;
                    padding: 14px 24px;
                    border: none;
                    background: #222222;
                    color: #fff;

                    &:hover {
                        border: none;
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
        }
    }
}
</style>