<template>
    <div class="room">
        <room-images :home="home" :rating="rating" @open-show-all-review="toggleShowAllReview"/>
        <div class="main">
            <room-detail :home="home" :range="range" @date-change="onDateChange" />
            <reservation-form :range="range" @date-change="onDateChange" :home="home" :rating="rating" @open-show-all-review="toggleShowAllReview"/>
        </div>
        <hr>
        <div v-if="(rating.reviewResponses?.length !== 0)">
            <review-room :rating="rating" @open-show-all-review="toggleShowAllReview" />
            <hr>
        </div>
        <map-address-room :home="home" />
        <hr>

        <full-modal v-if="showReviewDetail" v-scroll-lock="showReviewDetail">
            <show-all-reviews-popup :rating="rating" @close-show-all-review="toggleShowAllReview" />
        </full-modal>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import RoomImages from '~/components/RoomDetail/RoomImages.vue';
import RoomDetail from '~/components/RoomDetail/RoomDetail.vue';
import ReservationForm from '../../../components/RoomDetail/ReservationForm.vue';
import ReviewRoom from '~/components/RoomDetail/ReviewRoom.vue';
import MapAddressRoom from '../../../components/RoomDetail/MapAddressRoom.vue';
import { Home } from '~/modals/Home/Home';
import { plainToClass } from 'class-transformer';
import { Rating } from '~/modals/Home/Rating';
import FullModal from '~/argon-component/FullModal.vue';
import ShowAllReviewsPopup from '~/components/RoomDetail/ShowAllReviewsPopup.vue'

@Component({
    components: {
        RoomImages,
        RoomDetail,
        ReservationForm,
        ReviewRoom,
        MapAddressRoom,
        FullModal,
        ShowAllReviewsPopup,
    }
})

export default class Rooms extends Vue {
    home: any = {};
    rating: any = {};

    range = {
        start: new Date(String(this.home.startAt)),
        end: new Date(String(this.home.startAt))
    };

    showReviewDetail = false;
    

    onDateChange(dates) {
        this.range = dates
    }

    toggleShowAllReview(value) {
        this.showReviewDetail = value
    }

    created() {
        if (this.home.startAt && this.home.endAt) {
            this.range.start = new Date(String(this.home.startAt))
            this.range.end = new Date(String(this.home.endAt))
        }
    }

    async asyncData({ $api, params, error }) {
        let home: Home = {}
        let rating: Rating = {}

        try {
            const response = await $api.home.getHomeDetail(params.slug)
            home = plainToClass(Home, response.data.data)

            const res = await $api.rating.getRatingHome(params.slug);
            rating = plainToClass(Rating, res.data.data);

        } catch (err) {
            error({ statusCode: 404, message: 'Not Found'})
            console.log(err);
        }
        return { home, rating }
    }
}
</script>

<style lang="scss">
    .room {
        margin: 25px 125px;

        .main {
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 100%;
        }
    }

    .show-info-btn {
        font-size: 17px;
        background: transparent;
        appearance: none;
        border: 0;
        cursor: pointer;
        margin: 0;
        padding: 0;
        user-select: auto;
        color: rgb(34, 34, 34);
        text-decoration: underline;
        border-radius: 4px;
        font-weight: 600;
        outline: none;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: rgb(0, 0, 0);
        }
    }

</style>