<template>
  <ValidationObserver class="intro-create-home">
    <select-box-with-validation label="Thể loại" rules="required" name="Category Room" obligate="true" v-model="dataHome.category"
      :listCategories="getCategories" />
    <input-with-validation v-model="dataHome.name" rules="required" name="Name Room" class="mt-3" label="Name Room" obligate="true"
      placeholder="Name Room" />
    <input-with-validation v-model="dataHome.address" rules="required" name="Address Room" class="mt-3" label="Address Room" obligate="true"
      placeholder="Address Room" />
    <text-area-with-validation v-model="dataHome.description" rules="required" name="Description Room" class="mt-3" label="Description Room" obligate="true"
      placeholder="Description Room" />
  </ValidationObserver>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'nuxt-property-decorator';
import { ValidationProvider, ValidationObserver } from 'vee-validate';
import { Home } from '~/modals/Home/Home'
import InputWithValidation from '~/components/Validator/InputWithValidation.vue';
import TextAreaWithValidation from '~/components/Validator/TextAreaWithValidation.vue';
import SelectBoxWithValidation from '~/components/Validator/SelectBoxWithValidation.vue';

@Component({
  components: {
    ValidationProvider,
    ValidationObserver,
    InputWithValidation,
    TextAreaWithValidation,
    SelectBoxWithValidation
  }
})
export default class IntroCreateHome extends Vue {
  listCategories = [];
  dataHome: Home = new Home();

  @Watch('dataHome')
  onDataHomeChange(newVal, oldVal){
    console.log(newVal)
  }

  get getCategories() {
    return this.$store.state.category.categories;
  }

  created() {

  }

  mounted() {

  }

  show(){
    console.log(this.dataHome)
  }

}
</script>

<style lang="scss" scoped>

</style>