<template>
  <ValidationObserver>
    <input type="file" multiple id="img" name="img" accept="image/png, image/jpeg, image/jpg" @input="onPickFile" />
  </ValidationObserver>

</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';

import { ValidationProvider, ValidationObserver } from 'vee-validate';

@Component({
  components: {
    ValidationProvider,
    ValidationObserver
  }
})
export default class UploadImageCreateHome extends Vue {
  async onPickFile(e) {
    let data = new FormData();
    const files = e.target.files;
    if (files.length > 0) {
      console.log(files)
      for (let i = 0; i < files.length; i++) {
        data.append('files', files[i])
      }
      const headers = { 'Content-Type': 'multipart/form-data' };
      const postImage = await this.$axios.post('files', data, { headers })
      if(postImage["data"]["data"] > 0){
        this.$emit('addImage', postImage["data"]["data"])
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>