<template>
  <div class="intro-create-home">
    <div class="intro-create-home--list-select">
      <select-box-with-validation class="intro-create-home--list-select__item" :label="item.title" rules="required"
        :name="item.title" obligate="true" :listCategories="item['data']" v-for="(item, idx) in listOptionsHome" :key="idx"/>
    </div>
  </div>
</template>

<script lang="ts">
import { namespace } from "vuex-class";
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import { ValidationProvider, ValidationObserver } from 'vee-validate';
import SelectBoxWithValidation from '~/components/Validator/SelectBoxWithValidation.vue';

const CategoryStore = namespace('category');
@Component({
  components: {
    ValidationProvider,
    ValidationObserver,
    SelectBoxWithValidation
  }
})
export default class UtilityComponent extends Vue {
  @CategoryStore.State listOptionsHome;
  listOptions: any = [];
  arr :any = []
  fetch(){

  }

  created() {
    console.log('listOptionsHome', this.listOptionsHome);
  }
}
</script>

<style lang="scss" scoped>

</style>