<template>
    <div class="account-settings">
        <section class="account-settings__general-info">
            <h1 class="account-settings__general-info__title">Account</h1>
            <div class="account-settings__general-info__info">
                <span class="account-settings__general-info__info__name">{{$auth.$state.user.user_info.name}}, </span>
                <span class="account-settings__general-info__info__email">{{$auth.$state.user.email}} · </span>
                <nuxt-link class="account-settings__general-info__info__profile" :to="localePath({ name: 'users-show-slug', params: { slug: $auth.$state.user.id } })" >
                    Go to profile
                </nuxt-link>
            </div>
        </section>
        <div class="account-settings__setting-container">
            <account-setting-card v-for="card in listCard" :key="card.id" :card="card" />
        </div>
        <div class="account-settings__footer">
            <div class="account-settings__footer__deactivate">Need to deactivate your account?</div>
            <nuxt-link to="/" class="account-settings__footer__deactivate-link">
                Take care of that now
            </nuxt-link>
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import AccountSettingCard from '../../components/AccountSettingCard.vue'
@Component({
    middleware: ['protect-author'],
    components: {
        AccountSettingCard
    }
})
export default class Account extends Vue {
    listCard = [
        {
            id: 'b1001',
            label: 'Personal info',
            description: 'Provide personal details and how we can reach you',
            icon: 'personal-info.svg',
            link: 'account-settings/personal-info'
        },
        {
            id: 'b1002',
            label: 'Login & security',
            description: 'Update your password and secure your account',
            icon: 'login-security.svg',
            link: 'account-settings/login-security'
        },
        {
            id: 'b1003',
            label: 'Payments and payouts',
            description: 'Review payments, payouts, coupons, gift cards, and taxes',
            icon: 'payment.svg',
            link: '/'
        },
    ]
}

</script>

<style lang="scss" scoped>
.account-settings{
    max-width: 1080px;
    margin: 0 auto;
    width: auto;
    padding: 0 24px;
    color: #222222;

    &__general-info {
        margin-top: 64px;
        margin-bottom: 56px;
        margin-left: 16px;

        &__title {
            margin: 0;
            padding: 0;
            font-size: 35px;
            line-height: 36px;
            font-weight: 600;
        }

        &__info {
            font-size: 18px;
            line-height: 24px;
            margin-top: 8px;
            margin-bottom: 16px;

            &__name {
                font-weight: 600;
            }

            &__profile {
                font-size: inherit;
                font-style: inherit;
                line-height: inherit;
                text-decoration: underline;
                color: #222222;
                border-radius: 4px;
                font-weight: 600;
                outline: none;

                &:hover {
                    color: #000;
                }
            }
        }
    }

    &__setting-container {
        margin-left: -8px;
        margin-right: -8px;
        padding: 0 8px;
        display: flex;
        flex-wrap: wrap;
    }

    &__footer {
        margin-top: 52px;
        margin-bottom: 60px;
        text-align: center;

        &__deactivate{
            margin-bottom: 7px;
            font-size: 16px;
            line-height: 18px;
            font-weight: 400;
            color: #000;
        }

        &__deactivate-link {
            color: rgb(34, 34, 34);
            text-decoration: underline;
            font-weight: 600;
            outline: none;
        }
    }
}
</style>