<template>
    <div class="container">
        <div class="container__main">
            <div class="container__main__title">
                <h1>Wishlists</h1>
            </div>
            <div class="container__main__wishlist">
                <h2>Create your first wishlist</h2>
                <p>As you search, tap the heart icon to save your favorite places to stay or things to do to a wishlist.</p>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

@Component({
    middleware: ['protect-author'],
    })
    export default class Wishlists extends Vue {
        
    }
</script>

<style lang="scss" scoped>
.container {
    &__main {
        margin: 36px 0 24px;

        &__title {
            margin-bottom: 36px;

            h1 {
                margin-bottom: 15px;
                margin-top: 20px;
                font-weight: 800;
                font-size: 32px;
                line-height: 36px;
                color: rgb(34, 34, 34);
            }
        }

        &__wishlist{
            margin-top: 32px;
            max-width: 496px;

            h2 {
                margin: 0;
                padding: 0;
                font-size: 22px;
                line-height: 26px;
                font-weight: 600;
                color: rgb(34, 34, 34);
            }

            p {
                margin-top: 16px;
                font-size: 14px;
                line-height: 20px;
                color: rgb(113, 113, 113);
                margin-bottom: 24px;
            }
        }
    }
}
</style>